{% extends "@ezdesign/ui/layout.html.twig" %}

{% trans_default_domain 'role' %}

{% block body_class %}ez-role-view{% endblock %}

{% block breadcrumbs %}
    {% include '@ezdesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { url: path('ezplatform.role.list'), value: 'role.breadcrumb.list'|trans|desc('Roles') },
        { value: 'role.breadcrumb.view.identifier'|trans({'%identifier%': role.identifier })|desc('Role "%identifier%"') }
    ]} %}
{% endblock %}

{% block header %}
    {% include '@ezdesign/ui/page_title.html.twig' with {
        title: 'role.view.view.title'|trans({'%identifier%': role.identifier})|desc('Role "%identifier%"'),
    } %}
{% endblock %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-body">
            {% embed '@ezdesign/ui/component/tab/tabs.html.twig' with {
                tabs: [
                    { id: 'policies', label: 'policy.view.list.title'|trans|desc('Policies'), active: true },
                    { id: 'users-and-groups', label: 'role_assignment.view.list.title.count'|trans({'%count%': assignments|length})|desc('Assignments (%count%)') },
                ]
            } %}
                {% block tab_content %}
                    {% embed '@ezdesign/ui/component/tab/tab_pane.html.twig' with { id: 'policies', active: true } %}
                        {% block content %}
                            {{ render(controller('EzSystems\\EzPlatformAdminUiBundle\\Controller\\PolicyController::listAction', {
                                roleId: role.id,
                                policyPage: policy_page,
                                routeName: route_name
                            })) }}
                        {% endblock %}
                    {% endembed %}
                    {% embed '@ezdesign/ui/component/tab/tab_pane.html.twig' with { id: 'users-and-groups', active: false } %}
                        {% block content %}
                            {{ render(controller('EzSystems\\EzPlatformAdminUiBundle\\Controller\\RoleAssignmentController::listAction', {
                                roleId: role.id,
                                assignmentPage: assignment_page,
                                routeName: route_name
                            })) }}
                        {% endblock %}
                    {% endembed %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-admin-ui-role-view-js', null, 'ezplatform') }}
    {{ encore_entry_script_tags('ezplatform-admin-ui-tabs-js', null, 'ezplatform') }}
{% endblock %}
