{% extends "@ezdesign/ui/layout.html.twig" %}

{% trans_default_domain 'ezplatform_url_management' %}

{% block body_class %}ez-url-management{% endblock %}

{% block breadcrumbs %}
    {% include '@ezdesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { value: 'url_management.breadcrumb.list'|trans|desc('URL Management') },
    ]} %}
{% endblock %}

{% block title %}
    {{ 'url_management.view.list.title'|trans|desc('URL Management') }}
{% endblock %}

{% block header %}
    {% include '@ezdesign/ui/page_title.html.twig' with {
        title: 'url_management.view.list.title'|trans|desc('URL Management'),
    } %}
{% endblock %}

{% block content %}
    <section class="container ez-container">
        {{ ez_render_component_group('link-manager-block') }}
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-admin-ui-url-management-js', null, 'ezplatform') }}
{% endblock %}
