<div class="row justify-content-center align-items-center mb-2">
    <span>
        {{ 'pagination.viewing'|trans({
            '%viewing%': pager.currentPageResults|length,
            '%total%': pager.nbResults}, 'pagination')|desc('Viewing <strong>%viewing%</strong> out of <strong>%total%</strong> items')|raw }}
    </span>
</div>
<div class="row justify-content-center align-items-center mb-3">
    {{ pagerfanta(pager, 'ez', paginatonParams) }}
</div>
