<td colspan="100%">
    <div class="ez-alert ez-alert--info">
        <svg class="ibexa-icon ibexa-icon--small">
            <use xlink:href="{{ ez_icon_path('lock') }}"></use>
        </svg>
        {{ 'content.hidden.message'|trans({
            '%contentId%' : contentId
        })|desc('You don\'t have permissions to view this Content item (contentID: %contentId%).') }}
    </div>
</td>
