{% extends '@ezdesign/content/content_view_fields.html.twig' %}

{% block extras %}
    {% set current_language = app.request.get('languageCode') ?: content.prioritizedFieldLanguageCode %}

    {% if languages|length > 1  %}
    <form class="form-inline ez-content-preview-collapse collapse show">
        <select class="form-control ez-location-language-change">
            {% for language in languages %}
                <option value="{{ path('_ez_content_view', { 'contentId': location.contentId, 'locationId': location.id, 'languageCode': language.languageCode}) }}"
                    {% if current_language == language.languageCode %} selected="selected" {% endif %}
                >{{ language.name }}</option>
            {% endfor %}
        </select>
    </form>
    {% endif %}
{% endblock %}
