<div class="row justify-content-center align-items-center mb-2 ez-pagination__spacing">
    <span class="ez-pagination__text">
        {{ 'pagination.viewing'|trans({
            '%viewing%': pager.currentPageResults|length,
            '%total%': pager.nbResults}, 'pagination')|desc('Viewing %viewing% out of %total% items')|raw }}
    </span>
</div>
<div class="row justify-content-center align-items-center mb-3 ez-pagination__btn mb-4">
    {{ pagerfanta(pager, 'ez', paginaton_params) }}
</div>
