.c-popup {
    &__content {
        width: 100%;
        height: 100%;
    }

    & &__btn--close {
        @include close-button();
    }

    &__header {
        @include modal-header();
    }

    &__body {
        padding: calculateRem(16px) 0;

        .modal-body {
            padding: 0;
        }
    }

    &__footer {
        @include modal-footer();
    }


    &__headline {
        max-width: calc(100% - #{calculateRem(56px)});
    }

    &__title {
        line-height: 1;
        display: block;
        font-size: calculateRem(24px);
    }

    &__subtitle {
        display: inline-block;
        color: #646464;
        font-size: calculateRem(14px);
        font-weight: 400;
        position: relative;
        top: -calculateRem(4px);
        left: calculateRem(1px);
    }

    &--no-header {
        .c-popup {
            &__header {
                background: $ibexa-white;
            }
            
            &__footer {
                background: $ibexa-white;
            }
        }
    }
}
