.c-tooltip-popup {
    background: $ibexa-white;
    box-shadow: 0 0 calculateRem(30px) 0 rgba($ibexa-black, 0.35);
    position: relative;
    border-radius: $ibexa-border-radius;
    overflow: hidden;

    &__header {
        position: relative;
        padding: $modal-header-padding;
        background: $ibexa-color-base-pale;
    }

    &__title {
        margin: 0;
    }

    &__close {
        position: absolute;
        display: flex;
        align-items: center;
        top: calculateRem(16px);
        right: calculateRem(16px);
        cursor: pointer;

        .ez-icon {
            stroke: $ibexa-black;
            opacity: 0.5;
            transition: opacity 0.3s $ez-admin-transition;
        }

        &:hover,
        &:focus {
            outline: none;

            .ez-icon {
                opacity: 1;
            }
        }
    }

    &__content {
        padding: $modal-inner-padding;
    }

    &__footer {
        background: $ibexa-color-base-pale;
        padding: $modal-footer-padding;
    }
}
