.c-thumbnail {
    position: relative;

    &__icon-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: calculateRem(30px);
        height: calculateRem(30px);
        background: $ibexa-white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
