{
    "presets":[
        "react",
        ["env", {
            "targets": {
                "browsers": ["last 1 version"]
            }
        }]
    ],
    "plugins": [
        "transform-react-remove-prop-types"
    ]
}
