<phpunit

        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="bootstrap.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        colors="true">
    <testsuites>
        <testsuite name="EzSystems\EzPlatformAdminUiBundle">
            <directory>src/bundle/Tests/</directory>
        </testsuite>
        <testsuite name="EzSystems\EzPlatformAdminUiBundle">
            <directory>src/bundle/Tests/</directory>
        </testsuite>
        <testsuite name="Ibexa\Tests\AdminUi">
            <directory>tests/lib/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
            <exclude>
                <directory>src/bundle/Tests/</directory>
                <directory>src/lib/Tests/</directory>
                <directory>tests/lib/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
