<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="bootstrap.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        colors="true">
    <testsuites>
        <testsuite name="EzSystems\EzPlatformAdminUiBundle">
            <directory>tests/bundle</directory>
        </testsuite>
        <testsuite name="EzSystems\EzPlatformAdminUi">
            <directory>tests/lib</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
