{% trans_default_domain 'content_type' %}

<div class="alert alert-info mt-3 mx-5 ez-alert ez-alert--info" role="alert">
    <svg class="ez-icon ez-icon--small ez-icon-warning">
        <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#warning"></use>
    </svg>

    {{ 'content_type.view.edit.notranslatable_fields_disabled'|trans|desc('Some of the fields are disabled when translating a Content Type. To modify them, please edit the Content Type in the main language') }}
</div>
