.c-drop-area {
    &__message {
        line-height: calculateRem(60px);

        &--main {
            cursor: auto;
            font-size: calculateRem(16px);
        }
    }

    &__input--hidden {
        display: none;
    }
}
