.m-mfu {
    font-weight: normal;

    &,
    * {
        box-sizing: border-box;
    }

    &__btn--upload {
        display: inline-flex;
        text-align: center;
        cursor: pointer;
        letter-spacing: calculateRem(0.5px);
        color: $ibexa-white;
        font-size: calculateRem(14px);
        transition: background 0.3s $ibexa-admin-transition;
        align-items: center;
        height: calculateRem(32px);
        width: calculateRem(32px);
        justify-content: center;
        border: none;

        &:hover,
        &:focus {
            .ez-icon {
                fill: $ibexa-color-primary;
            }
        }

        &[disabled],
        &[disabled]:hover,
        &[disabled]:focus {
            cursor: not-allowed;
            opacity: 0.3;
        }
    }
}
