.c-upload-list {
    &__title {
        background: $ez-ground-primary;
        font-weight: bold;
        line-height: calculateRem(50px);
        padding: 0 calculateRem(16px);
        border-radius: calculateRem(4px) calculateRem(4px) 0 0;
    }

    .c-upload-list-item + .c-upload-list-item {
        border-top: calculateRem(1px) solid $ez-ground-primary;
    }
}
