.c-upload-popup {
    background: rgba($ibexa-black, 0.35);
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    color: $ibexa-color-font;

    .c-tooltip-popup {
        width: 100%;
        max-width: calculateRem(774px);
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 0 calculateRem(24px);

        &__header {
            @include modal-header();

            padding: $modal-header-padding-y $modal-header-padding-x;
            border-bottom: $modal-header-border-width solid $modal-header-border-color;
        }

        &__title {
            @include modal-title();
        }

        &__content {
            @include modal-body();

            padding: $modal-inner-padding;
        }
    }

    .c-upload-list {
        overflow-y: auto;
        max-height: 30vw;
    }
}
