<div class="ez-update-policy ez-update-policy--action form-group">
    <div class="ez-update-policy__action-wrapper">
        {{ form_label(form.limitationValues) }}
        {{ form_widget(form.limitationValues, {
            attr: {
                class: 'ez-update-policy__source-input',
            }
        }) }}

        {{ form_errors(form.limitationValues) }}
    </div>
</div>
