{% trans_default_domain 'content_type' %}

<div class="modal fade" id="delete-content-type-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'content_type.modal.title'|trans|desc('Please confirm') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{ 'content_type.field_definitions.modal.message'|trans|desc('Do you want to delete selected field definitions?') }}</p>
            </div>
            <div class="modal-footer">
                {{ form_widget(form.removeFieldDefinition, { attr: { class: 'btn btn-danger'}, label: 'modal.delete'|trans|desc('Delete')}) }}
                <button type="button" class="btn btn-secondary btn--no" data-dismiss="modal">{{ 'modal.cancel'|trans|desc('Cancel') }}</button>
            </div>
        </div>
    </div>
</div>
