<li class="mt-2">
    {{ include('@ezdesign/ui/tag.html.twig', {
        'content': content_name,
        'is_loading_state': false,
        'tag_attributes': {
            'data-content-id': content_id,
        }
    }) }}
</li>
