<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block meta %}
            <meta name="LocationID" content="{{ locationId }}" />
        {% endblock %}
    </head>
    <body></body>
</html>
