{% set has_search = has_search|default(false) %}

<div class="ibexa-input-text-wrapper {{ has_search ? 'ibexa-input-text-wrapper--search' }}">
    {% block content %}{% endblock %}
    <div class="ibexa-input-text-wrapper__actions">
        <button type="button" class="btn ibexa-input-text-wrapper__action-btn ibexa-input-text-wrapper__action-btn--clear" tabindex="-1">
            <svg class="ibexa-icon">
                <use xlink:href="{{ ibexa_icon_path('discard') }}"></use>
            </svg>
        </button>
        {% if has_search %}
            <button type="submit" class="btn ibexa-input-text-wrapper__action-btn ibexa-input-text-wrapper__action-btn--search" tabindex="-1">
                <svg class="ibexa-icon ibexa-icon--small">
                    <use xlink:href="{{ ibexa_icon_path('search') }}"></use>
                </svg>
            </button>
        {% endif %}
    </div>
</div>
