{% trans_default_domain 'content_edit_component_preview_unavailable' %}

<section class="container mt-3">
    <div class="px-3">
        {% include '@ezdesign/ui/component/alert/alert.html.twig' with {
            type: 'warning',
            title: 'preview_unavailable'|trans|desc('You cannot preview this translation because there is no site available for this language. Contact your Administrator.'),
        } only %}
    </div>
</section>
