<span class="ez-warning-icon">
    <svg class="ez-icon ez-icon--warning ez-icon--light">
        <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#warning"></use>
    </svg>
</span>
