{% block ezplatform_fieldtype_ezdate_widget %}
    <div class="ez-data-source__input-wrapper">
        <input type="text" class="flatpickr flatpickr-input ez-data-source__input form-control" readonly="readonly">
        <button type="button" class="ez-data-source__btn--clear-input">
            <svg class="ez-icon">
                <use xlink:href="{{ ez_icon_path('circle-close') }}"></use>
            </svg>
        </button>
    </div>
    {% set action_type = isEditView ? 'edit' : 'create' %}
    {% set attr = attr|merge({'class': 'ez-data-source__input', 'hidden': 'hidden', 'data-action-type': action_type}) %}
    {{ block('form_widget') }}
{% endblock %}
