{%- block ezplatform_fieldtype_ezkeyword_widget -%}
    <div class="ibexa-data-source__taggify form-control"></div>
    <div class="ibexa-data-source__input-wrapper" hidden>
        {{- block('form_widget') -}}
    </div>
{%- endblock -%}
