{% extends '@EzPlatformAdminUi/Security/base.html.twig' %}

{%- block login_wrapper -%}
    ez-login__text-wrapper
{%- endblock login_wrapper -%}

{%- block content -%}
    <h2 class="ez-login__header">{{ 'ezplatform.forgot_user_password.reset_your_password'|trans|desc('Reset your password') }}</h2>
    <p>
        {{ 'ezplatform.forgot_user_password.success'|trans|raw
        |desc('<p>We have sent an email to the email address of your account. You should receive the email shortly.</p>
            <p>If the email is slow to arrive, check your spam folders.</p>
            <p>If you receive no email, it’s that your username or email is unknown to us, so please double check.</p>
            <p>If you reset your password multiple times, only the most recent email link will be valid</p>') }}
    </p>
{%- endblock content -%}
