.c-upload-list-item {
    display: flex;
    background: $ez-white;
    padding: calculateRem(8px) calculateRem(16px);
    align-items: center;
    height: 60px;
}

.c-upload-list-item .ez-icon {
    width: calculateRem(20px);
    height: calculateRem(20px);
}

.c-upload-list-item__icon {
    flex: 0 0 calculateRem(20px);
    display: flex;
    align-items: center;
}

.c-upload-list-item__meta {
    padding: 0 calculateRem(16px);
    line-height: 1.4;
    max-width: 25vw;
}

.c-upload-list-item__name {
    font-size: calculateRem(14px);
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.c-upload-list-item__size {
    font-size: calculateRem(10px);
}

.c-upload-list-item__info {
    flex: 1 1 auto;
}

[class*='c-upload-list-item__message--'] {
    font-style: italic;
    font-size: calculateRem(12px);
    color: $ez-color-positive;
}

.c-upload-list-item__message--error {
    padding-top: calculateRem(3px);
    color: $ez-color-danger;
    font-weight: 700;
}

.c-upload-list-item__actions {
    flex: 1 1 calculateRem(44px);
    max-width: calculateRem(88px);
    padding-top: calculateRem(8px);
    text-align: right;
}

[class*='c-upload-list-item__action--'] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: calculateRem(15px);
    width: calculateRem(44px);
    height: calculateRem(44px);
    cursor: pointer;
}

[class*='c-upload-list-item__action--']:last-child {
    margin-right: 0;
}

.c-upload-list-item__action--edit {
    fill: $ez-color-primary;
    transition: all 0.3s $ez-admin-transition;
    width: calculateRem(20px);
    height: calculateRem(20px);
}

.c-upload-list-item__action--edit:hover,
.c-upload-list-item__action--edit:focus {
    fill: $ez-color-primary-hover;
}

.c-upload-list-item__action--delete {
    fill: $ez-color-danger;
}

.c-upload-list-item__action--delete:hover,
.c-upload-list-item__action--delete:focus {
    fill: $ez-color-danger-hover;
}

.c-upload-list-item__action--abort {
    fill: $ez-color-base-light;
}

.c-upload-list-item__action--abort:hover,
.c-upload-list-item__action--abort:focus {
    fill: $ez-color-base-light-hover;
}

.c-upload-list-item .c-progress-bar {
    max-width: calculateRem(200px);
    float: right;
}
