{% extends "@EzPlatformAdminUi/layout.html.twig" %}

{% trans_default_domain 'content_type' %}

{% block breadcrumbs %}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { url: path('ezplatform.content_type_group.list'), value: 'content_type_group.breadcrumb.list'|trans|desc('Content Types') },
        { value: 'content_type_group.breadcrumb.add'|trans|desc('Creating a new Content Type Group') }
    ]} %}
{% endblock %}

{% block pageTitle %}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'content_type_group.view.add.title'|trans|desc('Creating a new Content Type Group'),
        iconName: 'content-types'
    } %}
{% endblock %}

{% block content %}
    {{ form_start(form) }}

    <section class="container mt-4">
        <div class="card">
            <div class="card-body">
                {{ form_row(form.identifier) }}
            </div>
        </div>
    </section>

    <section class="container mt-4 mb-4">
        <div class="btn-toolbar justify-content-end" role="toolbar" >
            {{ form_widget(form.create, {
                'attr': { 'class': 'btn btn-primary' }
            }) }}
        </div>
    </section>

    {{ form_end(form) }}
{% endblock %}
