@import 'universal-discovery/main';
@import 'universal-discovery/tab';
@import 'universal-discovery/top.menu';
@import 'universal-discovery/actions.menu';
@import 'universal-discovery/content.create';
@import 'universal-discovery/content.create.widget';
@import 'universal-discovery/content.create.button';
@import 'universal-discovery/content.edit';
@import 'universal-discovery/content.edit.button';
@import 'universal-discovery/sort.switcher';
@import 'universal-discovery/view.switcher';
@import 'universal-discovery/tab.selector';
@import 'universal-discovery/finder';
@import 'universal-discovery/finder.branch';
@import 'universal-discovery/finder.leaf';
@import 'universal-discovery/content.meta.preview';
@import 'universal-discovery/selected.locations';
@import 'universal-discovery/selected.locations.item';
@import 'universal-discovery/grid';
@import 'universal-discovery/breadcrumbs';
@import 'universal-discovery/search';
@import 'universal-discovery/content.table.item';
@import 'universal-discovery/toggle.selection.button';
@import 'universal-discovery/filters';
@import 'universal-discovery/bookmarks.list';
@import 'universal-discovery/translation.selector';
@import 'universal-discovery/tree';
@import 'universal-discovery/simple.dropdown';
@import 'universal-discovery/toggle.selection';
@import 'universal-discovery/dropdown';
