{% extends '@ezdesign/account/base.html.twig' %}

{%- block content -%}
    <h2 class="ibexa-login__actions-headline">{{ 'ezplatform.forgot_user_password.reset_your_password'|trans|desc('Reset your password') }}</h2>
    <p class="ibexa-login__actions-subheadline">
        {{ 'ezplatform.forgot_user_password.success'|trans|raw
        |desc('<p>An email has been sent to the address you provided with instructions on how to reset your password.</p>
            <p>If the email is slow to arrive, check your spam folders.</p>
            <p>If you don\'t receive an email, make sure you\'ve entered the address you registered with, and check your spam folder.</p>
            <p>If you reset your password multiple times, only the most recent email link will be valid.</p>') }}
    </p>
{%- endblock content -%}
