{%- block from -%}
    noreply@domain.com
{%- endblock from -%}

{%- block subject -%}
    {{ 'ezplatform.forgot_user_password.reset_your_password'|trans|desc('Reset your password') }}
{%- endblock subject -%}

{%- block body -%}
    <p>
        {{ 'ezplatform.forgot_user_password.message'|trans({ '%reset_password%': url('ezplatform.user.reset_password', {'hashKey': hash_key}) })|raw
        |desc('Hi,
        <br /><br />
        We have received a request to reset the password for your account on site. Click “reset password” below to choose a new password:
        <br /><br />
        <a href="%reset_password%">Reset password</a>
        <br /><br />
        If you did not request a password reset, please ignore this email, and your password will remain the same.') }}
    </p>
{%- endblock body -%}
