{% extends '@ezdesign/account/base.html.twig' %}

{%- block content -%}
    <h2 class="ibexa-login__actions-headline">{{ 'ezplatform.reset_user_password.change_password'|trans|desc('Change password') }}</h2>
    <p>
        {{ 'ezplatform.reset_user_password.link_is_not_valid'|trans({ '%forgot_user_password%': path('ezplatform.user.forgot_password')})|raw
        |desc('This link is not valid anymore, you can <a href="%forgot_user_password%">generate a new link</a> to reset your password.') }}
    </p>
{%- endblock content -%}
