{% extends "@ezdesign/ui/layout.html.twig" %}

{% trans_default_domain 'role' %}

{% block breadcrumbs %}
    {% block breadcrumbs_admin %}{% endblock %}
{% endblock %}

{% block context_menu %}
    {% block context_menu_admin %}{% endblock %}
{% endblock %}

{% block header %}
    {% block header_admin %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="row align-items-stretch ez-main-row">
        <div class="px-0 pb-4 ez-content-container">
            <div class="container ez-container">
                {% block form %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
