{% extends '@EzPlatformAdminUi/notifications/notification_row.html.twig' %}

{% trans_default_domain 'notifications' %}

{% set wrapper_additional_classes = 'n-notifications-modal__item--permanently-deleted' %}

{% block notification_type %}
    <span class="type__text type__text--permanently-deleted">
        {{ 'notification.permanently_deleted'|trans|desc('Publication permanently deleted')}}
    </span>
{% endblock %}

{% block message %}
    <td class="n-notifications-modal__description">
        <p class="description__title">{{ 'notification.title'|trans|desc('Title:') }} <span class="description__title__item">{{ title }}</span></p>
        <p class="description__text description__text--permanently-deleted">{{ 'notification.no_longer_available'|trans|desc('Content not available any more')}}</p>
    </td>
{% endblock %}
