{% extends '@EzPublishCore/content_fields.html.twig' %}

{% block ezauthor_field %}
    {% spaceless %}
        {% if field.value.authors|length() > 0 %}
            <ul {{ block( 'field_attributes' ) }}>
                {% for author in field.value.authors %}
                    <li>{{ author.name }} &lt;<a href="mailto:{{ author.email|escape( 'url' ) }}">{{ author.email }}</a>&gt;</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock %}
