<div id="ez-tab-{{ id }}" class="tab-pane ez-tab-content__pane {% if active|default(false) %}active{% endif %}" role="tabpanel" aria-labelledby="ez-tab-label-{{ id }}">
    {% block content %}{% endblock %}
</div>
