{% trans_default_domain 'dashboard' %}

{% import "@ezdesign/ui/dashboard/macros.html.twig" as macros %}

{% set body_rows = [] %}
{% for row in data %}
    {% set body_row_cols = [] %}

    {% set col_raw %}
        <svg class="ibexa-icon ibexa-icon--small-medium">
            <use xlink:href="{{ ez_content_type_icon(row.content_type.identifier) }}"></use>
        </svg>
    {% endset %}
    {% set body_row_cols = body_row_cols|merge([{
        has_icon: true,
        content: col_raw,
        raw: true,
    }]) %}

    {% set col_raw %}
        <a href="{{ url('_ez_content_view', { 'contentId': row.contentId, 'locationId': row.resolvedLocation.id }) }}">
            {{ row.name }}
        </a>
    {% endset %}
    {% set body_row_cols = body_row_cols|merge([{
        content: col_raw,
        raw: true,
    }]) %}

    {% set body_row_cols = body_row_cols|merge([
        { content: row.type },
        { content: row.modified|ez_full_datetime },
        { has_action_btns: true, content: macros.edit_content_button(row, 'dashboard.table.media.edit'|trans|desc('Edit Media')), raw: true },
    ]) %}

    {% set body_rows = body_rows|merge([{ cols: body_row_cols }]) %}
{% endfor %}

{% include '@ezdesign/ui/component/table/table.html.twig' with {
    head_cols: [
        { has_icon: true },
        { content: 'dashboard.table.name'|trans|desc('Name') },
        { content: 'dashboard.table.content_type'|trans|desc('Content Type') },
        { content: 'dashboard.table.last_saved'|trans|desc('Last Saved') },
        { },
    ],
    body_rows,
    empty_table_info_text: 'dashboard.tab.my_media.empty'|trans|desc('No content. Media you create will show up here'),
} %}
