.c-action-btn {
    display: inline-flex;
    text-align: center;
    cursor: pointer;
    color: $ez-black;
    font-size: calculateRem(14px);
    transition: all 0.3s $ez-admin-transition;
    align-items: center;
    height: calculateRem(32px);
    width: calculateRem(32px);
    justify-content: center;
    margin-right: calculateRem(24px);
    border: none;
    
    &--disabled {
        cursor: not-allowed;
        opacity: 0.3;
    }

    &--move,
    &--hide,
    &--reveal,
    &--trash,
    &--create-location {
        &:not(.c-action-btn--disabled):hover,
        &:not(.c-action-btn--disabled):focus {
            .ez-icon {
                stroke: $ibexa-color-primary;
            }
        }
    }
}
