.c-grid-view-item {
    position: relative;
    overflow: hidden;
    margin-bottom: calculateRem(20px);
    cursor: pointer;
    color: $ibexa-color-font;
    text-decoration: none;
    transition: all 0.3s $ibexa-admin-transition;
    background: $ibexa-white;
    border: calculateRem(1px) solid rgba(0, 0, 0, 0.1);

    &:hover,
    &:focus {
        color: $ibexa-color-primary;
        font-weight: bold;
        text-decoration: none;
        border: calculateRem(1px) solid $ibexa-color-primary;
    }

    &__content-type {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: calculateRem(30px);
        height: calculateRem(30px);
        background: $ibexa-white;
    }

    &__content-type .ez-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__image {
        display: block;
        width: auto;
        height: auto;
        max-width: calculateRem(248px);
        max-height: calculateRem(248px);
    }

    &__image-wrapper {
        height: calculateRem(248px);
        width: calculateRem(248px);
        background: $ibexa-color-base-light;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title {
        display: flex;
        align-items: center;
        width: calculateRem(248px);
        height: calculateRem(54px);
        font-size: calculateRem(16px);
        margin: calculateRem(5px) calculateRem(8px);
    }
}
