.c-grid-view {
    display: flex;
    flex-wrap: wrap;
    padding-left: calculateRem(8px);
    padding-top: calculateRem(8px);

    .c-grid-view-item {
        flex: 1 1 calc(100% / 5);
        max-width: calculateRem(248px);
        margin-right: calculateRem(20px);
    }
}
