.c-language-selector {
    .ez-instant-filter {
        &__items {
            margin-top: calculateRem(5px);
            max-height: calc(100vh - #{calculateRem(220px)});
            overflow: auto;

            .form-check-label {
                font-size: $ibexa-text-font-size;
                line-height: calculateRem(50px);
            }
        }
    }
}
