.m-sub-items {
    margin-top: calculateRem(24px);
    margin-bottom: calculateRem(24px);
    padding: calculateRem(16px);
    background: $ibexa-white;
    border-radius: $ibexa-border-radius;

    &,
    & * {
        box-sizing: border-box;
    }

    &__header {
        width: 100%;
        padding: 0 calculateRem(8px) calculateRem(32px);
        font-weight: bold;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: calculateRem(16px);
        color: $ibexa-black;
        flex: 1 1 auto;
    }

    &__actions {
        display: flex;
    }

    &__actions .m-mfu {
        margin-right: calculateRem(24px);
        display: flex;
    }

    &__list {
        font-size: calculateRem(16px);
        line-height: calculateRem(40px);
        text-align: left;
        position: relative;
    }

    &__list--processing:after {
        content: '';
        position: absolute;
        z-index: 999;
        background: rgba($ibexa-black, 0.35);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__spinner-wrapper {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    &__spinner {
        display: block;
        margin: calculateRem(20px);
    }

    &__pagination-container {
        @include pagination-main-container();
        padding: calculateRem(24px) 0 calculateRem(12px);

        .c-pagination {
            margin: 0;
            font-size: calculateRem(14px);

            .c-pagination-button {
                position: relative;
                margin: 0 calculateRem(2px);
            }

            .page-link {
                @include pagination-link();
            }

            .c-pagination-button.prev {
                @include pagination-prev-btn();

                .page-link {
                    padding-left: calculateRem(20px);
                }
            }

            .c-pagination-button.next {
                @include pagination-next-btn();

                .page-link {
                    padding-right: calculateRem(20px);
                }
            }

            .c-pagination-button.prev,
            .c-pagination-button.next {
                &.disabled {
                    .page-link {
                        color: $ibexa-color-font-pale;
                        cursor: not-allowed;
                    }
                }

                .page-link {
                    width: initial;
                    border-radius: 0;
                }
            }
        }
    }

    &__pagination-info {
        @include pagination-info();
    }
}
