.m-sub-items {
    margin-top: calculateRem(24px);
    margin-bottom: calculateRem(24px);
    padding: calculateRem(16px);
    background: $ibexa-white;
    border-radius: $ibexa-border-radius;

    .table .ibexa-table__header-cell {
        border-top-width: 0;
    }

    .ibexa-table-header {
        margin-bottom: 0;
        padding-bottom: calculateRem(20px);
        border-bottom: calculateRem(1px) solid $ibexa-color-dark-200;
    }

    &__list {
        font-size: $ibexa-text-font-size;
        line-height: calculateRem(40px);
        text-align: left;
        position: relative;
        margin-bottom: calculateRem(16px);
    }

    &__list--processing:after {
        content: '';
        position: absolute;
        z-index: 999;
        background: rgba($ibexa-black, 0.35);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__spinner-wrapper {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    &__spinner {
        display: block;
        margin: calculateRem(20px);
    }
}
