.c-table-view-columns-toggler-list-element {
    cursor: pointer;

    .form-check-inline {
        display: flex;
        align-items: center;
    }

    .ibexa-input--checkbox {
        margin-right: calculateRem(8px);
    }

    &__label {
        white-space: nowrap;
        user-select: none;
        font-size: $ibexa-text-font-size-medium;
        cursor: pointer;
    }
}
