.c-table-view {
    border-collapse: separate;
    width: 100%;
    margin-bottom: 0;

    &__wrapper {
        position: relative;
    }

    &__scroller {
        overflow-x: auto;
    }

    &__columns-toggler {
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__columns-toggler-btn {
        padding: calculateRem(5px);
        height: calculateRem(32px);
        width: calculateRem(32px);
    }

    &__columns-toggler-panel {
        border-radius: calculateRem(4px);
        background: $ibexa-white;
        position: absolute;
        z-index: 10;
        padding: calculateRem(4px) calculateRem(14px);
        top: calculateRem(36px);
        right: calculateRem(17px);
        font-weight: normal;
        box-shadow: 0 calculateRem(2px) calculateRem(4px) 0 rgba($ibexa-black, 0.45);
    }

    &__columns-toggler-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__columns-toggler-option {
        cursor: pointer;

        .form-check-inline {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: calculateRem(12px) calculateRem(4px);
            margin-right: calculateRem(12px);
            line-height: 0;
        }
    }

    &__columns-toggler-option-label {
        white-space: nowrap;
        user-select: none;
        font-size: $ibexa-text-font-size-medium;
        cursor: pointer;
    }

    &__cell {
        .ibexa-table.table &--shadow-left {
            box-shadow: calculateRem(-13px) calculateRem(5px) calculateRem(20px) 0 rgba($ibexa-color-info, 0.1);
        }

        .ibexa-table.table &--shadow-right {
            box-shadow: calculateRem(13px) calculateRem(5px) calculateRem(20px) 0 rgba($ibexa-color-info, 0.1);
        }

        &--head {
            white-space: nowrap;
        }

        &--checkbox {
            position: sticky;
            padding: 0;
            left: 0;
            z-index: 1;
            height: calculateRem(43px);
            width: calculateRem(30px);
            padding-left: calculateRem(16px);
            background: $ibexa-white;
        }

        &--name {
            position: sticky;
            z-index: 1;
            left: calculateRem(48px);
            padding-left: 0;
            background: $ibexa-white;
        }

        &--actions {
            position: sticky;
            right: 0;
            width: calculateRem(70px);
            padding: 0;
            background: $ibexa-white;
            z-index: 1;
        }

        &--toggler {
            position: absolute;
            right: 0;
            height: calculateRem(55px);
            width: calculateRem(80px);
        }
    }

    &__head {
        border-top: calculateRem(1px) solid $ibexa-color-base-light;
        border-bottom: calculateRem(1px) solid $ibexa-color-base-light;
    }

    &__body {
        .c-no-items {
            padding-top: calculateRem(7px);
            padding-left: calculateRem(39px);
        }
    }
}
