.c-table-view-item {
    &__tooltip {
        top: calculateRem(-5px) !important;
        left: calculateRem(40px) !important;

        .ez-tooltip__arrow {
            left: calc(50% - 0.4rem) !important;
        }
    }

    &__translation {
        display: block;
    }

    &__text-wrapper {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &__cell {
        padding-top: calculateRem(8px);
        padding-bottom: calculateRem(8px);
        padding-left: calculateRem(16px);
        border-top: calculateRem(1px) solid transparent;
        border-bottom: calculateRem(1px) solid transparent;
        font-size: calculateRem(16px);
        line-height: calculateRem(20px);
        vertical-align: middle;

        &:first-child {
            border-left: calculateRem(1px) solid transparent;
        }
    
        &:last-child {
            border-right: calculateRem(1px) solid transparent;
        }

        &--content-type {
            min-width: calculateRem(130px);
        }

        &--name .c-table-view-item__text-wrapper {
            max-width: calculateRem(260px);
        }

        &--modified .c-table-view-item__text-wrapper {
            max-width: calculateRem(190px);
        }

        &--checkbox {
            position: sticky;
            z-index: 1;
            left: 0;
            width: calculateRem(30px);
            line-height: 0;
            margin-top: -0.5px; // Fixes borders alignment on Safari and Edge
            background: $ibexa-white;
        }

        &--icon {
            position: sticky;
            z-index: 1;
            left: calculateRem(34px);
            padding-right: calculateRem(8px);
            width: calculateRem(24px);
            text-align: right;
            line-height: 0;
            height: calculateRem(47px);
            background: $ibexa-white;

            .ez-icon {
                stroke: $ibexa-color-base-dark;
            }
        }

        &--name {
            position: sticky;
            z-index: 1;
            left: calculateRem(74px);
            padding-left: 0;
            background: $ibexa-white;
        }

        &--priority {
            padding-top: 0;
            width: calculateRem(80px);
        }

        &--actions {
            position: sticky;
            right: 0;
            width: calculateRem(70px);
            padding: 0;
            margin-top: -0.5px; // Fixes borders alignment on Safari and Edge
            background: $ibexa-white;
        }
    }

    &__inner-wrapper {
        cursor: pointer;

        &--input {
            width: 7ch;
        }
    }

    &__priority-wrapper {
        position: relative;
    }

    &__priority-actions {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: calculateRem(-52px);
        top: calculateRem(10px);
        width: calculateRem(60px);
    }

    &__priority-value {
        max-width: 100%;
        height: calculateRem(40px);
        margin: calculateRem(2px) 0;
        padding: 0 calculateRem(10px);
        border: none;
        border-radius: $ibexa-border-radius;

        &[readonly] {
            background-color: $ibexa-white;
            color: $ibexa-color-font;
            cursor: pointer;
        }

        &[readonly]::-webkit-outer-spin-button,
        &[readonly]::-webkit-inner-spin-button {
            opacity: 0;
        }

        &[readonly]:hover::-webkit-outer-spin-button,
        &[readonly]:hover::-webkit-inner-spin-button {
            opacity: 1;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            opacity: 1;
        }

        &[readonly] {
            -webkit-appearance: textfield;
        }
        &[readonly]:hover {
            -webkit-appearance: number-input;
        }
    }

    &__btn {
        color: $ez-white;
        border: calculateRem(1px) solid transparent;
        width: calculateRem(24px);
        height: calculateRem(24px);
        transition: background 0.3s $ez-admin-transition;
        cursor: pointer;

        &--submit {
            margin-right: calculateRem(4px);
            padding: 0;
            border-radius: $ibexa-border-radius;
            background: $ibexa-color-primary;
        }

        &--submit:hover,
        &--submit:focus {
            background: $ez-color-secondary-hover;
        }

        &--cancel {
            padding: 0;
            border-radius: $ibexa-border-radius;
            background: $ibexa-color-base-dark;
        }

        &--cancel:hover,
        &--cancel:focus {
            background: $ez-color-base-medium-hover;
        }

        &--edit {
            text-align: center;
            cursor: pointer;
            color: $ez-white;
            display: inline-block;

            .c-table-view-item__btn-inner {
                padding: calculateRem(7px) calculateRem(14px);
                height: 100%;
                display: flex;
                align-items: center;
            }

            .ez-icon {
                stroke: $ibexa-color-primary;
            }
        }
    }

    &__link {
        display: inline-block;
        color: $ibexa-color-primary;
        cursor: pointer;
        transition: color 0.3s $ez-admin-transition;
        text-decoration: none;
        
        &:hover,
        &:focus {
            color: $ibexa-color-primary;
            text-decoration: underline;
        }
    }

    &--active {
        .c-table-view-item__cell {
            &:first-child {
                border-left: calculateRem(1px) solid $ibexa-color-primary;
            }

            &:last-child {
                border-right: calculateRem(1px) solid $ibexa-color-primary;
            }
    
            border-top: calculateRem(1px) solid $ibexa-color-primary;
            border-bottom: calculateRem(1px) solid $ibexa-color-primary;
        }
    }
}
