.c-table-view-columns-toggler {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__btn {
        display: flex;
        justify-content: center;
        padding: calculateRem(5px);
        height: calculateRem(32px);
        width: calculateRem(32px);
    }

    &__panel {
        @include container-box-shadow;

        border-radius: $ibexa-border-radius;
        background: $ibexa-white;
        position: absolute;
        z-index: 10;
        padding: calculateRem(4px) calculateRem(14px);
        top: calculateRem(36px);
        right: calculateRem(17px);
        font-weight: normal;
        
        &--above-btn {
            bottom: calculateRem(36px);
            top: auto;
        }
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}
