.c-view-switcher {
    height: calculateRem(32px);
    width: calculateRem(60px);
    border: calculateRem(1px) solid $ibexa-color-base-dark;
    border-radius: $ibexa-border-radius;
    display: flex;
    overflow: hidden;
    background: $ibexa-white;

    &--disabled {
        cursor: not-allowed;
        opacity: 0.3;
    }

    .c-view-switcher-btn {
        border: none;
        flex: 1 1 calculateRem(30px);
    }
}
