.c-view-switcher {
    height: calculateRem(32px);
    width: calculateRem(60px);
    border: calculateRem(1px) solid $ez-color-base-light;
    border-radius: calculateRem(2px);
    display: flex;
    overflow: hidden;
    background: $ez-white;

    &--disabled {
        cursor: not-allowed;
        opacity: 0.3;
    }

    .c-view-switcher-btn {
        border: none;
        flex: 1 1 calculateRem(30px);
    }
}
