.c-view-switcher-btn {
    @include toggler-wrapper();

    padding: 0;
    margin: 0;

    &--active {
        @include toggler-selected-btn();
    }

    &--disabled {
        pointer-events: none;
        opacity: 0.3;
    }
}
