{% if form_content_type_edit is defined %}
    {% form_theme form_content_type_edit '@ezdesign/ui/form_fields.html.twig' %}
{% endif %}

<div class="row align-items-stretch ibexa-main-row">
    <div class="px-0 pb-4 ibexa-content-container">
        <div class="panel panel-primary">
            <div class="panel-body">
                {% set tabs_to_show = tabs|map((tab, index) => {
                    id: group ~ '-' ~ tab.identifier,
                    label: tab.name,
                    content: tab.view,
                    active: index == 0,
                }) %}
                {% include '@ezdesign/ui/component/tab/tabs.html.twig' with {
                    tabs: tabs_to_show,
                } %}
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-admin-ui-tabs-js', null, 'ezplatform') }}
{% endblock %}
