.m-mfu,
.m-mfu * {
    box-sizing: border-box;
}

.m-mfu {
    font-weight: 400;
}

.m-mfu__btn--upload {
    display: inline-flex;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.5px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #f15a10;
    background-color: #f15a10;
    transition: background 0.3s ease-in-out;
    align-items: center;
    height: 40px;
    width: 40px;
    justify-content: center;
}

.m-mfu__btn--upload:hover,
.m-mfu__btn--upload:focus {
    background: #c3480b;
}

.m-mfu__btn--upload[disabled],
.m-mfu__btn--upload[disabled]:hover,
.m-mfu__btn--upload[disabled]:focus {
    border: 1px solid #f15a10;
    background-color: #f15a10;
    cursor: not-allowed;
    opacity: 0.3;
}

.m-mfu__btn--upload .ez-icon {
    width: 20px;
    height: 20px;
    stroke: #fff;
}
