{% extends "@EzPlatformAdminUi/layout.html.twig" %}

{% trans_default_domain 'role' %}

{% block breadcrumbs %}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { url: path('ezplatform.role.list'), value: 'role.breadcrumb.list'|trans|desc('Roles') },
        { url: path('ezplatform.role.view', {roleId: role.id}), value: 'role.breadcrumb.view'|trans({ '%identifier%': role.identifier })|desc('%identifier%') },
        { value: 'policy.breadcrumb.add'|trans|desc('Adding a new Policy') }
    ]} %}
{% endblock %}

{% block pageTitle %}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'policy.view.add.title'|trans|trans|desc('Adding a new Policy'),
        iconName: 'roles'
    } %}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <section class="container mt-4">
        <div class="card">
            <div class="card-body">
                {{ form_widget(form.policy) }}
            </div>
        </div>
    </section>

    <section class="container mt-4 mb-4">
        <div class="btn-toolbar justify-content-end" role="toolbar" >
            {{ form_widget(form.save, {"attr": {"class": "btn btn-primary"}}) }}
        </div>
    </section>
    {{ form_end(form) }}
{% endblock %}
