{% extends '@ezdesign/account/base.html.twig' %}

{%- block content -%}
    <h2 class="ez-login__header">
        {{ 'authentication.credentials_expired'|trans|desc('Your password has expired.') }}
    </h2>
    <p>
        {{ 'authentication.credentials_expired.message'|trans|desc(
            'Your password has expired and needs to be changed for security reasons. You will receive an email with instructions how to do it.'
        ) }}
    </p>
    <p>
        <a href="{{ path('ezplatform.user.forgot_password') }}" class="btn btn-primary ez-btn ez-btn--login">
            {{ 'authentication.credentials_expired.reset_password'|trans|desc('Reset password') }}
        </a>
    </p>
{%- endblock -%}
