{% extends '@ezdesign/account/base.html.twig' %}

{%- block content -%}
    <h2 class="ibexa-login__actions-headline">
        {{ 'authentication.credentials_expired'|trans|desc('Your password has expired.') }}
    </h2>
    <p>
        {{ 'authentication.credentials_expired.message'|trans|desc(
            'Your password has expired and must be changed. You will receive an email with instructions how to reset your password.'
        ) }}
    </p>
    <p>
        <a href="{{ path('ezplatform.user.forgot_password') }}" class="btn ibexa-btn ibexa-btn--primary ibexa-btn--login">
            {{ 'authentication.credentials_expired.reset_password'|trans|desc('Reset password') }}
        </a>
    </p>
{%- endblock -%}
