imports:
    - { resource: services/service_aliases.yml }
    - { resource: services/controllers.yml }
    - { resource: services/tabs.yml }
    - { resource: services/menu.yml }
    - { resource: services/pagination.yml }
    - { resource: services/ui_config/* }
    - { resource: services/components.yml }
    - { resource: services/dashboard.yml }
    - { resource: services/modules/subitems.yml }
    - { resource: services/form_processors.yml }
    - { resource: services/validators.yml }
    - { resource: services/siteaccess.yml }
    - { resource: services/universal_discovery_widget.yml }
    - { resource: services/utils.yml }
    - { resource: services/form_ui_action_mappers.yml }
    - { resource: services/views.yml }
    - { resource: services/translation.yml }
    - { resource: services/user_settings.yml }
    - { resource: services/rest.yml }
    - { resource: services/permissions.yml }
    - { resource: services/forms.yml }

parameters:
    # default content type icon
    ezsystems.ezplatform_admin_ui.default_content_type_thumbnail: '/bundles/ezplatformadminui/img/ez-icons.svg#file'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    EzSystems\EzPlatformAdminUiBundle\Controller\Controller:
        tags: ['controller.service_arguments']
        calls:
            - [setContainer, ["@service_container"]]
            - [performAccessCheck, []]

    EzSystems\EzPlatformAdminUiBundle\Controller\User\UserForgotPasswordController:
        tags: [controller.service_arguments]
        calls:
            - [setContainer, ['@service_container']]
        arguments:
            $tokenIntervalSpec: '$security.token_interval_spec$'

    EzSystems\EzPlatformAdminUiBundle\ParamConverter\:
        resource: "../../ParamConverter/*"
        public: true
        tags:
            - { name: 'request.param_converter' }

    EzSystems\EzPlatformAdminUiBundle\ParamConverter\ContentTypeParamConverter:
        public: true
        tags:
            - { name: 'request.param_converter' }

    EzSystems\EzPlatformAdminUi\EventListener\:
        resource: "../../../lib/EventListener/*"
        public: true
        tags:
            - { name: kernel.event_subscriber }

    EzSystems\EzPlatformAdminUi\EventListener\RequestListener:
        arguments:
            - '%ezpublish.siteaccess.groups_by_siteaccess%'
        tags:
            - { name: kernel.event_subscriber }

    EzSystems\EzPlatformAdminUi\EventListener\RequestLocaleListener:
        arguments:
            $siteAccessGroups: '%ezpublish.siteaccess.groups%'
            $availableTranslations: '%available_translations%'
        tags:
            - { name: kernel.event_subscriber }

    EzSystems\EzPlatformAdminUi\EventListener\RequestAttributesListener:
        arguments:
            - '%ezpublish.siteaccess.groups%'
        tags:
            - {name: kernel.event_subscriber}

    EzSystems\EzPlatformAdminUi\UI\Dataset\DatasetFactory:
        arguments:
            $userContentTypeIdentifier: '$user_content_type_identifier$'
            $userGroupContentTypeIdentifier: '$user_group_content_type_identifier$'

    EzSystems\EzPlatformAdminUi\UI\Service\:
        resource: '../../../lib/UI/Service'

    EzSystems\EzPlatformAdminUi\UI\Value\ValueFactory:
        lazy: true
        tags:
            - { name: form.type }

    EzSystems\EzPlatformAdminUi\Notification\FlashBagNotificationHandler: ~

    EzSystems\EzPlatformAdminUi\Notification\NotificationHandlerInterface: '@EzSystems\EzPlatformAdminUi\Notification\FlashBagNotificationHandler'

    EzSystems\EzPlatformAdminUi\RepositoryForms\View\ViewParametersListener:
        public: true
        tags:
            - { name: kernel.event_subscriber }

    EzSystems\EzPlatformAdminUi\EventListener\AdminExceptionListener:
        arguments:
            $siteAccessGroups: '%ezpublish.siteaccess.groups%'
            $kernelRootDir: '%kernel.root_dir%'
            $kernelEnvironment: '%kernel.environment%'
        tags:
            - { name: kernel.event_listener, event: kernel.exception }

    Twig_Extensions_Extension_Text:
        public: true
        class: \Twig_Extensions_Extension_Text
        tags:
            - { name: twig.extension }

    EzSystems\EzPlatformAdminUi\Menu\Voter\LocationVoter:
        arguments: [ '@request_stack' ]
        tags:
            - { name: knp_menu.voter }

    EzSystems\EzPlatformAdminUi\RepositoryForms\Dispatcher\ContentOnTheFlyDispatcher:
        calls:
            - [setEventDispatcher, ["@event_dispatcher"]]

    EzSystems\EzPlatformAdminUi\EventListener\MenuPermissionsListener:
        tags:
            - {name: kernel.event_subscriber, priority: -250}

    EzSystems\EzPlatformAdminUiBundle\Templating\Twig\UserPreferencesGlobalExtension: ~

    EzSystems\EzPlatformAdminUi\UI\Service\ContentTypeIconResolver:
        arguments:
            $defaultThumbnail: '%ezsystems.ezplatform_admin_ui.default_content_type_thumbnail%'
