<li class="mt-2">
    <div class="ez-tag" data-location-id="{{ location_id }}">
        <div class="ez-tag__content" {% if is_loading_state %} hidden {% endif %}>
            {{ content_breadcrumbs }}
        </div>
        <div class="ez-tag__spinner" {% if not is_loading_state %} hidden {% endif %}>
            <svg class="ez-icon ez-icon--medium ez-icon--dark ez-spin">
                <use xlink:href="{{ asset('/bundles/ezplatformadminui/img/ez-icons.svg') }}#spinner"></use>
            </svg>
        </div>
        <button class="ez-tag__remove-btn">
            <svg class="ez-icon ez-icon--medium ez-icon--dark">
                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#circle-close"></use>
            </svg>
        </button>
    </div>
</li>
