<li class="mt-2">
    <div class="ez-tag" data-location-id="{{ locationId }}">
        <div class="ez-tag__content" {% if isLoadingState %} hidden {% endif %}>
            {{ contentBreadcrumbs }}
        </div>
        <div class="ez-tag__spinner" {% if not isLoadingState %} hidden {% endif %}>
            <svg class="ez-icon ez-icon--medium ez-icon--dark ez-spin">
                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#spinner"></use>
            </svg>
        </div>
        <div class="ez-tag__remove-btn">
            <svg class="ez-icon ez-icon--medium ez-icon--dark">
                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#circle-close"></use>
            </svg>
        </div>
    </div>
</li>
