{% trans_default_domain 'notifications' %}

{% embed '@ezdesign/ui/component/table/table.html.twig' with {
    head_cols: [
        { content: 'notification.type'|trans|desc('Type') },
        { content: 'notification.description'|trans|desc('Description') },
        { content: 'notification.date'|trans|desc('Date') },
    ],
    class: 'ibexa-table--notifications',
    attr: {
        'data-notifications': path('ezplatform.notifications.render.page'),
        'data-notifications-count': path('ezplatform.notifications.count'),
        'data-notifications-total': pager.nbResults,
    }
} %}
    {% block tbody %}
        {% if pager.count is same as(0) %}
            {% include '@ezdesign/ui/component/table/empty_table_body_row.html.twig' with {
                colspan: 3,
                empty_table_info_text: 'bookmark.list.empty'|trans|desc('You have no notifications.'),
            } %}
        {% else %}
            {% block tbody_not_empty %}
                {{ notifications|raw }}
            {% endblock %}
        {% endif %}
    {% endblock %}
{% endembed %}

{% if pager.haveToPaginate %}
    <div class="ez-pagination">
        <div class="ez-pagination__text">
            {{ 'pagination.viewing'|trans({
            '%viewing%': pager.currentPageResults|length,
            '%total%': pager.nbResults}, 'pagination')|desc('Viewing %viewing% out of %total% items')|raw }}
        </div>
        <div class="ez-pagination__navigation">
            {{ pagination|raw }}
        </div>
    </div>
{% endif %}
