{% extends '@ezdesign/account/notifications/list_item.html.twig' %}

{% trans_default_domain 'notifications' %}

{% set wrapper_additional_classes = 'ez-notifications-modal__item--permanently-deleted' %}

{% block notification_type %}
    <span class="type__text type__text--permanently-deleted">
        {{ 'notification.permanently_deleted'|trans|desc('Deleted')}}
    </span>
{% endblock %}

{% block message %}
    {% embed '@ezdesign/ui/component/table/table_body_cell.html.twig' with { class: 'ez-notifications-modal__description' } %}
        {% block content %}
            <p class="description__title">{{ 'notification.title'|trans|desc('Title:') }} <span class="description__title__item">{{ title }}</span></p>
            <p class="description__text description__text--permanently-deleted">{{ 'notification.no_longer_available'|trans|desc('The Content item is no longer available')}}</p>
        {% endblock %}
    {% endembed %}
{% endblock %}
