{%- block button_widget -%}
    {%- if label is not same as(false) and label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button title="{{ 'section.assign,content'|trans|desc('Assign Content') }}" type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        <svg class="ibexa-icon ibexa-icon--small">
            <use xlink:href="{{ ibexa_icon_path('assign-section') }}"></use>
        </svg>
    </button>
{%- endblock -%}
