.ez-translation {
    width: 100%;

    &.modal {
        .modal-dialog {
            max-width: initial;
            display: inline-block;
            left: 50%;
            transform: translateX(-50%);
            border-radius: .25rem;
        }
    }

    .modal-header {
        border-bottom: none;

        .modal-title {
            font-size: 1.5rem;
        }

        .close {
            margin-top: -.5625rem;
        }
    }

    .modal-body {
        padding: 2rem;
        background-color: $ibexa-white;
        border-radius: 0 0 .25rem .25rem;
    }

    .modal-footer {
        border-top: none;
        padding: 1rem;
    }

    &__title {
        font-weight: bold;
    }

    &__language-wrapper {
        display: flex;
        flex-wrap: wrap;
        max-width: 70vw;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__input-wrapper {
        width: 15rem;
        background: $ez-white;
        margin: .5rem;
        border-radius: 5px;
        line-height: 1;
        color: $ez-color-secondary;

        input[type="radio"] {
            display: none;
        }
    }

    &__label {
        line-height: 1.5;
        margin-bottom: 0;
        display: block;
        padding: .5rem;
        border-radius: 5px;

        .ez-icon {
            display: none;
            width: 1rem;
            height: 1rem;
        }

        &--selected {
            background: $ez-color-secondary;
            color: $ez-white;

            .ez-icon {
                display: inline;
                stroke: $ez-white;
            }
        }
    }
}
