.ez-add-to-bookmarks {
    position: relative;
    width: calculateRem(36px);
    height: calculateRem(36px);
    margin-top: calculateRem(-4px);

    &__icon-wrapper {
        &--add,
        &--remove {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: calculateRem(36px);
            height: calculateRem(36px);
            padding: calculateRem(5px);
            transition: $ibexa-admin-widget-open-transition;
        }
    }

    &--checked .ez-add-to-bookmarks__icon-wrapper--add,
    &:not(.ez-add-to-bookmarks--checked) .ez-add-to-bookmarks__icon-wrapper--remove {
        opacity: 0;
        transform: scale(0);
    }
}
