.ez-add-to-bookmarks {
    width: 2.25rem;
    height: 2.25rem;
    transform: translateY(3%);
    grid-area: bookmark;
    justify-self: center;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.25s ease-in;

    &__icon-wrapper {
        &--add,
        &--remove {
            width: 2.25rem;
            height: 2.25rem;
            padding: 0.25rem;
            position: absolute;
            transition: all 0.25s ease-in;
            z-index: 2;
        }

        .ez-icon--secondary {
            width: 1.75rem;
            height: 1.75rem;
        }
    }

    &--checked &__icon-wrapper.ez-add-to-bookmarks__icon-wrapper--add,
    &:not(.ez-add-to-bookmarks--checked) &__icon-wrapper.ez-add-to-bookmarks__icon-wrapper--remove {
        opacity: 0;
        transform: scale(0);
    }
}
