.ez-alert {
    &--info {
        background: $ez-secondary-ground-pale;
        color: $ez-secondary-ground-medium;
        padding: 0.35rem 1rem;
        border: 0;
        font-style: italic;
        fill: currentColor;
        vertical-align: middle;
    }

    &--location-hidden {
        display: flex;
        justify-content: space-between;
    }

    .ez-btn {
        padding: calculateRem(2px) calculateRem(10px);
        font-size: calculateRem(13px);
    }
}
