.ae-ui {
    .ae-container {
        .ez-ae-attributes {
            max-height: 400px;
            overflow: auto;
            padding: 1rem;

            .ez-ae-attribute__wrapper {
                margin-bottom: 0.5rem;
            }

            .ez-ae-attribute__label {
                margin: 0.5rem 0;
            }

            .ez-btn-ae--attributes-save {
                color: $ez-white;
            }
        }
    }
}
