.ez-ae-edit-link {
    display: grid;
    padding: calculateRem(8px);
    column-gap: calculateRem(16px);
    grid-template-areas:
        'udw actions'
        'info actions';

    &__row {
        display: flex;
        align-items: flex-end;

        &:first-child {
            margin-bottom: calculateRem(8px);
        }

        &--udw {
            grid-area: udw;
        }

        &--info {
            grid-area: info;
        }

        &--actions {
            grid-area: actions;
            padding: 0 0 0 calculateRem(14px);
            border-left: calculateRem(2px) solid $ez-ground-base-dark;
        }
    }

    &__block {
        &--udw {
            display: flex;
            flex-direction: column;
        }

        &--url {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 25rem;
        }

        &--title,
        &--target {
            display: flex;
            flex-direction: column;

            .ez-ae-edit-link__text {
                font-weight: bold;
            }
        }

        &--title {
            width: calculateRem(464px);
            margin-right: calculateRem(16px);
        }

        &--target {
            .ez-ae-edit-link__choice {
                border: calculateRem(2px) solid $ez-color-secondary;
                padding: calculateRem(2px);
                border-radius: calculateRem(4px);

                .ez-ae-edit-link__label {
                    margin-bottom: 0;

                    &:not(:last-child) {
                        .ez-btn-ae__icon-wrapper {
                            margin-right: calculateRem(8px);
                        }
                    }

                    .ez-icon {
                        fill: $ez-color-secondary;
                        width: calculateRem(20px);
                        height: calculateRem(20px);
                    }

                    .ez-btn-ae__icon-wrapper {
                        padding: calculateRem(4px);
                        border-radius: calculateRem(4px);
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    input:checked + .ez-btn-ae__icon-wrapper {
                        background: $ez-color-secondary;

                        .ez-icon {
                            background-color: $ez-color-secondary;
                            fill: $ez-white;
                        }
                    }

                    [type='radio'] {
                        display: none;
                    }
                }
            }
        }

        &--separator {
            line-height: 2.25rem;
            padding: 0 0.5rem;
        }

        &--actions {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;

            .ez-btn-ae {
                &__icon {
                    fill: $ez-white;
                }
            }
        }

        .ez-ae-edit-link__label {
            margin-bottom: 0.3rem;
            font-weight: bold;
        }

        .ez-ae-edit-link__input {
            height: calculateRem(36px);
            border: calculateRem(1px) solid $ez-ground-base-dark;
            border-radius: calculateRem(4px);
        }
    }
}
