.ez-content-field-value .ezrichtext-field,
.ae-editable {
    div[class^='ezstyle-'],
    div[class*=' ezstyle-'],
    div[data-ezelement='ezstyleinline'],
    div[data-ezelement='ezstyle'] {
        margin-top: 0;
        margin-bottom: 1rem;
        padding: 0.5rem;
        border-width: 0.5rem;
        border-style: solid;
        border-color: #e5e3e3;
        border-radius: 0.25rem;
    }

    span[class^='ezstyle-'],
    span[class*=' style-'],
    span[data-ezelement='ezstyleinline'],
    span[data-ezelement='ezstyle'] {
        background-color: #e5e3e3;
        padding: 0 0.25rem;
        font-family: courier, monospace;
    }
}
