.ae-ui {
    .ae-container {
        .ez-ae-custom-tag {
            max-height: 400px;
            overflow: auto;
            padding: 1rem;

            .attribute__wrapper {
                margin-bottom: 0.5rem;
            }

            .attribute__label {
                margin: 0.5rem 0;
            }

            .ez-btn-ae--custom-tag {
                color: $ez-white;
            }

            &__attribute-link-wrapper {
                display: flex;
                align-items: flex-end;
            }

            &__attribute-link-block {
                .ez-btn-ae {
                    color: $ez-white;
                }

                &--separator {
                    padding: 0 calculateRem(16px);
                    line-height: calculateRem(36px);
                }
            }
        }
    }
}
