.ez-ae-anchor-edit {
    display: flex;
    padding: calculateRem(8px) 0 calculateRem(8px) calculateRem(8px);
    flex-wrap: wrap;
    max-width: calculateRem(528px);

    &__input-wrapper {
        margin-right: calculateRem(10px);
    }

    &__input-label {
        font-weight: 700;
    }

    &__input {
        width: calculateRem(400px);
    }

    &__actions {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        width: calculateRem(110px);
    }

    & &__error {
        color: $ez-color-warning-dark;
        margin-top: calculateRem(8px);
    }

    &__btn {
        border: none;

        &--trash,
        &--save {
            border-radius: 50%;
            width: calculateRem(40px);
            height: calculateRem(40px);
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        &--trash {
            background-color: $ez-color-base-dark;
        }

        &--save {
            background-color: $ez-color-positive;
        }

        &[disabled] {
            opacity: 0.3;
            cursor: not-allowed;
        }
    }
}
