.ez-bulk-operation-failed-modal {
    .modal-dialog {
        max-width: 60vw;
    }

    .modal-header {
        background-color: $ez-color-base-pale;

        .modal-title {
            font-size: calculateRem(24px);
        }

        .close {
            margin-top: calculateRem(-9px);
        }
    }

    .modal-body {
        padding: calculateRem(32px);
    }

    .table {
        margin-bottom: 0;
    }
}
