@import 'extra-actions';
@import 'alloyeditor-buttons';

.btn-icon {
    padding: 0;
}

.ez-field-edit--ezauthor {
    .btn-icon {
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
    }
}

.ez-btn--login {
    float: right;
    border-color: $ez-white;
    background-color: transparent;
    margin-top: 1rem;

    &:hover {
        background-color: $ez-white;
        border-color: $ez-color-primary;
        color: $ez-color-primary;
    }
}
