@import 'extra-actions';

.ez-btn {
    display: inline-block;
    padding: calculateRem(11px) calculateRem(16px);
    outline: none;
    border: none;
    border-radius: $ibexa-border-radius;
    text-decoration: none;
    font-size: calculateRem(15px);
    line-height: calculateRem(16px);
    transition: all 0.2s $ez-admin-transition;

    &:hover,
    &:focus,
    &:active {
        border: none;
        outline: none;
        text-decoration: none;
    }

    &--primary {
        color: $ibexa-white;
        background-color: $ibexa-color-primary;

        &:hover {
            color: $ibexa-white;
            background-color: $ibexa-color-primary-light;
        }

        &:active {
            background-color: $ibexa-color-primary-light;
            box-shadow: inset 0 0 0 calculateRem(2px) $ibexa-color-primary;
        }
    }

    &--secondary {
        color: $ibexa-color-primary;
        background-color: transparent;
        box-shadow: inset 0 0 0 calculateRem(1px) $ibexa-color-primary;

        &:hover {
            color: $ibexa-color-primary;
            background-color: $ibexa-color-primary-pale;
        }

        &:active {
            background-color: $ibexa-color-primary-pale;
            box-shadow: inset 0 0 0 calculateRem(2px) $ibexa-color-primary;
        }
    }

    &--base-dark {
        color: $ibexa-color-base-dark;
        background-color: transparent;
        box-shadow: inset 0 0 0 calculateRem(1px) $ibexa-color-base-dark;

        &:hover {
            color: $ibexa-color-base-dark;
            background-color: $ibexa-color-base-light;
        }

        &:active {
            background-color: $ibexa-color-base-dark;
            box-shadow: inset 0 0 0 calculateRem(2px) $ibexa-color-base-dark;
        }

        .ez-icon {
            fill: $ibexa-color-base-dark;
        }
    }

    &--no-border {
        color: $ibexa-color-primary;
    }
}

.ez-btn {
    &--action-icon {
        .ez-icon {
            fill: $ibexa-color-base-dark;
        }
    }
}

.btn-icon {
    padding: 0;
}

.ez-btn--add-translation {
    .ez-icon {
        margin-right: 0;
    }
}

.ez-side-menu,
.ez-context-menu {
    .btn:not(.ez-btn--confirm-send-to-trash):not(.ez-btn--hide-confirm) {
        width: calculateRem(80px);
        height: calculateRem(80px);
        padding: calculateRem(2px);
        border: 0;
        border-radius: 0;
        text-decoration: none;
        line-height: calculateRem(18px);

        &:hover,
        &:focus {
            box-shadow: none;
            background: $ibexa-white;
            outline: none;
        }

        &:first-child {
            border-top-left-radius: $ibexa-border-radius;
            border-top-right-radius: $ibexa-border-radius;
        }

        &:last-child {
            border-bottom-left-radius: $ibexa-border-radius;
            border-bottom-right-radius: $ibexa-border-radius;
        }
    }

    .ez-icon {
        display: block;
        width: calculateRem(24px);
        height: calculateRem(24px);
        margin: calculateRem(12px) auto calculateRem(5px);
    }
}

.ez-context-menu {
    .btn:not(.ez-btn--confirm-send-to-trash):not(.ez-btn--hide-confirm) {
        &:hover,
        &:focus {
            color: $ibexa-color-primary;

            .ez-icon {
                fill: $ibexa-color-primary;
            }
        }
    }
}

.ez-side-menu {
    .btn {
        &:focus,
        &:hover {
            color: $ibexa-black;

            .ez-icon {
                fill: $ibexa-black;
            }
        }
    }
}

.ez-context-menu {
    .btn.disabled,
    .btn[disabled] {
        opacity: 1;
        color: rgba($ibexa-white, 0.5);

        .ez-icon {
            opacity: 0.5;
        }
    }
}

.btn.disabled,
.btn[disabled] {
    opacity: 0.3;
}

.ez-btn--select-subtree {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .ez-icon {
        margin-right: calculateRem(8px);
    }
}

.ez-modal {
    .modal-footer {
        .btn {
            margin: 0 calculateRem(8px);
        }
    }
}

.ez-modal--trash-with-asset {
    .modal-footer {
        .btn-secondary {
            background-color: $ibexa-color-base-dark;
            border-color: $ibexa-color-base-dark;

            &:hover {
                background-color: $ibexa-color-base-dark;
                border-color: $ibexa-color-base-dark;
            }
        }
    }
}

.ez-content-view,
.ez-trash-list-view {
    .ez-modal--send-to-trash {
        .modal-footer {
            .form-check-inline {
                margin-right: 0;

                .btn-danger {
                    margin-right: 0;
                }
            }
        }
    }
}

.ez-btn--content-edit {
    background-color: transparent;
    cursor: pointer;
}

.ez-btn--cotf-create {
    display: flex;
    align-items: center;
}

.ez-btn--content-tree-expanded {
    background: $ibexa-white;
    border-color: $ibexa-white;
    color: $ibexa-black;
}

.ez-btn--wide,
.ez-btn.ez-btn--wide {
    padding: calculateRem(8px) calculateRem(48px);
}

.ez-btn--active-button {
    background-color: $ibexa-white;
    color: $ibexa-color-primary;
    border-color: $ibexa-white;

    .ez-icon {
        fill: $ibexa-color-primary;
    }
}

button:focus {
    outline: 0;
}
