@import 'extra-actions';

.ibexa-btn {
    display: inline-flex;
    white-space: nowrap;
    padding: calculateRem(15px);
    outline: none;
    border: calculateRem(1px) solid transparent;
    border-radius: $ibexa-border-radius;
    text-decoration: none;
    font-size: calculateRem(14px);
    transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;

    &:focus {
        box-shadow: $ibexa-btn-focus-box-shadow;
    }

    &--primary {
        color: $ibexa-color-white;
        fill: $ibexa-color-white;
        background-image: $ibexa-gradient-danger-primary;
        border-width: 0;
        padding: calculateRem(16px);

        &:hover {
            color: $ibexa-color-white;
            box-shadow: 0 0 0 transparent, $ibexa-btn-hover-box-shadow;
        }

        &:hover:focus {
            box-shadow: $ibexa-btn-focus-box-shadow, $ibexa-btn-hover-box-shadow;
        }

        &:disabled {
            color: $ibexa-color-dark-400;
            fill: $ibexa-color-dark-400;
            background-image: none;
            background-color: $ibexa-color-light;
            box-shadow: none;
        }
    }

    &--secondary {
        color: $ibexa-color-primary;
        fill: $ibexa-color-primary;
        background-color: $ibexa-color-white;
        border-color: $ibexa-color-primary;

        &:hover,
        &:focus {
            background-color: $ibexa-color-primary-200;
        }

        &:disabled {
            color: $ibexa-color-dark-400;
            fill: $ibexa-color-dark-400;
            border-color: $ibexa-color-dark-200;
            background-color: $ibexa-color-light-300;
        }
    }

    &--tertiary {
        color: $ibexa-color-dark;
        fill: $ibexa-color-dark;
        background-color: $ibexa-color-white;
        border-color: $ibexa-color-light;

        &:hover {
            border-color: $ibexa-color-dark;
        }

        &:focus {
            border-color: $ibexa-color-light;
        }

        &:disabled {
            color: $ibexa-color-dark-300;
            fill: $ibexa-color-dark-300;
            border-color: $ibexa-color-light;
            background-color: $ibexa-color-light-300;
        }
    }

    &--ghost {
        color: $ibexa-color-dark;
        fill: $ibexa-color-dark;

        &:hover {
            color: $ibexa-color-primary;
            fill: $ibexa-color-primary;
        }

        &:focus {
            border-color: $ibexa-color-primary;
        }

        &:disabled {
            color: $ibexa-color-dark-300;
            fill: $ibexa-color-dark-300;
        }
    }

    &--dark {
        color: $ibexa-color-white;
        fill: $ibexa-color-white;
        background-color: $ibexa-color-dark;
        border-color: $ibexa-color-dark;

        &:hover {
            color: $ibexa-color-white;
            fill: $ibexa-color-white;
            box-shadow: 0 0 0 transparent, $ibexa-btn-hover-box-shadow-dark;

            &:focus {
                box-shadow: $ibexa-btn-focus-box-shadow, $ibexa-btn-hover-box-shadow-dark;
            }
        }

        &:disabled {
            color: $ibexa-color-dark-400;
            fill: $ibexa-color-dark-400;
            background-color: $ibexa-color-light;
            border-color: $ibexa-color-light;
            box-shadow: none;
        }
    }

    &--small {
        padding-top: calculateRem(7px);
        padding-bottom: calculateRem(7px);
        height: calculateRem(32px);

        &.ibexa-btn--primary {
            padding-top: calculateRem(8px);
            padding-bottom: calculateRem(8px);
        }
    }

    &--no-text {
        &.ibexa-btn--small {
            padding-left: calculateRem(7px);
            padding-right: calculateRem(7px);

            &.ibexa-btn--primary {
                padding-left: calculateRem(8px);
                padding-right: calculateRem(8px);
            }
        }
    }

    &--add-translation {
        .ez-icon {
            margin-right: 0;
        }
    }

    &__label {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .ez-icon {
        margin-right: calculateRem(12px);
    }

    &--no-text {
        .ez-icon {
            margin-right: 0;
        }
    }
}

.ez-side-menu,
.ez-context-menu {
    .ez-sticky-container > .btn {
        width: 100%;
        height: calculateRem(80px);
        padding: calculateRem(2px) calculateRem(4px);
        border: 0;
        border-radius: 0;
        text-decoration: none;
        font-size: calculateRem(13px);
        line-height: calculateRem(18px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:hover,
        &:focus {
            box-shadow: none;
            outline: none;
        }

        &:first-child {
            border-top-left-radius: $ibexa-border-radius;
            border-top-right-radius: $ibexa-border-radius;
        }

        &:last-child {
            border-bottom-left-radius: $ibexa-border-radius;
            border-bottom-right-radius: $ibexa-border-radius;
        }

        .ez-icon {
            display: block;
            width: calculateRem(24px);
            height: calculateRem(24px);
            margin: 0 auto calculateRem(5px);
        }

        &.ibexa-btn--active-button {
            &:hover {
                @extend .ibexa-btn--active-button;
            }
        }
    }
}

.ez-context-menu {
    .ez-sticky-container > .btn.disabled,
    .ez-sticky-container > .btn[disabled] {
        opacity: 1;
        color: rgba($ibexa-white, 0.5);

        .ez-icon {
            opacity: 0.5;
        }
    }
}

.btn.disabled,
.btn[disabled] {
    opacity: 1;
}

.ez-content-view,
.ez-trash-list-view {
    .ez-modal--send-to-trash {
        .modal-footer {
            .form-check-inline {
                margin-right: 0;

                .btn-danger {
                    margin-right: 0;
                }
            }
        }
    }
}

.ibexa-btn--content-edit {
    background-color: transparent;
    cursor: pointer;
}

.ibexa-btn--cotf-create {
    display: flex;
    align-items: center;
}

.ibexa-btn--content-tree-expanded {
    background: $ibexa-white;
    border-color: $ibexa-white;
    color: $ibexa-black;
}

.ibexa-btn--active-button {
    background-color: $ibexa-white;
    color: $ibexa-color-primary;
    border-color: $ibexa-white;

    .ez-icon {
        fill: $ibexa-color-primary;
    }
}

button:focus {
    outline: 0;
}
