@import 'extra-actions';
@import 'alloyeditor-buttons';

.btn-icon {
    padding: 0;
}

.ez-field-edit--ezauthor {
    .btn-icon {
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
    }
}

.ez-btn--login {
    float: right;
    border-color: $ez-white;
    background-color: transparent;
    margin-top: 1rem;

    &:hover {
        background-color: $ez-white;
        border-color: $ez-color-primary;
        color: $ez-color-primary;
    }
}

.ez-btn--wide {
    padding: .5rem 3rem;
}

.ez-btn--add-translation {
    .ez-icon {
        margin-right: 0;
    }
}

.ez-table-header {
    .btn {
        line-height: .85;
        padding: .5rem .55rem;
        margin-left: .15rem;
        margin-right: 0;

        .ez-icon-create,
        .ez-icon-trash {
            margin-right: 0;
        }
    }
}

.ez-side-menu,
.ez-context-menu {
    .btn {
        padding-top: .5rem;
        padding-bottom: .375rem;
        font-size: .8125rem;
    }
}

.btn.disabled,
.btn:disabled {
    opacity: .3;
}

.ez-btn--select-subtree {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.ez-card .form-control .ez-field-selection {
    margin-bottom: 0;
}

.isContainer {
    @include checkbox-switcher();
}
