.ez-card {
    border: none;
    background-color: $ez-ground-base-light;

    .form-group {
        width: 70%;
    }

    .col-form-label {
        font-weight: 700;
    }

    .form-control {
        margin-bottom: 10px;
    }

    &__header {
        display: flex;
        background-color: $ez-color-base-pale;
        color: $ez-black;
        border-radius: .25rem .25rem 0 0;
        padding: .5rem 1.25rem;

        &--secondary {
            color: $ez-secondary-ground-medium;
            font-weight: 400;
        }

        &--sticky-top {
            // -webkit-sticky fixes bug for Safari 12.0
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            padding: .25rem 1.25rem;
            justify-content: space-between;
            z-index: 1040;
        }

        .form-inline {
            .btn-danger {
                display: flex;
                height: calculateRem(48px);
            }
        }
    }

    &__body {
        padding: .75rem 1.25rem;
    }

    &__field-control {
        background-color: $ez-white;
        border-radius: .5rem;
        padding: .3rem;

        .form-control {
            margin-bottom: 0;
        }
    }
}

.ez-card--toggle-group {
    background: $ez-white;

    &.ez-card--collapsed {
        .ez-card__body {
            max-height: 0;
            overflow: hidden;
            padding-top: 0;
            padding-bottom: 0;
        }

        .ez-card__body-display-toggler {
            .ez-icon--caret-down {
                display: none;
            }
        }
    }

    &:not(.ez-card--collapsed) {
        .ez-card__body-display-toggler {
            .ez-icon--caret-next {
                display: none;
            }
        }
    }

    .ez-card__header {
        line-height: 40px;
        padding: 0 20px;
        display: flex;

        .form-check-label {
            margin-bottom: 0;
            font-weight: 700;
            color: $ez-black;
            font-size: 17px;
        }

        .ez-card__body-display-toggler {
            margin: .25rem 0 .25rem auto;
            height: 2rem;
            width: 2rem;
            padding: 0;
            cursor: pointer;
            background: $ez-color-base-pale;
            transition: background .3s $ez-admin-transition;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background: darken($ez-color-base-pale, 15%);
                outline: none;
                box-shadow: none;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }

            .ez-icon {
                fill: $ez-black;
            }
        }
    }
}
