.ez-card {
    border: none;
    background-color: $ibexa-color-base-pale;

    .form-group {
        width: 70%;
    }

    .col-form-label {
        font-weight: 700;
    }

    .form-control {
        margin-bottom: calculateRem(10px);
    }

    &__header {
        display: flex;
        background-color: $ibexa-white;
        color: $ibexa-black;
        border-radius: $ibexa-border-radius $ibexa-border-radius 0 0;
        padding: calculateRem(8px) calculateRem(12px);

        &--secondary {
            color: $ibexa-color-primary;
            font-weight: 400;
        }

        &--sticky-top {
            // -webkit-sticky fixes bug for Safari 12.0
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            padding: calculateRem(4px) calculateRem(20px);
            justify-content: space-between;
            z-index: 1040;
        }

        .form-inline {
            .btn-danger {
                display: flex;
                height: calculateRem(48px);
            }
        }
    }

    &__title {
        padding: calculateRem(24px) 0 calculateRem(16px) calculateRem(24px);
        font-weight: bold;
        background: $ibexa-white;
    }

    &__body {
        padding: caluclateRem(12px) calculateRem(20px);
    }

    &__field-control {
        background-color: $ibexa-white;
        border-radius: $ibexa-border-radius;
        padding: calculateRem(4px);

        .form-control {
            margin-bottom: 0;
        }
    }

    &--no-padding {
        .ez-card__body {
            padding: 0;
        }
    }

    &--light {
        background: $ibexa-white;
    }
}

.ez-card--toggle-group {
    background: $ibexa-white;

    &.ez-card--collapsed {
        .ez-card__body {
            max-height: 0;
            overflow: hidden;
            padding-top: 0;
            padding-bottom: 0;
        }

        .ez-card__body-display-toggler {
            .ez-icon--caret-down {
                display: none;
            }
        }
    }

    &:not(.ez-card--collapsed) {
        .ez-card__body-display-toggler {
            .ez-icon--caret-next {
                display: none;
            }
        }
    }

    .ez-card__header {
        line-height: calculateRem(40px);
        padding: 0 calculateRem(20px);
        display: flex;

        .form-check-label {
            margin-bottom: 0;
            font-weight: 700;
            color: $ibexa-black;
            font-size: calculateRem(16px);
        }

        .ez-card__body-display-toggler {
            margin: calculateRem(4px) 0 calculateRem(4px) auto;
            height: calculateRem(32px);
            width: calculateRem(32px);
            padding: 0;
            cursor: pointer;
            background: $ibexa-white;
            transition: background .3s $ez-admin-transition;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background: darken($ibexa-white, 15%);
                outline: none;
                box-shadow: none;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }

            .ez-icon {
                stroke: $ibexa-black;
            }
        }
    }
}
