.ez-card {
    border: none;
    background-color: $ez-ground-base-light;

    .form-group {
        width: 70%;
    }

    .col-form-label {
        font-weight: 700;
    }

    .form-control {
        margin-bottom: 10px;
    }

    &__header {
        background-color: $ez-color-base-pale;
        color: $ez-black;
        border-radius: .25rem .25rem 0 0;
        padding: .75rem 1.25rem .5rem 1.25rem;

        &--secondary {
            color: $ez-secondary-ground-medium;
            font-weight: 400;
        }
    }

    &__body {
        padding: .75rem 1.25rem;
    }

    &__field-control {
        background-color: $ez-white;
        border-radius: .5rem;
        padding: .3rem;

        .form-control {
            margin-bottom: 0;
        }
    }
}

.ez-card--fieldtype-container {
    background: $ez-white;

    .ez-card__header {
        line-height: 40px;
        padding: 0 20px;

        label {
            margin-bottom: 0;
            font-weight: 700;
            color: $ez-black;
            font-size: 17px;
        }
    }
}
