.ez-content-edit-page-title {
    &--increased-left-margin {
        margin-left: calculateRem(55px);
    }

    &__action {
        font-weight: bold;
    }

    &__title {
        font-size: calculateRem(26px);
    }

    &__description {
        font-size: calculateRem(14px);
        color: $ibexa-color-base-dark;
    }
}

.ez-content-item {
    &__title {
        display: flex;
    }

    &__name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-left: calculateRem(2px);
    }
}

.ez-content-item-status {
    font-size: calculateRem(16px);
    color: $ibexa-color-base-dark;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ez-content-edit-container {
    position: relative;
    width: calc(100% - #{calculateRem(80px)});
    margin-left: calculateRem(80px);

    &__close {
        position: fixed;
        top: calculateRem(8px);
        left: calculateRem(8px);
        display: flex;
        align-items: center;
        justify-content: center;
        width: calculateRem(30px);
        height: calculateRem(30px);
    }
}

.ez-content-item__errors-wrapper {
    font-style: italic;
    color: $ibexa-color-warning-dark;
    font-size: calculateRem(16px);
}

.ez-header--content-edit {
    .breadcrumb {
        margin-bottom: 0;
    }
}
