.ez-content-type-selector {
    $selector: '.ez-content-type-selector';
    padding: calculateRem(16px) calculateRem(24px);

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, 150px);
        justify-content: space-between;
        list-style: none;
        padding: 0;
    }

    &__item {
        display: flex;

        .form-check-inline {
            margin: calculateRem(4px);

            .form-check-label {
                font-size: calculateRem(14px);
            }
        }
    }

    &__group-title {
        color: $ez-color-secondary;
        position: relative;
        cursor: pointer;
        padding-right: calculateRem(24px);

        &:before,
        &:after {
            content: '';
            width: 1px;
            height: 7px;
            background-color: $ez-color-secondary;
            position: absolute;
            top: 50%;
            right: -1rem;
            transition: all 0.2s $ez-admin-transition;
        }

        &:before {
            transform: translate(-27px, -50%) rotate(135deg);
        }

        &:after {
            transform: translate(-22px, -50%) rotate(45deg);
        }
    }

    &__group {
        #{$selector}__list {
            transform: scaleY(1);
            transform-origin: top center;
            transition: all 0.2s $ez-admin-transition;
        }

        &--collapsed {
            #{$selector}__list {
                transform: scaleY(0);
                opacity: 0;
                height: 0;
            }

            #{$selector}__group-title:before {
                transform: translate(-27px, -20%) rotate(45deg);
            }

            #{$selector}__group-title:after {
                transform: translate(-27px, -80%) rotate(-45deg);
            }
        }

        &:last-of-type {
            .ez-content-type-selector__list {
                margin-bottom: calculateRem(8px);
            }
        }
    }
}
