.ez-content-edit-page-title {
    &__action {
        font-weight: bold;
    }

    &__title {
        font-size: calculateRem(26px);
    }

    &__description {
        font-size: calculateRem(14px);
        color: $ibexa-color-base-dark;
    }
}

.ez-content-item {
    &__title {
        display: flex;
    }

    &__name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-left: calculateRem(2px);
    }
}

.ez-content-item-status {
    font-size: calculateRem(16px);
    color: $ibexa-color-base-dark;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ez-content-edit-container {
    position: relative;
    width: calc(100% - #{calculateRem(80px)});
    margin-left: calculateRem(80px);

    &__close {
        position: fixed;
        top: calculateRem(8px);
        left: calculateRem(8px);
        display: flex;
        align-items: center;
        justify-content: center;
        fill: $ibexa-color-primary;
        width: calculateRem(30px);
        height: calculateRem(30px);
    }

    .ez-edit-header {
        margin-top: calculateRem(55px);

        &__content-type-name {
            position: fixed;
            z-index: 1100;
            top: 0;
            left: 0;
            width: 100%;
            min-height: calculateRem(55px);
            padding: calculateRem(12px) 0;
            color: $ibexa-color-font;
            font-size: calculateRem(16px);
            font-weight: normal;
            background: $ibexa-white;
            border-bottom: calculateRem(1px) solid $ibexa-color-base;

            .breadcrumb {
                margin-top: 0;
            }
        }

        &--create-on-the-fly,
        &--edit-on-the-fly {
            .ez-edit-header__content-type-name {
                width: 100%;
            }
        }
    }
}

.ez-content-item__errors-wrapper {
    font-style: italic;
    color: $ibexa-color-warning-dark;
    font-size: calculateRem(16px);
}
