.ibexa-content-type-edit-header {
    height: calculateRem(241px);
    background-color: $ibexa-color-white;
    box-shadow: $ibexa-edit-header-box-shadow;
    border-width: calculateRem(1px) calculateRem(1px) 0 calculateRem(1px);
    border-style: solid;
    border-color: $ibexa-color-light-400;
    border-top-left-radius: $ibexa-border-radius;
    border-top-right-radius: $ibexa-border-radius;
    transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;

    &__row {
        &--top {
            height: calculateRem(85px);
        }

        &--bottom {
            height: calculateRem(154px);
            transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
        }
    }

    &__column {
        position: static;

        &--left {
            padding-left: 0;
            border-bottom: calculateRem(1px) solid $ibexa-color-light;

            .ibexa-label {
                margin-bottom: 0;
                color: $ibexa-color-dark-400;
            }
        }

        &--right {
            .ibexa-autosave {
                position: absolute;
                top: calculateRem(96px);
                right: calculateRem(64px);
            }
        }
    }

    &__context-actions {
        display: flex;
        position: absolute;
        top: calculateRem(36px);
        right: calculateRem(64px);
        width: 55%;
    }

    &__tooltip {
        display: flex;
        align-items: center;
    }

    &__action-name,
    &__location {
        opacity: 1;
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
    }

    &__separate-div {
        position: relative;
        z-index: 1;
        width: 100%;
        height: calculateRem(1px);
        background: $ibexa-color-light;
        transform: scaleX(0);
        transition-duration: $ibexa-admin-transition-duration;
    }

    .ibexa-autosave {
        opacity: 1;
        transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
    }

    &--slim {
        height: calculateRem(86px);

        .ibexa-content-edit-header {
            &__row {
                &--top {
                    height: calculateRem(85px);
                }

                &--bottom {
                    height: calculateRem(85px);
                    margin-top: calculateRem(-85px);
                }
            }

            &__column {
                &--left {
                    border-bottom: none;
                }
            }

            &__action-name,
            &__location {
                opacity: 0;
                height: 0;
            }

            &__separate-div {
                transform: scaleX(1);
            }
        }

        .ibexa-autosave {
            opacity: 0;
            height: 0;
        }
    }
}

.ibexa-field-types-available {
    display: flex;
    flex-direction: column;
    max-width: calculateRem(340px);
    max-height: calculateRem(700px);
    margin-left: calculateRem(24px);
    padding-top: calculateRem(16px);
    overflow: hidden;
    border: calculateRem(1px) solid $ibexa-color-light;
    border-radius: $ibexa-border-radius;
    background-color: $ibexa-color-light-400;
    box-shadow: calculateRem(-4px) calculateRem(22px) calculateRem(47px) 0 rgba($ibexa-color-info, 0.05);
    transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;

    &__header {
        margin: 0;
        padding: calculateRem(24px);  
        background: $ibexa-color-white;
        border-bottom: calculateRem(1px) solid $ibexa-color-light;
        
    }

    &__search-container {
        padding: calculateRem(24px);
        background: $ibexa-color-white;
    }

    &__search {
        height: calculateRem(48px);
    }

    &__fields {
        background: $ibexa-color-white;
        overflow: auto;
        padding: calculateRem(12px) calculateRem(24px) calculateRem(24px) calculateRem(24px);
    }

    &__field {
        display: flex;
        align-items: center;
        margin: calculateRem(8px) 0;
        height: calculateRem(48px);
        border: calculateRem(1px) solid $ibexa-color-light;
        border-radius: $ibexa-border-radius;
    }

    &__field-drag-icon {
        fill: $ibexa-color-dark-200;
        margin: 0 calculateRem(16px);
    }

    &__field-icon {
        margin-right: calculateRem(8px);
    }

    &__field-name {
        font-weight: 600;
    }
}

.ibexa-content-type-edit-sections {
    &__section-column {
        &--field-definitions {
            min-height: calculateRem(700px);
            padding: calculateRem(24px);
            background: $ibexa-color-light-300;
            border-radius: $ibexa-border-radius;
        }
    }

    &__add-group {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calculateRem(80px);
        margin-top: calculateRem(24px);
        border: calculateRem(1px) dashed $ibexa-color-light-600;
        border-radius: $ibexa-border-radius;
    }

    &__add-button {
        min-width: calculateRem(210px);
        justify-content: center;
    }

    .ibexa-anchor-navigation-sections__section {
        margin-bottom: calculateRem(100px);
    }
}

.ibexa-content-type-edit-content {
    @include edit-right-side-container;
}