// eZ transition function
$ez-admin-transition: cubic-bezier(0.25, 0.8, 0.25, 1);
$ez-admin-widget-open-transition: all 0.3s ease-in;
$ez-admin-widget-close-transition: all 0.3s ease-out;

/* eZ colors */
$ez-color-primary: #f15a10;
$ez-color-primary-hover: darken($ez-color-primary, 15%);
$ez-color-secondary: #106d95;
$ez-color-secondary-hover: darken($ez-color-secondary, 15%);
$ez-color-hyperlink: #0645ad;
$ez-color-hyperlink-hover: darken($ez-color-hyperlink, 15%);
$ez-color-positive: #00825c;
$ez-color-warning: #f7d000;
$ez-color-danger: #d92d42;
$ez-color-danger-hover: darken($ez-color-danger, 15%);

$ez-white: #fff;
$ez-ground-base-pale: #fafafa;
$ez-ground-base-light: #f5f5f5;
$ez-ground-base: #f3f3f3;
$ez-ground-base-medium: #ededed;
$ez-ground-base-dark: #e5e3e3;
$ez-ground-base-dark-hover: darken($ez-ground-base-dark, 15%);
$ez-color-base-pale: #dbdbdb;
$ez-color-base-light: #878787;
$ez-color-base-light-hover: darken($ez-color-base-light, 15%);
$ez-color-base-medium: #646464;
$ez-color-base-medium-hover: darken($ez-color-base-medium, 15%);
$ez-color-base-dark: #555;
$ez-black: #333;

$ez-secondary-ground-pale: #e1f5ff;
$ez-ground-primary: #a8c8d5;
$ez-secondary-ground: #2b84b1;
$ez-secondary-ground-medium: #106d95;
$ez-secondary-ground-dark: #0a5574;
$ez-ground-primary-inverted-light: #445a64;
$ez-ground-primary-inverted: #565e63;

$ez-color-warning-pale: #fceaec;
$ez-color-warning-dark: #aa0000;

$ez-alloyeditor-color-hover: #65b6f0;

$ez-pagination-bg: transparent;
$ez-pagination-margin: 0.25rem;
$ez-pagination-font-size: 1rem;
$ez-pagination-page-link-radius: 50%;
$ez-pagination-border-radius: 0.3rem;

/* boostrap variables*/
$white: $ez-white;
$gray-100: $ez-ground-base-pale;
$gray-200: $ez-ground-base-light;
$gray-300: $ez-ground-base;
$gray-400: $ez-ground-base-medium;
$gray-500: $ez-ground-base-dark;
$gray-600: $ez-color-base-pale;
$gray-700: $ez-color-base-light;
$gray-800: $ez-color-base-medium;
$gray-900: $ez-color-base-dark;
$black: $ez-black;

$grays: (
    100: $ez-ground-base-pale,
    200: $ez-ground-base-light,
    300: $ez-ground-base,
    400: $ez-ground-base-medium,
    500: $ez-ground-base-dark,
    600: $ez-color-base-pale,
    700: $ez-color-base-light,
    800: $ez-color-base-medium,
    900: $ez-color-base-dark
);

$blue: $ez-color-secondary;
$red: $ez-color-danger;
$orange: $ez-color-primary;
$yellow: $ez-color-warning;
$green: $ez-color-positive;
$teal: $ez-ground-primary;
$pink: #e83e8c !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$cyan: #17a2b8 !default;

$colors: (
    blue: $ez-color-secondary,
    red: $ez-color-danger,
    orange: $ez-color-primary,
    yellow: $ez-color-warning,
    green: $ez-color-positive,
    teal: $ez-ground-primary,
    white: $white,
    gray: $ez-color-base-light,
    gray-dark: #e83e8c,
    indigo: $indigo,
    purple: $purple,
    pink: $pink,
    cyan: $cyan
);

$theme-colors: (
    primary: $ez-color-primary,
    secondary: $ez-color-secondary,
    success: $ez-color-positive,
    warning: $ez-color-warning,
    danger: $ez-color-danger,
    light: $ez-ground-base-pale,
    dark: $ez-color-base-dark,
    info: $cyan
);

// Typography
$base-font-size: 16px;
$h1-font-size: 1.75rem !default;
$h2-font-size: 1.5rem !default;
$h3-font-size: 1.375rem !default;
$h4-font-size: 1.25rem !default;
$h5-font-size: 1.125rem !default;
$h6-font-size: 1.0625rem !default;

$headings-font-weight: 700;

// Fonts
$font-family-sans-serif: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !default;

// Tables
$table-bg: $white;
$table-border-color: $ez-ground-primary;

// Breadcrumbs
$breadcrumb-bg: $ez-ground-base;

// Links
$link-color: $ez-color-hyperlink;

// Body
$body-bg: $ez-ground-base-pale;
$body-color: $ez-black;

// Pagination

$pagination-color: $ez-black;
$pagination-bg: $ez-pagination-bg;

$pagination-active-color: $ez-black;
$pagination-active-bg: $ez-white;
$pagination-active-border-color: transparent;

$pagination-disabled-color: $ez-black;
$pagination-disabled-bg: transparent;
$pagination-disabled-border-color: transparent;

$pagination-border-width: 0;
$pagination-border-color: transparent;

// Modals
$modal-content-bg: $ez-ground-base-medium;
