.ez-dashboard__header {
    display: grid;
    grid-template-columns: auto calculateRem(120px);

    .ez-dashboard__create {
        .ez-btn--cotf-create {
            color: $ibexa-color-primary;
            text-decoration: none;

            .ez-icon {
                margin-right: .25rem;
            }
        }
    }
}

.ez-dashboard__create {
    display: flex;
    align-items: center;
}
