.ez-dashboard-tile {
    padding: calculateRem(16px) calculateRem(32px);
    background-color: $ibexa-white;
    border-radius: $ibexa-border-radius;

    &__header {
        margin-bottom: calculateRem(16px);
    }

    &__header-title {
        font-size: calculateRem(18px);
    }

    &__header-sub-title {
        color: $ibexa-color-font-pale;
        font-size: calculateRem(14px);
    }

    &__body {
        margin-bottom: calculateRem(4px);
        font-size: calculateRem(40px);
    }

    &__footer {
        display: flex;
        align-items: baseline;
        font-size: calculateRem(16px);
        
        &--neutral {
            .ez-dashboard-tile {
                &__footer-icon {
                    fill: $ibexa-color-warning;
                }

                &__footer-value {
                    color: $ibexa-color-warning;
                }
            }
        }

        &--positive {
            .ez-dashboard-tile {
                &__footer-icon {
                    fill: $ibexa-color-positive;
                }

                &__footer-value {
                    color: $ibexa-color-positive;
                }
            }
        }

        &--danger {
            .ez-dashboard-tile {
                &__footer-icon {
                    fill: $ibexa-color-danger;
                }

                &__footer-value {
                    color: $ibexa-color-danger;
                }
            }
        }
    }

    &__footer-icon {
        margin-right: calculateRem(4px);
    }

    &__footer-value {
        font-size: calculateRem(16px);
        margin-right: calculateRem(8px);

        &::before {
            margin-right: calculateRem(4px);
        }
    }

    &__footer-label {
        color: $ibexa-color-font-pale;
        font-size: calculateRem(12px);
    }
}
