.ez-error-page-wrapper {
    width: 100%;
    height: 100vh;
    
    .ez-error-page {
        width: 100%;
        height: 60vh;

        &__logo-link {
            display: inline-block;
            max-width: calculateRem(88px);
            max-height: calculateRem(24px);
        }

        &__logo-image {
            display: inline-block;
            max-width: 100%;
            width: auto;
            height: auto;
        }

        &__messages-container {
            display: flex;
            flex-direction: column;
        }

        &__icon {
            margin-top: calculateRem(100px);
            margin-bottom: calculateRem(20px);
        }

        &__title {
            text-align: center;
            font-size: calculateRem(32px);
            margin-bottom: calculateRem(32px);
        }

        &__message {
            text-align: center;

            &--title {
                font-weight: bold;
                margin-bottom: 0;
            }
        }

        &--top-section {
            background-color: $ibexa-white;
            background-image: url('/bundles/ezplatformadminui/img/errors/background.png');
        }
    }
}

// .error-page-wrapper {
//     width: 100vw;
//     height: 100vh;
//     background-color: $ibexa-white;
//     background-image: url('/bundles/ezplatformadminui/img/errors/background.png');


//     .error-page {
//         height: 100vh;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;

//         &__title {
//             text-align: center;
//             font-size: calculateRem(58px);
//         }

//         &__messages {
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//         }

//         &__message {
//             text-align: center;
//             font-size: calculateRem(16px);

//             &--title {
//                 margin: calculateRem(70px) auto;
//                 font-size: calculateRem(45px);
//             }

//             &--content {
//                 max-width: calculateRem(630px);
//             }

//             &--actions {
//                 max-width: calculateRem(700px);
//                 margin-top: calculateRem(40px);
//                 font-size: calculateRem(21px);
//                 line-height: calculateRem(38px);
//             }
//         }
//     }

//     &__link {
//         color: #0058ba;
//         text-decoration: none;
//     }
// }
