.error-page-wrapper {
    width: 100vw;
    height: 100vh;
    background: $ez-white;
    
    .error-page {
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        &__title {
            text-align: center;
            font-size: calculateRem(58px);
        }

        &__messages {
           display: flex;
           flex-direction: column;
           align-items: center;
        }

        &__message {
            text-align: center;
            font-size: calculateRem(16px);

            &--title {
                margin: calculateRem(70px) auto;
                font-size: calculateRem(45px);
            }

            &--content {
                max-width: calculateRem(630px);
            }

            &--actions {
                max-width: calculateRem(700px);
                margin-top: calculateRem(40px);
                font-size: calculateRem(21px);
                line-height: calculateRem(38px);
            }
        }
    }

    &__link {
        color: #0058BA;
        text-decoration: none;
    }
}
