.ez-extra-actions {
    $block: '.ez-extra-actions';

    background-color: $ez-white;
    border: calculateRem(16px) solid $ez-white;
    width: calculateRem(360px);
    box-shadow: calculateRem(-4px) calculateRem(4px) calculateRem(6px) 0 rgba($ez-color-base-light, 0.35);

    &__action {
        display: block;
        background: none;
        border: 0 none;
        width: 100%;
        text-align: left;
        border-radius: calculateRem(4px);
        padding: 0 calculateRem(16px);
        line-height: calculateRem(45px);
        background: $ez-white;
        color: $ez-color-secondary;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.2s $ez-admin-transition;

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }

        &:hover,
        &:focus {
            background: $ez-secondary-ground-pale;
        }

        &:active {
            background: $ez-secondary-ground;
            color: $ez-white;
        }
    }

    &__action + &__action {
        margin-top: calculateRem(8px);
    }

    &__header {
        line-height: calculateRem(50px);
        color: $ez-color-secondary;
        padding: 0 calculateRem(8px);
        font-weight: 600;
        border-bottom: 1px solid $ez-color-secondary;
    }

    &__content {
        background: $ez-ground-base-dark;
        max-height: calculateRem(300px);
        overflow: auto;

        .form-group {
            margin-bottom: 0;
        }
    }

    &--edit-user,
    &--edit {
        #{$block}__content {
            padding: calculateRem(8px);
        }

        #{$block}__form-values {
            max-height: calculateRem(150px);
            overflow: auto;
        }

        .form-check {
            display: block;
            background: none;
            border: 0 none;
            width: 100%;
            text-align: left;
            border-radius: calculateRem(4px);
            padding: 0 calculateRem(16px);
            line-height: calculateRem(45px);
            background: $ez-white;
            text-decoration: none;
            cursor: pointer;
            transition: all 0.2s $ez-admin-transition;
            margin-bottom: 0;
            font-size: calculateRem(15px);

            &:hover,
            &:focus {
                background: $ez-secondary-ground-pale;
                text-decoration: none;
            }

            &:active {
                background: $ez-secondary-ground;
                color: $ez-white;
            }

            &:not(:last-child) {
                margin-bottom: calculateRem(8px);
            }

            &-label {
                display: flex;
                align-items: center;
                margin: 0;
                cursor: pointer;
            }

            &-input[type='radio'] {
                display: none;
            }
        }
    }

    &__section-header {
        background: $ez-ground-base-dark;
        padding: calculateRem(4px) 0 calculateRem(4px) calculateRem(8px);
        font-size: calculateRem(15px);
        font-weight: 700;
    }

    &__section-content {
        background: $ez-white;
        padding: 1rem calculateRem(8px);
        font-size: calculateRem(15px);

        select {
            display: inline-block;
            width: 100%;
        }
    }

    &--create {
        #{$block}__content {
            max-height: initial;
        }

        #{$block}__section-content--content-type {
            padding: 0;
        }

        .form-check {
            cursor: pointer;
            background: $ez-white;
            transition: all 0.2s $ez-admin-transition;
            margin-bottom: 0;
            padding-left: 0;

            &:hover,
            &:focus {
                background: $ez-secondary-ground-pale;
            }

            &:active {
                background: $ez-secondary-ground;
                color: $ez-white;
            }

            &-label {
                margin: 0;
                display: block;
                padding-left: calculateRem(40px);
            }

            &-input[type='radio'] {
                display: none;
            }
        }

        button {
            &[type='submit'] {
                display: none;
            }
        }
    }
}

.ez-extra-actions-container {
    .ez-extra-actions {
        position: absolute;
        top: calculateRem(-24px);
        bottom: 0;
        left: 0;
        z-index: 2;
        opacity: 1;
        transform: translate(calc(-100%), 0) scaleX(1);
        transform-origin: right center;
        transition: all 0.4s ease-in;

        &--hidden {
            opacity: 0;
            transform: translate(calc(-100%), 0) scaleX(0);
            transition: all 0.2s ease-out;
        }
    }
}

.ez-btn {
    &--active-button {
        background-color: $ez-white;
        color: $ez-color-secondary;
        border-color: $ez-white;

        .ez-icon {
            fill: $ez-color-secondary;
        }
    }
}