.ez-extra-actions {
    $block: '.ez-extra-actions';

    width: calculateRem(360px);
    padding: calculateRem(16px);
    background-color: $ibexa-white;
    box-shadow: calculateRem(-4px) calculateRem(4px) calculateRem(6px) 0 rgba(0, 0, 0, 0.1);

    &__action {
        display: block;
        background: none;
        border: 0 none;
        width: 100%;
        text-align: left;
        border-radius: calculateRem(4px);
        padding: 0 calculateRem(16px);
        line-height: calculateRem(45px);
        background: $ibexa-white;
        color: $ibexa-color-primary;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.2s $ez-admin-transition;

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }

        &:hover,
        &:focus {
            background: $ibexa-white;
        }

        &:active {
            background: $ibexa-white;
            color: $ibexa-color-primary;
        }
    }

    &__action + &__action {
        margin-top: calculateRem(8px);
    }

    &__header {
        margin-bottom: calculateRem(32px);
        padding: calculateRem(8px) calculateRem(8px) calculateRem(24px);
        color: $ibexa-color-primary;
        font-size: calculateRem(16px);
        font-weight: bold;
        border-bottom: calculateRem(1px) solid $ibexa-color-base;
    }

    &__content {
        .form-group {
            margin-bottom: 0;
        }
    }

    &--edit-user,
    &--edit {
        .form-check {
            display: block;
            background: none;
            border: 0 none;
            width: 100%;
            text-align: left;
            border-radius: calculateRem(4px);
            padding: 0 calculateRem(16px);
            line-height: calculateRem(45px);
            background: $ez-white;
            text-decoration: none;
            cursor: pointer;
            transition: all 0.2s $ez-admin-transition;
            margin-bottom: calculateRem(10px);
            font-size: calculateRem(15px);
            box-shadow: 0 calculateRem(2px) calculateRem(4px) 0 rgba($ez-black, 0.1);

            &:hover,
            &:focus {
                background: $ez-secondary-ground-pale;
                font-weight: 700;
                text-decoration: none;
            }

            &:active {
                background: $ez-secondary-ground;
                color: $ez-white;
            }

            &-label {
                display: flex;
                align-items: center;
                margin: 0;
                cursor: pointer;
            }

            &-input[type='radio'] {
                display: none;
            }
        }
    }

    &__section-header {
        padding: calculateRem(4px) 0;
        font-size: calculateRem(16px);
        line-height: calculateRem(22px);
        font-weight: 700;
    }

    &__section-content {
        background: $ez-white;
        font-size: calculateRem(16px);
        line-height: calculateRem(22px);

        select {
            display: inline-block;
            width: 100%;
        }
    }

    &--create {
        #{$block}__content {
            max-height: calc(100% - #{calculateRem(60px)});
            overflow: auto;
        }

        #{$block}__section-content--content-type {
            padding: 0;
        }

        .form-check {
            cursor: pointer;
            background: $ez-white;
            transition: all 0.2s $ez-admin-transition;
            margin-bottom: 0;
            padding-left: 0;

            &:hover,
            &:focus {
                background: $ez-secondary-ground-pale;
            }

            &:active {
                background: $ez-secondary-ground;
                color: $ez-white;
            }

            &-label {
                margin: 0;
                display: block;
                padding-left: calculateRem(40px);
            }

            &-input[type='radio'] {
                display: none;
            }
        }

        button {
            &[type='submit'] {
                display: none;
            }
        }
    }
}

.ez-extra-actions-container {
    .ez-extra-actions {
        position: absolute;
        top: calculateRem(-24px);
        bottom: 0;
        left: 0;
        z-index: 2;
        transform: translate(calc(-100%), 0) scaleX(1);
        transform-origin: right center;
        transition: $ez-admin-widget-open-transition;

        &--hidden {
            transform: translate(calc(-100%), 0) scaleX(0);
            transition: $ez-admin-widget-close-transition;
        }
    }
}
