.ez-view-rawcontentview {
    margin-bottom: calculateRem(25px);
    border: calculateRem(1px) solid $ez-ground-base-dark;

    .ez-raw-content-title {
        min-height: calculateRem(44px);
        padding: calculateRem(3px) calculateRem(15px);
        background: $ez-ground-base-dark;
        color: $ez-color-secondary;
        align-items: center;

        h2 {
            margin: 0 calculateRem(10px) 0 0;
            font-size: calculateRem(18px);
            font-weight: 400;
        }

        .form-inline {
            &.collapsing {
                -webkit-transition: none;
                transition: none;
                display: none;
            }
        }
    }
}

.ez-fieldgroup {
    &__name {
        color: $ez-color-secondary;
        border-bottom: calculateRem(1px) solid $ez-color-secondary;
        padding-bottom: calculateRem(8px);
        font-weight: 400;
        font-size: calculateRem(18px);
    }

    &__toggler {
        position: relative;
        display: block;
        width: 100%;
        margin-bottom: calculateRem(10px);
        padding: calculateRem(5px) 0;
        font-size: calculateRem(17px);
        font-weight: 400;
        color: $ez-color-secondary;
        border-bottom: calculateRem(1px) solid;

        &:hover {
            color: $ez-color-secondary;
            text-decoration: none;
        }

        &:after {
            content: '';
            position: absolute;
            top: calculateRem(20px);
            right: calculateRem(5px);
            display: inline-block;
            width: calculateRem(7px);
            height: calculateRem(7px);
            border-right: calculateRem(2px) solid $ez-color-secondary;
            border-bottom: calculateRem(2px) solid $ez-color-secondary;
            transition: all 0.2s $ez-admin-transition;
            transform: rotate(-135deg);
        }

        &.collapsed {
            &:after {
                transform: rotate(-45deg);
            }
        }
    }

    .ez-content-field-name {
        background-color: $ez-color-base-pale;
    }

    .ez-content-field {
        padding: 0;
        margin-bottom: calculateRem(24px);

        .ez-content-field-name {
            background-color: $ez-color-base-pale;
            margin-bottom: 0;
            padding: calculateRem(8px) calculateRem(24px);
            border-radius: calculateRem(5px) calculateRem(5px) 0 0;
            font-weight: 700;
        }

        .ez-content-field-value {
            background-color: $ez-white;
            padding: calculateRem(16px) calculateRem(24px);
            border-radius: 0 0 calculateRem(5px) calculateRem(5px);

            .ezstring-field {
                display: inline-block;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .ez-field-preview--ezobjectrelationlist {
        .table {
            margin-bottom: 0;
        }
    }

    .ez-content-field-value {
        .ezcountry-field {
            margin-bottom: 0;
        }
    }
}
