@import 'custom';

.ez-view-rawcontentview {

    .ez-raw-content-title {
        border-bottom: 1px solid $ez-color-secondary;
        color: $ez-color-secondary;

        h2 {
            margin-top: 1rem;
            margin-bottom: 0;
            padding-bottom: .5rem;
            font-size: 1.125rem;
            font-weight: 400;  
        }

        .form-inline {
            padding-bottom: .25rem;
        }
    }    
}

.ez-fieldgroup {

    .ez-fieldgroup-name {
        color: $ez-color-secondary;
        border-bottom: 1px solid $ez-color-secondary;
        padding-bottom: .5rem;
        font-weight: 400;
    }

    .ez-content-field-name {
        background-color: $ez-color-base-pale;
    }

    h2.ez-fieldgroup-name {
        font-size: 1.125rem;
    }

    h3.ez-fieldgroup-name {
        font-size: 1.0625rem;
    }

    .ez-content-field {
        padding: 0 1rem;
        margin-bottom: 1.5rem;

        .ez-content-field-name {
            background-color: $ez-color-base-pale;
            margin-bottom: 0;
            padding: .5rem 1.5rem;
            border-radius: 5px 5px 0 0;
            font-weight: 700;
        }

        .ez-content-field-value {
            background-color: $ez-white;
            padding: 1rem 1.5rem;
            border-radius: 0 0 5px 5px;
        }
    }
}
