.ez-filters {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $ez-color-secondary;
    transform: scaleY(1);
    transform-origin: top center;
    transition: all 0.2s $ez-admin-transition;
    flex-wrap: wrap;
    position: relative;

    &--collapsed {
        transform: scaleY(0);
        height: 0;
    }

    &__item {
        flex-basis: 18%;

        &-label {
            margin-bottom: 0;
            font-weight: 700;
        }

        &--creator {
            position: relative;

            .ez-filters__input {
                + .ez-icon {
                    display: none;
                }

                &:disabled {
                    cursor: auto;
                    background-color: $ez-color-base-dark;
                    color: $ez-white;
                    padding-right: 2rem;
                    text-overflow: ellipsis;

                    & + .ez-icon {
                        display: block;
                        position: absolute;
                        bottom: .4375rem;
                        right: .375rem;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 93.75%;
        border-style: solid;
        border-width: 0 calculateRem(10px) calculateRem(10px);
        display: block;
        width: 0;
        z-index: 1;
    }

    &:before {
        border-color: $ez-color-secondary transparent;
        top: calculateRem(-11px);
    }

    &:after {
        border-color: $ez-ground-base-light transparent;
        top: calculateRem(-10px);
    }

    &__btns {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        margin-top: 2rem;

        .btn {
            margin: 0 1rem;
        }
    }

    &__option--hidden {
        display: none;
    }

    &__user-list {
        padding: 0;
        list-style: none;
        position: absolute;
        right: 0;
        min-width: 100%;
        border-radius: 5px;
        margin-bottom: 0;
        background-color: $ez-ground-base-dark;
        max-height: 300px;
        overflow: auto;
        transform: scaleY(1);
        transform-origin: top center;
        transition: transform .2s $ez-admin-transition;

        &--hidden {
            transform: scaleY(0);
        }
    }

    &__user-item {
        padding: .5rem 1rem;
        cursor: pointer;
    }
}
