.ez-filters {
    border-color: $ez-color-secondary;
    border-style: solid;
    border-width: calculateRem(1px) 0;
    transform: scaleY(1);
    transform-origin: top center;
    transition: all 0.2s $ez-admin-transition;
    flex-wrap: wrap;
    position: relative;
    padding: calculateRem(8px) calculateRem(8px) 0 calculateRem(8px);

    &--collapsed {
        transform: scaleY(0);
        height: 0;
        opacity: 0;
    }

    &__row {
        background: $ez-ground-base-medium;
        padding: calculateRem(16px);
        border-radius: calculateRem(4px);
        margin-bottom: calculateRem(16px);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10%;
    }

    &__item {
        &-label {
            margin-bottom: 0;
            font-weight: 700;

            &--date-range {
                flex-basis: 45%;
            }
        }

        &--content-type {
            grid-column-start: 1;
            grid-column-end: -1;
        }

        &--subtree {
            grid-column-start: 2;
            grid-column-end: -1;
        }

        &--creator {
            position: relative;

            .ez-filters__input {
                + .ez-icon {
                    display: none;
                }

                &:disabled {
                    cursor: auto;
                    background-color: $ez-color-base-pale;
                    color: $ez-black;
                    padding-right: calculateRem(32px);
                    text-overflow: ellipsis;

                    & + .ez-icon {
                        display: block;
                        position: absolute;
                        bottom: calculateRem(7px);
                        right: calculateRem(6px);
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        right: calculateRem(40px);
        border-style: solid;
        border-width: 0 calculateRem(10px) calculateRem(10px);
        display: block;
        width: 0;
        z-index: 1;
    }

    &:before {
        border-color: $ez-color-secondary transparent;
        top: calculateRem(-11px);
    }

    &:after {
        border-color: $ez-ground-base-light transparent;
        top: calculateRem(-10px);
    }

    &__btns {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        margin: calculateRem(16px);

        .btn {
            margin: 0 1rem;
        }
    }

    &__option--hidden {
        display: none;
    }

    &__user-list {
        padding: 0;
        list-style: none;
        position: absolute;
        right: 0;
        min-width: 100%;
        border-radius: calculateRem(5px);
        margin-bottom: 0;
        background-color: $ez-ground-base-dark;
        max-height: calculateRem(300px);
        overflow: auto;
        transform: scaleY(1);
        transform-origin: top center;
        transition: transform 0.2s $ez-admin-transition;

        &--hidden {
            transform: scaleY(0);
        }
    }

    &__user-item {
        padding: calculateRem(8px) calculateRem(16px);
        cursor: pointer;
    }

    &__range-wrapper {
        height: 0;
        opacity: 0;
        margin-top: calculateRem(8px);
        background: $ez-white;
        border: calculateRem(1px) solid $ez-ground-base-medium;
        border-radius: calculateRem(4px);
        transition: all 0.2s ease-in;
    
        &--visible {
            height: calculateRem(40px);
            opacity: 1;
        }
    }

    &__range-select {
        border: none;
        outline: none;
    }
}
