@font-face {
    font-family: 'Noto Sans';
    src: url('../font/NotoSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../font/NotoSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}
