.ez-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: calculateRem(50px);
    margin-top: calculateRem(24px);
    padding: 0 calculateRem(24px);
    background-color: $ibexa-white;
    font-size: calculateRem(14px);
    color: $ibexa-color-font-pale;

    &__brand-img {
        margin-right: calculateRem(16px);
        max-width: calculateRem(32px);
    }

    &__link {
        display: inline-block;
        margin-left: calculateRem(24px);
        font-size: calculateRem(14px);
        color: $ibexa-color-font-pale;
    }
}

.ez-bookmark-list-view,
.ez-drafts-list-view {
    .ez-main-row {
        .ez-content-container {
            .ez-footer {
                margin: auto 0 0;
            }
        }
    }
}

.ez-main-row {
    .ez-content-container {
        .ez-footer {
            position: relative;
            width: auto;
            margin: auto calculateRem(15px) 0;
        }
    }
}
