form:not(.form-inline) {
    .ez-field-edit__label {
        font-weight: 700;
        font-size: calculateRem(16px);
        color: $ibexa-black;
        margin-bottom: 0;
        margin-top: calculateRem(20px);

        &:after {
            content: ': ';
        }

        &:not(.ez-data-source__label) {
            @include label-required();
        }
    }

    .col-form-legend {
        @include label-required();

        font-weight: 700;
        font-size: calculateRem(16px);
        color: $ibexa-black;
        margin-bottom: 0;
        margin-top: calculateRem(20px);
    }

    .form-control {
        background-color: $ibexa-white;
    }

    .form-control[readonly] {
        background-color: $ibexa-white;
    }

    .form-control:focus {
        @include input-active;
    }
}

.ez-form-inline {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    &--align-left {
        justify-content: flex-start;
    }

    .col-form-label,
    .form-control,
    .ez-field-edit__label {
        margin-right: calculateRem(8px);
    }
}

.ez-table--no-border {
    .ez-form-inline {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }
}

.ez-field {
    .ez-field__label {
        @include label-required();
    }

    &.is-invalid {
        .ez-field__label-wrapper,
        .ez-field__label {
            color: $ibexa-color-danger;
        }

        .ez-field__data {
            position: relative;

            &:before {
                content: '!';
                position: absolute;
                top: 0;
                left: calculateRem(-20px);
                width: calculateRem(20px);
                background: $ibexa-color-primary;
                color: $ibexa-white;
                text-align: center;
                font-size: calculateRem(16px);
                border-top-left-radius: $ibexa-border-radius;
                border-bottom-left-radius: $ibexa-border-radius;
            }
        }
    }

    &__error {
        display: inline-block;
        margin-left: calculateRem(8px);
        color: $ibexa-color-danger;
    }
}

.ez-trash-with-asset-checkbox-list {
    .form-check-input {
        position: absolute;
    }
}

.ez-content-create[readonly] {
    pointer-events: none;
}
