form:not(.form-inline) {
    .form-control-label {
        font-weight: 700;
        font-size: 14px;
        color: $ez-color-base-dark;
        margin-bottom: 0;
        margin-top: 20px;

        &:after {
            content: ': ';
        }

        &:not(.ez-data-source__label) {
            @include label-required();
        }

    }

    .col-form-legend {
        font-weight: 700;
        font-size: 14px;
        color: $ez-color-base-dark;
        margin-bottom: 0;
        margin-top: 20px;

        @include label-required();
    }

    .form-control {
        background-color: $ez-white;
    }

    .form-control[readonly] {
        background-color: $ez-white;
    }

    .form-control:focus {
        border-color: $ez-color-secondary;
    }
}

.ez-form-inline {
    .control-label,
    .form-control,
    .form-control-label {
        margin-right: .5rem;
    }
}

.form-check {
    margin-bottom: 0;

    &-label {
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }

    &-input {
        position: initial;
        margin-bottom: .25rem;
        margin-right: .5rem;
    }
}
