form:not(.form-inline) {
    .col-form-legend {
        @include label-required();

        font-weight: 700;
        font-size: calculateRem(16px);
        color: $ibexa-black;
        margin-bottom: 0;
        margin-top: calculateRem(20px);
    }

    .form-control {
        background-color: $ibexa-white;
    }

    .form-control[readonly] {
        background-color: $ibexa-white;
    }

    .form-control:focus {
        @include input-active;
    }
}

.ez-form-inline {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    &--align-left {
        justify-content: flex-start;
    }

    .col-form-label,
    .form-control,
    .ez-field-edit__label {
        margin-right: calculateRem(8px);
    }
}

.ez-table--no-border {
    .ez-form-inline {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }
}

.ibexa-field {
    &__label {
        @include label-required();
    }
}

.ez-trash-with-asset-checkbox-list {
    .form-check-input {
        position: absolute;
    }
}

.ez-content-create[readonly] {
    pointer-events: none;
}

.ibexa-form-error {
    @include ibexa-font-sans-serif();

    display: flex;
    font-size: $ibexa-text-font-size-small;
    font-style: normal;
    color: $ibexa-color-danger;
    line-height: calculateRem(18px);
    align-items: center;
    box-sizing: border-box;
    margin-top: calculateRem(4px);

    &__icon {
        fill: $ibexa-color-danger;
        margin-right: calculateRem(4px);
    }
}

.ibexa-form-help {
    @include ibexa-font-sans-serif();

    display: flex;
    font-size: $ibexa-text-font-size-small;
    color: $ibexa-color-dark-400;
    line-height: calculateRem(18px);

    &__icon {
        fill: $ibexa-color-dark-400;
        margin-right: calculateRem(4px);
    }
}
