@import 'custom';

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
}

a {
    transition: color .3s $ez-admin-transition;
}

.ez-main-row {
    min-height: calc(100vh - 60px);
}

.ez-standalone-page {
    .ez-main-row {
        min-height: 100vh;
    }
}

.ez-dashboard .ez-main-row {
    background-color: $ez-ground-base-light;
}

.ez-side-menu,
.ez-context-menu {
    padding-right: 0;
    padding-left: 0;

    .ez-icon {
        display: block;
        margin: 0 auto;
        fill: $white;
    }
}

.ezimage-field img {
    display: inline-block;
    max-width: 100%;
    width: auto;
    height: auto;
}

.btn {
    white-space: normal;
}

.ez-field-edit {
    margin: 1rem 0;
}

.ezrichtext-field {
    display: inline-block;
    width: 100%;

    .align-left {
        float: left
    }

    .align-center {
        text-align: center;
    }

    .align-right {
        float: right;
    }
}

.ez-login-view {
    .ez-main-container {
        height: 100%
    }
}

.ez-checkbox-icon {
    @include checkbox-icon();
}

.ez-visually-hidden {
    height: 1px;
    opacity: 0;
    position: relative;
    z-index: 0;
}

.ez-spin {
    animation: spin 1.75s linear infinite;
}

@keyframes spin {
    0%      { transform: rotate(0deg); }
    100%    { transform: rotate(360deg); }
}

.ez-content-preview {
    .ez-main-container {
        padding: 0;
    }
}

[disabled] {
    cursor: not-allowed;
}

.ez-info-view,
.ez-content-view,
.ez-content-type-view,
.ez-content-type-group-list-view,
.ez-language-view,
.ez-language-list-view,
.ez-role-view,
.ez-role-list-view,
.ez-search-view,
.ez-section-view,
.ez-section-list-view,
.ez-trash-list-view {
    background-color: $ez-ground-base-light;
}
