.ez-header {

    .container {
    	position: relative;
        overflow: auto;
    }

    .breadcrumb {
        margin: calculateRem(16px) 0;
        padding-left: 0;
        color: $ez-black;
        background: transparent;
        font-size: .8125rem;
        flex-wrap: nowrap;
    }

    &--light {
        background: $ez-white;
    }
}
