.ez-header {
    background-color: $ez-ground-base-dark;

    .container {
    	position: relative;
        overflow: auto;
    }

    .breadcrumb {
        margin-bottom: 0;
        padding-left: 0;
        font-size: .8125rem;
    }
}
