.ez-icon {
    width: calculateRem(32px);
    height: calculateRem(32px);

    &--small {
        width: calculateRem(16px);
        height: calculateRem(16px);
    }

    &--medium {
        width: calculateRem(24px);
        height: calculateRem(24px);
    }

    &--light {
        fill: $ez-white;
    }

    &--secondary {
        fill: $ez-color-secondary;
    }
}

.btn-icon {
    .ez-icon {
        width: calculateRem(24px);
        height: calculateRem(24px);
        fill: $ez-color-primary;

        &--secondary {
            fill: $ez-color-secondary;
        }
    }
}

.ez-field-edit--ezauthor {
    .btn-icon {
        .ez-icon {
            fill: $ez-white;
            width: calculateRem(16px);
            height: calculateRem(16px);
        }
    }
}

.ez-main-nav {
    .ez-icon {
        width: calculateRem(24px);
        height: calculateRem(24px);
    }
}

.ez-side-menu,
.ez-context-menu {
    .ez-icon {
        fill: $white;
    }

    .ez-sticky-container {
        .ez-icon {
            width: calculateRem(30px);
            height: calculateRem(30px);
            margin-bottom: calculateRem(3px);
        }
    }
}

.ez-table-header {
    .ez-icon {
        width: calculateRem(24px);
        height: calculateRem(24px);
        fill: $white;
    }
}

.ez-card__header {
    .form-inline {
        .btn-danger {
            .ez-icon {
                width: calculateRem(20px);
                height: calculateRem(20px);
                fill: $white;
            }
        }
    }
}

.ez-btn--extra-actions {
    .ez-icon {
        pointer-events: none;
    }
}

.ez-btn-ae {
    &:hover {
        .ez-icon {
            fill: $ez-alloyeditor-color-hover;
        }
    }

    .ez-icon {
        width: calculateRem(24px);
        height: calculateRem(24px);
        fill: $ez-black;
    }

    &.ae-button-pressed {
        .ez-icon {
            fill: $ez-white;
        }
    }
}

.ez-icon--logo {
    width: 10rem;
    height: 7rem;
    display: block;
    margin: 0 auto;
}

.ez-field-edit--with-preview {
    .ez-icon {
        fill: $ez-white;
        height: calculateRem(16px);
        width: calculateRem(16px);
    }
}

.ez-field-edit--ezbinaryfile {
    &.ez-field-edit--with-preview {
        .ez-field-edit-preview {
            &__file-icon {
                .ez-icon {
                    fill: $ez-color-base-dark;
                    height: calculateRem(32px);
                    width: calculateRem(32px);
                }
            }
        }
    }
}

.ez-preview__action {
    .ez-icon {
        width: calculateRem(24px);
        height: calculateRem(24px);
        fill: $ez-color-base-medium;
    }

    &:hover,
    &:focus {
        .ez-icon {
            fill: $ez-white;
        }
    }

    &.ez-preview__action--selected {
        .ez-icon {
            fill: $ez-white;
        }
    }
}

.ez-field-edit--ezdate,
.ez-field-edit--ezdatetime,
.ez-field-edit--eztime {
    .ez-data-source__btn--clear-input {
        .ez-icon {
            width: calculateRem(16px);
            height: calculateRem(16px);
        }
    }
}

.ez-field-edit--ezgmaplocation {
    .btn--search-by-address {
        .ez-icon {
            fill: $ez-white;
            width: calculateRem(16px);
            height: calculateRem(16px);
        }
    }
}

.ez-field-edit--ezobjectrelation,
.ez-field-edit--ezobjectrelationlist {
    .ez-relations__cta-btn {
        .ez-icon {
            fill: $ez-white;
            width: calculateRem(16px);
            height: calculateRem(16px);
        }
    }

    [class*='ez-relations__table-action--'] {
        .ez-icon {
            fill: $ez-white;
            width: calculateRem(16px);
            height: calculateRem(16px);
        }
    }
}

.ez-btn--select-subtree {
    .ez-icon {
        margin-right: 0.5rem;
    }
}

.ez-alert--info {
    .ez-icon-warning {
        fill: $ez-secondary-ground-medium;
    }
}

.ez-modal {
    .modal-header {
        .ez-icon {
            fill: $ez-black;
        }
    }
}
