@import 'custom';

.ez-icon {
    width: 2rem;
    height: 2rem;
}

.btn-icon {
    .ez-icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: $ez-color-primary;
    }
}

.ez-field-edit--ezauthor {
    .btn-icon {
        .ez-icon {
            fill: $ez-white;
            width: 1rem;
            height: 1rem;
        }
    }
}

.ez-main-nav {
    .ez-icon {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.ez-icon-search-button{
    fill: $ez-white;
    height: 1rem;
    width: 1rem;
}

.ez-btn--extra-actions {
    .ez-icon {
        pointer-events: none;
    }
}

.ez-btn-ae {
    &:hover {
        .ez-icon {
            fill: $ez-alloyeditor-color-hover;
        }
    }
    .ez-icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: $ez-white;
    }
}

.ez-field-edit--ezrichtext {
    [data-ezelement="ezembed"] {
        .ez-embed-content {
            .ez-icon {
                width: 1.5rem;
                height: 1.5rem;
                vertical-align: middle;
            }
        }
    }
}

.ez-icon--logo {
    width: 10rem;
    height: 7rem;
    display: block;
    margin: 0 auto;
}

.ez-field-edit--with-preview {
    .ez-icon {
        fill: $ez-white;
        height: 1rem;
        width: 1rem;
    }
}

.ez-field-edit--ezbinaryfile {
    &.ez-field-edit--with-preview {
        .ez-field-edit-preview {
            &__file-icon {
                .ez-icon {
                    fill: $ez-color-base-dark;
                    height: 2rem;
                    width: 2rem;
                }
            }
        }
    }
}

.ez-preview__action {
    .ez-icon {
        width: 1rem;
        height: 1rem;
    }

    &.ez-preview__action--selected {
        .ez-icon {
            fill: $ez-white;
        }
    }
}
