.ez-icon {
    width: 2rem;
    height: 2rem;

    &--small {
        width: 1rem;
        height: 1rem;
    }

    &--medium {
        width: 1.5rem;
        height: 1.5rem;
    }

    &--light {
        fill: $ez-white;
    }

    &--secondary {
        fill: $ez-color-secondary;
    }
}

.btn-icon {
    .ez-icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: $ez-color-primary;

        &--secondary {
            fill: $ez-color-secondary
        }
    }
}

.ez-field-edit--ezauthor {
    .btn-icon {
        .ez-icon {
            fill: $ez-white;
            width: 1rem;
            height: 1rem;
        }
    }
}

.ez-main-nav {
    .ez-icon {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.ez-side-menu,
.ez-context-menu {
    .ez-sticky-container {
        .ez-icon {
            width: 1.875rem;
            height: 1.875rem;
            margin-bottom: .1875rem;
        }
    }
}

.ez-icon-search-button {
    fill: $ez-white;
    height: 1rem;
    width: 1rem;
}

.ez-table-header {
    .ez-icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: $white;
    }
}

.ez-card__header {
    .form-inline {
        .btn-danger {
            .ez-icon {
                width: 1.2rem;
                height: 1.2rem;
                fill: $white;
            }
        }
    }
}

.ez-btn--extra-actions {
    .ez-icon {
        pointer-events: none;
    }
}

.ez-btn-ae {
    &:hover {
        .ez-icon {
            fill: $ez-alloyeditor-color-hover;
        }
    }
    .ez-icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: $ez-white;
    }
}

.ez-field-edit--ezrichtext {
    [data-ezelement="ezembed"] {
        .ez-embed-content {
            .ez-icon {
                width: 1.5rem;
                height: 1.5rem;
                vertical-align: middle;
            }
        }
    }
}

.ez-icon--logo {
    width: 10rem;
    height: 7rem;
    display: block;
    margin: 0 auto;
}

.ez-field-edit--with-preview {
    .ez-icon {
        fill: $ez-white;
        height: 1rem;
        width: 1rem;
    }
}

.ez-field-edit--ezbinaryfile {
    &.ez-field-edit--with-preview {
        .ez-field-edit-preview {
            &__file-icon {
                .ez-icon {
                    fill: $ez-color-base-dark;
                    height: 2rem;
                    width: 2rem;
                }
            }
        }
    }
}

.ez-preview__action {
    .ez-icon {
        width: 1rem;
        height: 1rem;
    }

    &.ez-preview__action--selected {
        .ez-icon {
            fill: $ez-white;
        }
    }
}

.ez-field-edit--ezdate,
.ez-field-edit--ezdatetime,
.ez-field-edit--eztime {
    .ez-data-source__btn--clear-input {
        .ez-icon {
            width: 1rem;
            height: 1rem;
        }
    }
}

.ez-field-edit--ezgmaplocation {
    .btn--search-by-address {
        .ez-icon {
            fill: $ez-white;
            width: 1rem;
            height: 1rem;
        }
    }
}

.ez-field-edit--ezobjectrelation,
.ez-field-edit--ezobjectrelationlist {
    .ez-relations__cta-btn {
        .ez-icon {
            fill: $ez-white;
            width: 1rem;
            height: 1rem;
        }
    }

    [class*="ez-relations__table-action--"] {
        .ez-icon {
            fill: $ez-white;
            width: 1rem;
            height: 1rem;
        }
    }
}

.ez-btn--select-subtree {
    .ez-icon {
        margin-right: .5rem;
    }
}

.ez-alert--info {
    .ez-icon-warning {
        fill: $ez-secondary-ground-medium;
    }
}

.ez-modal {
    .modal-header {
        .ez-icon {
            fill: $ez-black;
        }
    }
}
