.ez-icon {
    width: calculateRem(32px);
    height: calculateRem(32px);
    stroke: $ibexa-black;
    fill: $ibexa-black;
    transition: all 0.3s $ez-admin-transition;
    stroke-width: 1.5; 
    stroke-linecap: round; 
    stroke-linejoin: round;
    

    &--small {
        width: calculateRem(16px);
        height: calculateRem(16px);
    }

    &--small-medium {
        width: calculateRem(20px);
        height: calculateRem(20px);
    }

    &--medium {
        width: calculateRem(24px);
        height: calculateRem(24px);
    }

    &--medium-large {
        width: calculateRem(38px);
        height: calculateRem(38px);
    }

    &--large {
        width: calculateRem(48px);
        height: calculateRem(48px);
    }

    &--extra-large {
        width: calculateRem(64px);
        height: calculateRem(64px);
    }

    &--light {
        fill: $ibexa-white;
        stroke: $ibexa-white;
    }

    &--base-dark {
        fill: $ibexa-color-base-dark;
        stroke: $ibexa-color-base-dark;
    }

    &--primary,
    &--secondary {
        fill: $ibexa-color-primary;
        stroke: $ibexa-color-primary;
    }
}

.btn-icon {
    .ez-icon {
        width: calculateRem(20px);
        height: calculateRem(20px);
        stroke: $ibexa-color-primary;

        &--copy {
            stroke: $ibexa-color-base-dark;
        }
    }
}

.ez-side-menu,
.ez-context-menu {
    .ez-icon {
        stroke: $ibexa-white;
    }
}

.ez-btn--extra-actions {
    .ez-icon {
        pointer-events: none;
    }
}

.ez-icon--logo {
    width: calculateRem(128px);
    height: calculateRem(112px);
    display: block;
    margin: 0 auto;
}

.ez-preview__action {
    .ez-icon {
        width: calculateRem(24px);
        height: calculateRem(24px);
        stroke: $ibexa-color-base-dark;
    }

    &:hover,
    &:focus {
        .ez-icon {
            stroke: $ibexa-white;
        }
    }

    &.ez-preview__action--selected {
        .ez-icon {
            stroke: $ibexa-white;
        }
    }
}

.ez-field-edit--ezdate,
.ez-field-edit--ezdatetime,
.ez-field-edit--eztime {
    .ez-data-source__btn--clear-input {
        .ez-icon {
            width: calculateRem(16px);
            height: calculateRem(16px);
        }
    }
}

.ez-btn--select-subtree {
    .ez-icon {
        margin-right: calculateRem(8px);
    }
}

.ez-alert--info {
    .ez-icon-warning {
        stroke: $ibexa-color-primary;
    }
}

.ez-modal {
    .modal-header {
        .ez-icon {
            stroke: $ibexa-black;
        }
    }
}

.ez-btn--content-tree-expanded {
    .ez-icon {
        stroke: $ibexa-black;
    }

    &:hover {
        .ez-icon {
            stroke: $ibexa-white;
        }
    }
}
