.form-control {
    &--is-invalid {
        @include input-invalid;
    }
}

.form-check-inline {
    .ibexa-input {
        position: relative;
    }
}

.ibexa-input {
    position: relative;
    display: inline-block;
    outline: none;
    transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
    border: calculateRem(1px) solid $ibexa-color-dark-300;
    background-color: $ibexa-white;

    &:hover {
        border-color: $ibexa-color-primary;
    }

    &:active {
        border-color: $ibexa-color-dark;
    }

    &:focus {
        border-color: $ibexa-color-primary;
        box-shadow: 0 0 calculateRem(3px) 0 rgba($ibexa-color-primary, 0.75);
    }

    &:disabled {
        cursor: not-allowed;
        border-color: $ibexa-color-dark-200;
    }

    &--checkbox,
    &--radio {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
    }

    &--checkbox {
        width: calculateRem(16px);
        height: calculateRem(16px);
        border-radius: calculateRem(2px);

        &::after {
            content: ' ';
            position: absolute;
            top: calculateRem(2.5px);
            left: calculateRem(3px);
            display: block;
            width: calculateRem(8px);
            height: calculateRem(5px);
            border-left: calculateRem(1.5px) solid transparent;
            border-bottom: calculateRem(1.5px) solid transparent;
            transform: rotate(-45deg);
        }

        &:disabled {
            background-color: $ibexa-color-light;
        }

        &:checked {
            border-color: $ibexa-color-primary;
            background-color: $ibexa-color-primary;

            &:disabled {
                border-color: $ibexa-color-primary-300;
                background-color: $ibexa-color-primary-300;
            }

            &::after {
                border-color: $ibexa-white;
            }
        }

        &:indeterminate {
            border-color: $ibexa-color-primary;
            background-color: $ibexa-color-primary;

            &:disabled {
                border-color: $ibexa-color-primary-300;
                background-color: $ibexa-color-primary-300;
            }

            &::after {
                border-color: $ibexa-white;
                background-color: $ibexa-white;
                height: calculateRem(1px);
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    &--radio {
        width: calculateRem(16px);
        height: calculateRem(16px);
        border-radius: calculateRem(8px);

        &:checked {
            box-shadow: inset 0 0 0 calculateRem(4px) $ibexa-color-primary;

            &:disabled {
                border-color: $ibexa-color-primary-300;
                box-shadow: inset 0 0 0 calculateRem(4px) $ibexa-color-primary-300;
            }

            &:focus {
                &::after {
                    content: ' ';
                    position: absolute;
                    display: block;
                    left: calculateRem(-1px);
                    top: calculateRem(-1px);
                    width: calculateRem(16px);
                    height: calculateRem(16px);
                    border-radius: calculateRem(8px);
                    background: transparent;
                    box-shadow: 0 0 calculateRem(3px) 0 rgba($ibexa-color-primary, 0.75);
                }
            }
        }
    }
}
