.ez-instant-filter {
    &__input {
        display: block;
        width: 100%;
    }
}

.ez-extra-actions--create {
    .ez-instant-filter {
        &__group-name {
            padding-left: calculateRem(8px);
        }

        &__group-item {
            position: relative;

            label {
                cursor: pointer;
            }

            .ez-icon {
                fill: $ez-black;
                position: absolute;
                top: 0;
                left: calculateRem(20px);
                width: calculateRem(16px);
                height: calculateRem(16px);
                margin-top: calculateRem(3px);
            }
        }

        &__items {
            padding-top: calculateRem(6px);
        }
    }
}
