.ibexa-label {
    font-size: $ibexa-text-font-size;
    line-height: calculateRem(24px);
    letter-spacing: calculateRem(0.12px);

    &--medium {
        font-size: $ibexa-text-font-size-medium;
        line-height: calculateRem(21px);
    }

    &--small {
        font-size: $ibexa-text-font-size-small;
        line-height: calculateRem(18px);
    }
}
