.ez-label {
    margin-bottom: 0;
    font-weight: 700;

    @include label-required();

    &.checkbox-inline,
    &.form-check-label {
        margin-bottom: .0625rem;

        &:after {
            content: '';
        }
    }

    &.form-check-label:not(.checkbox-inline) {
        font-weight: 400;
    }
}
