.ez-link {
    text-decoration: underline;
    transition: all 0.2s $ibexa-admin-transition;

    &:hover {
        color: $ibexa-color-primary;
    }

    &--hover-dark {
        &:hover {
            color: $ibexa-black;
        }
    }

    &--light {
        color: $ibexa-white;
    }

    &--dark {
        color: $ibexa-black;
    }
}
