.ibexa-login {
    height: 100%;
    background-image: url('/bundles/ezplatformadminui/img/login-background.jpg');
    background-size: cover;

    &__logo {
        position: absolute;
        top: calculateRem(30px);
        left: calculateRem(30px);
        max-width: calculateRem(100px);
    }

    &__info-col {
        color: $ibexa-color-font-light;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: calculateRem(24px);
    }

    &__info-headline {
        font-size: calculateRem(60px);
    }

    &__actions-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $ibexa-color-font;
        background: $ibexa-white;
        min-height: calculateRem(600px);
        border-radius: $ibexa-border-radius;
        padding: calculateRem(90px) calculateRem(120px);
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__content-row {
        justify-content: center;
    }

    &__support-wrapper {
        position: relative;
        padding-top: calculateRem(24px);
    }

    &__support-content {
        font-size: $ibexa-text-font-size-medium;

        &::before {
            content: '';
            width: calculateRem(100px);
            height: calculateRem(4px);
            background-image: $ibexa-gradient-danger-primary;
            position: absolute;
            top: 0;
        }
    }

    &__support-headline {
        margin-bottom: calculateRem(16px);
    }

    &__errors-container {
        display: inline-block;
        color: $ibexa-color-danger;
    }

    &__password-visibility-toggler {
        position: absolute;
        right: calculateRem(8px);
        bottom: calculateRem(12px);
        z-index: 1;
        margin-left: auto;
        border: none;
        outline: none;

        &:focus {
            border: none;
            outline: none;
        }
    }

    &__btn {
        margin-top: calculateRem(16px);

        &--sign-in {
            width: 100%;
            justify-content: center;
            margin-top: calculateRem(40px);
        }
    }

    &__link-wrapper {
        display: flex;
        justify-content: center;
        margin-top: calculateRem(14px);
        font-size: $ibexa-text-font-size-medium;
    }

    &__input-label-wrapper {
        .ibexa-label {
            margin-top: calculateRem(40px);
        }
    }
}
