.ez-login {
    height: 100%;

    .form-group {
        padding-top: 1rem;
        margin-bottom: 0;
    }

    .ez-field__error {
        margin-left: 0;
        color: $ez-color-warning-dark;
    }

    &__hyperlink {
        color: #D8D8D8;
        text-decoration: underline;
    }
    &__hyperlink:hover {
        color: #FF4713;
    }

    &__image {
        background: url('/bundles/ezplatformadminui/img/login-background.jpg');
        background-size: cover;
    }

    &__form {
        background: #131C26;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $ez-white;

        &-label {
            margin-bottom: 0;
        }

        &-input {
            border: none;
        }
        
        &-wrapper {
            width: 18rem;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &-logo-description {
            margin: calculateRem(18px) auto calculateRem(40px) auto;
            text-align: center;
            font-size: calculateRem(18px);
        }
    }

    &__text {
        &-wrapper {
            width: 32rem;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__header {
        font-weight: 400;
    }

    &__footer {
        color: #D8D8D8;
    }
}
