.ez-main-nav {
    padding: 0;
    background-color: $ez-white;
    border-bottom: calculateRem(1px) solid $ez-ground-base-dark;
    > .container-fluid {
        padding-right: 0;
    }

    .navbar-brand {
        width: calculateRem(47px);
        padding-top: 0;
        text-align: center;
    }

    .nav-tabs {
        background-color: $ez-white;
        border: none;
        margin-bottom: 0;

        .nav-link {
            padding: 1rem 2rem;
            color: $ez-black;
            display: flex;
            transition: all 0.3s $ez-admin-transition;

            .ez-icon {
                margin-right: 0.5rem;
            }

            &:hover {
                background-color: $ez-ground-base-pale;
                border-color: $ez-white;
            }

            &.active {
                background-color: $ez-white;
                border-color: $ez-white;
                color: $ez-color-primary
            }
        }
    }
}

.ez-main-sub-nav {
    background-color: $white;
    padding: 0;
    font-size: 0.875rem;

    .navbar-nav {
        .nav-link {
            padding: 0.625rem 1rem;
            color: $ez-black;

            &.active {
                padding-bottom: 0.4375rem;
                color: $ez-color-primary;
            }
        }
    }
}
