.ez-main-row {
    display: flex;
    flex-wrap: nowrap;

    .ez-side-menu,
    .ez-context-menu {
        flex: 0 0 calculateRem(80px);

        &--expanded {
            z-index: 1000;
        }
    }

    .ez-side-menu {
        margin: calculateRem(8px) 0 0 calculateRem(8px);
    }

    .ez-context-menu {
        margin: calculateRem(8px) calculateRem(8px) 0;
    }

    .ez-content-container {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }
}
