.ez-main-row {
    display: flex;
    flex-wrap: nowrap;

    .ez-side-menu,
    .ez-context-menu {
        z-index: 1;
        flex: 0 0 calculateRem(80px);
    }

    .ez-content-container {
        flex: 1 1 auto;
    }
}
