.ez-main-row {
    display: flex;
    flex-wrap: nowrap;

    .ez-side-menu,
    .ez-context-menu {
        flex: 0 0 calculateRem(80px);
        margin: calculateRem(8px);
        
        &--expanded {
            z-index: 1200;
        }
    }

    .ez-content-container {
        flex: 1 1 auto;
    }
}
