.ibexa-main-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    min-height: calc(100vh - #{calculateRem(200px)});

    &__content-column {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &--without-grouped-fields {
        .ibexa-main-container {
            &__side-column {
                width: 10vw;
            }
        }
    }

    &--with-grouped-fields {
        .ibexa-main-container {
            &__side-column {
                width: 20vw;
            }
        }
    }

    &--edit-content {
        height: 100vh;
        padding: calculateRem(16px);
        background-color: $ibexa-color-dark;

        .ibexa-main-container {
            &__side-column {
                overflow: hidden;
                border-top-left-radius: $ibexa-border-radius;
                border-bottom-left-radius: $ibexa-border-radius;
                background-color: $ibexa-color-light-100;
            }

            &__content-column {
                border-top-right-radius: $ibexa-border-radius;
                border-bottom-right-radius: $ibexa-border-radius;
                background-color: $ibexa-color-light-100;
            }
        }
    }

    .ez-content-container {
        display: flex;
        flex-direction: column;
        flex: 1 1 80%;
    }

    .ez-context-menu {
        position: fixed;
        z-index: 1050;
        top: calculateRem(80px);
        right: 0;
        flex: 0 0 calculateRem(80px);
        width: auto;

        &--expanded {
            z-index: 1000;
        }
    }
}
