@import 'mixins/image-preview';
@import 'mixins/type-icons';
@import 'mixins/inputs';
@import 'mixins/modals';
@import 'mixins/general';

@mixin checkbox-icon() {
    display: flex;
    margin: 0;
    padding: 0;
    width: calculateRem(64px);
    height: calculateRem(32px);
    border: calculateRem(1px) solid $ibexa-color-primary;
    border-radius: $ibexa-border-radius;
    position: relative;
    z-index: 0;
    cursor: pointer;

    &:before {
        content: '';
        position: absolute;
        width: calculateRem(32px);
        height: calculateRem(32px);
        top: 50%;
        left: 0;
        z-index: -1;
        background-color: $ibexa-color-primary;
        border-radius: $ibexa-border-radius;
        transform: translate(100%, -50%);
        transition: all 0.2s $ez-admin-transition;
    }

    .ez-icon {
        fill: $ibexa-color-primary;
        height: calculateRem(16px);
        width: calculateRem(16px);
        margin: auto calculateRem(8px);
    }

    .ez-icon + .ez-icon {
        fill: $ibexa-white;
    }

    &.is-checked {
        &:before {
            transform: translate(0, -50%);
        }

        .ez-icon {
            fill: $ibexa-white;
        }

        .ez-icon + .ez-icon {
            fill: $ibexa-color-primary;
        }
    }

    &.disabled {
        cursor: inherit;
        opacity: 0.5;
    }

    .ez-checkbox-icon__checkbox {
        display: none;
    }
}

@mixin checkbox-switcher($size: 2rem) {
    .ez-data-source__label {
        position: relative;
        width: $size;
        height: calc(#{$size} + 0.25rem);
        background-color: $ibexa-white;
        margin-left: calc((#{$size} + 0.25rem) / 2);
        cursor: pointer;

        input {
            opacity: 0;
            height: 1px;
        }

        .ez-data-source__indicator {
            width: $size;
            height: $size;
            display: block;
            background-color: $ibexa-white;
            border-radius: 50%;
            position: absolute;
            top: 2px;
            left: 0;
            transition: all 0.3s $ez-admin-transition;
            transform: translateX(-50%);
            cursor: pointer;
            z-index: 1;
        }

        &.is-checked {
            background-color: $ibexa-color-primary;

            .ez-data-source__indicator {
                transform: translateX(50%);
            }

            &:before {
                background-color: $ibexa-color-primary;
            }

            &:after {
                background-color: $ibexa-color-primary;
            }
        }

        &:before,
        &:after {
            content: '';
            height: calc(#{$size} + 0.25rem);
            width: calc(#{$size} + 0.25rem);
            border-radius: 50%;
            position: absolute;
            top: 50%;
            background-color: $ez-color-base-pale;
            cursor: pointer;
        }

        &:before {
            left: 0;
            transform: translate(-50%, -50%);
        }

        &:after {
            right: 0;
            transform: translate(50%, -50%);
        }

        &.is-disabled {
            opacity: 0.5;
        }
    }
}

@mixin datetime-field() {
    .ez-data-source__input-wrapper {
        max-width: 30ch;
        position: relative;
    }

    .ez-data-source__btn--clear-input {
        position: absolute;
        z-index: 2;
        top: 50%;
        right: 0.25rem;
        transform: translate(0, -50%);
        background: none;
        border: 0;
        width: 1.5rem;
        height: 1.5rem;
        line-height: 0.5rem;
        text-align: center;
        padding: 0;
        margin: 0;
        cursor: pointer;
        outline: none;

        .ez-icon {
            fill: $ez-ground-base-dark;
            transition: fill 0.3s $ez-admin-transition;
        }

        &:hover,
        &:focus {
            .ez-icon {
                fill: $ez-color-base-pale;
            }
        }
    }

    .flatpickr-input {
        &.is-invalid.form-control[readonly] {
            background: $ez-color-warning-pale;
        }
    }
}

@mixin label-required() {
    &:after {
        content: ': ';
    }

    &.required {
        &:after {
            content: '*: ';
        }
    }
}

@mixin btn-preview-action {
    padding: 0;
    border: 0 none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    cursor: pointer;
    transition: background 0.3s $ez-admin-transition;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .ez-icon {
        height: 1.5rem;
        width: 1.5rem;
    }
}

@mixin map-invalid-input() {
    &.is-invalid {
        .ez-data-source__label {
            color: $ez-color-danger;
        }

        .ez-data-source__input {
            border: 1px solid $ez-color-danger;
            background: $ez-color-warning-pale;
        }
    }
}

@mixin exclamation-mark-error {
    position: relative;

    &:before {
        content: '!';
        position: absolute;
        top: 0;
        left: calculateRem(-20px);
        background: $ez-color-warning-dark;
        color: $ez-white;
        text-align: center;
        font-size: calculateRem(24px);
        border-top-left-radius: calculateRem(5px);
        border-bottom-left-radius: calculateRem(5px);
        width: calculateRem(20px);
        height: calculateRem(36px);
        line-height: calculateRem(36px);
    }
}

@mixin nav-item-active-hover {
    background: $ibexa-white;
    border-top: calculateRem(1px) solid transparent;
    border-right: calculateRem(1px) solid transparent;
    border-bottom: calculateRem(1px) solid $ibexa-color-primary;
    border-left: calculateRem(1px) solid transparent;
}
