@mixin checkbox-icon() {
    border: 2px solid $ez-color-secondary;
    padding: 4px;
    margin: 0;
    line-height: .5;
    border-radius: .25rem;
    position: relative;
    z-index: 1;
    cursor: pointer;
    min-width: 4.6875rem;

    &:before {
        content: "";
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: 50%;
        left: 0;
        background-color: $ez-color-secondary;
        z-index: -1;
        border-radius: .25rem;
        transform: translate(calc(100% + .3rem), -50%);
        transition: all .2s $ez-admin-transition;
    }

    .ez-icon {
        fill: $ez-color-secondary;
        margin: .125rem;
        height: 1.5rem;
        width: 1.5rem;
    }

    .ez-icon + .ez-icon {
        fill: $ez-white;
        margin: .125rem .125rem .125rem .3125rem;
    }

    &.is-checked {
        &:before {
            transform: translate(.15rem, -50%);
        }

        .ez-icon {
            fill: $ez-white;
        }

        .ez-icon + .ez-icon {
            fill: $ez-color-secondary;
        }
    }

    .ez-checkbox-icon__checkbox {
        display: none;
    }
}

@mixin checkbox-switcher($size: 2rem) {
    .ez-data-source__label {
        position: relative;
        width: $size;
        height: calc(#{$size} + .25rem);
        background-color: $ez-color-base-pale;
        margin-left: calc((#{$size} + .25rem) / 2);
        cursor: pointer;
        z-index: 1;

        input {
            opacity: 0;
            height: 1px;
        }

        .ez-data-source__indicator {
            width: $size;
            height: $size;
            display: block;
            background-color: $ez-white;
            border-radius: 50%;
            position: absolute;
            top: 2px;
            left: 0;
            transition: all .3s ease-in-out;
            transform: translateX(-50%);
            cursor: pointer;
        }

        &.is-checked {
            background-color: $ez-secondary-ground;

            .ez-data-source__indicator {
                transform: translateX(50%);
            }

            &:before {
                background-color: $ez-secondary-ground;
            }

            &:after {
                background-color: $ez-secondary-ground;
            }
        }

        &:before,
        &:after {
            content: '';
            height: calc(#{$size} + .25rem);
            width: calc(#{$size} + .25rem);
            border-radius: 50%;
            position: absolute;
            top: 50%;
            background-color: $ez-color-base-pale;
            z-index: -1;
            cursor: pointer;
        }

        &:before {
            left: 0;
            transform: translate(-50%, -50%);
        }

        &:after {
            right: 0;
            transform: translate(50%, -50%);
        }
    }
}

@mixin datetime-field() {
    .ez-data-source__input-wrapper {
        max-width: 25ch;
        position: relative;
    }

    .ez-data-source__btn--clear-input {
        position: absolute;
        z-index: 2;
        top: 50%;
        right: .25rem;
        transform: translate(0, -50%);
        background: none;
        border: 0;
        width: 1.5rem;
        height: 1.5rem;
        line-height: .5rem;
        text-align: center;
        padding: 0;
        margin: 0;
        cursor: pointer;
        outline: none;

        .ez-icon {
            fill: $ez-ground-base-dark;
            transition: fill .3s $ez-admin-transition;
        }

        &:hover,
        &:focus {
            .ez-icon {
                fill: $ez-color-base-pale;
            }
        }
    }

    .flatpickr-input {
        &.is-invalid {
            background: $ez-color-warning-pale;
        }
    }
}

@mixin label-required() {
    &:after {
        content: ': ';
    }

    &.required {
        &:after {
            content: '*: ';
        }
    }
}
