.ez-modal {
    .modal-dialog {
        @include modal-main();
    }

    .modal-header {
        @include modal-header();

        .modal-title {
            margin-right: calculateRem(30px);
        }

        .close {
            @include close-button();
        }
    }

    .modal-body {
        @include modal-body();
    }

    .modal-footer {
        @include modal-footer();
    }

    &--wide {
        .modal-dialog {
            max-width: calculateRem(800px); 
            width: calculateRem(800px);       
        }
    }

    &--notice {
        .modal-header,
        .modal-footer {
            background: $ibexa-white;
        }
    }
}
