.ez-modal {
    .modal-dialog {
        @include modal-main();
    }

    .modal-content {
        @include modal-content();
    }

    .modal-header {
        @include modal-header();

        .modal-title {
            @include modal-title();
        }

        .close {
            @include close-button();
        }
    }

    .modal-body {
        @include modal-body();
    }

    .modal-footer {
        @include modal-footer();
    }

    &--table-content {
        .modal-header {
            border-width: 0;
        }        

        .modal-body {
            padding-top: 0;
        }
    }

    &--no-header {
        .close {
            @include close-button();

            top: calculateRem(22px);
            right: calculateRem(18px);
        }

        .modal-body {
            padding-bottom: 0;
            margin-right: calculateRem(36px);
        }
    }

    &--wide {
        .modal-dialog {
            max-width: calculateRem(800px); 
            width: calculateRem(800px);       
        }
    }
}
