.ez-notifications-modal {
    cursor: auto;

    .modal-dialog {
        max-width: 60vw;
    }

    .modal-header {
        background-color: $ez-color-base-pale;

        .modal-title {
            font-size: 1.5rem;

            &::after {
                content: attr(data-notifications-total);
            }
        }

        .close {
            margin-top: -0.5625rem;
            outline: none;
        }
    }

    .modal-body {
        padding: 2rem;
        background-color: $ez-ground-base-medium;
        border-radius: 0 0 0.25rem 0.25rem;
    }

    .table {
        table-layout: fixed;
        white-space: normal;
        margin-bottom: 0;

        th {
            border: none;
            background-color: $ez-color-base-dark;
            color: $ez-white;
        }

        tr {
            background-color: $ez-white;
            cursor: pointer;

            td {
                vertical-align: top;
                border-top: 1px solid $ez-color-base-dark;
            }
        }
    }

    &__type {
        display: flex;
        align-items: center;

        .type__icon {
            border-radius: 50%;
            display: inline-block;
            width: 2rem;
            height: 2rem;
            background: $ez-color-warning;

            .ez-icon {
                margin: 0.375rem;
                width: 1.25rem;
                height: 1.25rem;
            }
        }

        .type__text {
            margin-left: 1rem;
        }
    }

    &__item--read {
        color: $ez-color-base-light;

        .type__icon {
            fill: $ez-ground-base-pale;
            background: $ez-color-base-light;
        }
    }

    &__item--permanently-deleted {
        .type__text,
        .description__text {
            font-style: italic;
        }
    }

    &__description {
        .description__title {
            margin-bottom: 0;

            &__item {
                font-weight: bold;
            }
        }

        .description__text {
            width: 100%;
            margin-bottom: 0;
            max-width: 50ch;
            float: left;

            + .description__read-more {
                display: none;

                &::after {
                    content: ' \00BB';
                }
            }

            &--ellipsis {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                + .description__read-more {
                    display: inline;
                    color: $ez-color-hyperlink;
                    cursor: pointer;
                }
            }
        }
    }

    &--loading {
        .ez-notifications-modal__spinner {
            display: block;
        }

        .ez-notifications-modal__results {
            visibility: hidden;
        }
    }

    &__spinner {
        width: 2rem;
        height: 2rem;
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;

        .ez-icon {
            width: 2rem;
            height: 2rem;
        }
    }
}
