.ez-main-nav {
    .ez-user-menu {
        &__name-wrapper {
            .n-pending-notifications {
                &:before {
                    content: attr(data-count);
                    width: calculateRem(16px);
                    height: calculateRem(16px);
                    border-radius: 50%;
                    background: $ez-color-danger;
                    position: absolute;
                    vertical-align: middle;
                    text-align: center;
                    font-size: calculateRem(12px);
                    color: $ez-white;
                }
            }
        }

        &__item {
            &--notifications {
                position: relative;

                &:before {
                    content: attr(data-count);
                    position: absolute;
                    left: calculateRem(20px);
                    top: 48%;
                    transform: translateY(-50%);
                    font-size: calculateRem(14px);
                    font-weight: bold;
                    color: $ez-black;
                }

                &:hover {
                    &:before {
                        color: $ez-black;
                    }
                }
            }
        }
    }
}
