.ez-main-nav {
    .ez-user-menu {
        &__name-wrapper {
            .n-pending-notifications {
                position: relative;

                &:before {
                    content: '';
                    width: calculateRem(8px);
                    height: calculateRem(8px);
                    border-radius: 50%;
                    background: $ibexa-color-primary;
                    position: absolute;
                    top: calculateRem(18px);
                    left: calculateRem(-15px);
                }
            }
        }

        &__item {
            &--notifications {
                position: relative;

                &:after {
                    content: attr(data-count);
                    position: absolute;
                    right: calculateRem(8px);
                    top: 48%;
                    transform: translateY(-50%);
                    font-size: calculateRem(14px);
                    width: calculateRem(20px);
                    height: calculateRem(20px);
                    background: $ibexa-color-primary;
                    border-radius: 50%;
                    color: $ibexa-white;
                    text-align: center;
                    line-height: calculateRem(20px);
                }
            }
        }
    }
}
