.ez-pagination {
    @include pagination-main-container();
    padding: calculateRem(24px) calculateRem(16px);

    &__text {
        @include pagination-info();
    }

    &__btns {
        margin: 0;
        font-size: calculateRem(14px);

        .page-item {
            position: relative;
            margin: 0 calculateRem(2px);
        }

        .page-link {
            @include pagination-link();
        }

        .page-item.prev {
            @include pagination-prev-btn();

            .page-link {
                padding-left: calculateRem(20px);
            }
        }

        .page-item.next {
            @include pagination-next-btn();

            .page-link {
                padding-right: calculateRem(20px);
            }
        }

        .page-item.prev,
        .page-item.next {
            &.disabled {
                .page-link {
                    color: $ibexa-color-font-pale;
                    cursor: not-allowed;
                }
            }

            .page-link {
                width: initial;
                border-radius: 0;
            }
        }
    }
}
