.ez-page-title {
    display: grid;
    grid-template-columns: calc(100% - #{calculateRem(50px)}) calculateRem(50px);
    grid-column-gap: calculateRem(10px);
    grid-template-rows: auto;
    grid-template-areas:
        "content-item bookmark"
        "content-type-name .";

    &__content-item {
        width: 100%;
        margin-bottom: 0;
        grid-area: content-item;
        justify-self: start;
        display: flex;
    }

    &__content-name {
        font-weight: normal;
        font-size: calculateRem(26px);
        width: calc(100% - #{calculateRem(36px)});
        margin-bottom: calculateRem(16px);
    }

    &__content-type-name {
        display: flex;
        align-items: center;
        grid-area: content-type-name;
        margin-bottom: calculateRem(24px);
        font-size: calculateRem(16px);
        font-weight: normal;
        color: $ibexa-color-font-pale;
        
        .ez-icon {
            margin-right: calculateRem(8px);
        }
    }
}
