.ibexa-pagination {
    display: flex;
    justify-content: space-between;

    &__info {
        font-size: $ibexa-text-font-size-medium;
        display: flex;
        align-items: center;

        & > * {
            margin: 0 calculateRem(4px);
        }
    }

    &__navigation {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;

        .page-item {
            @include pagination-item();
        }

        .page-link {
            @include pagination-link();
        }
    }
}
