.ez-page-title {
    &__top {
        display: grid;
        grid-template-columns: auto 1fr;
    }

    &__title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: calculateRem(16px);
    }
}
