.ez-picker {
    position: relative;

    &__input[readonly][disabled] {
        cursor: not-allowed;
    }

    &__btn--clear-input {
        position: absolute;
        z-index: 2;
        top: 50%;
        right: 0.25rem;
        transform: translate(0, -50%);
        background: none;
        border: 0;
        width: 1.5rem;
        height: 1.5rem;
        line-height: 0.5rem;
        text-align: center;
        padding: 0;
        margin: 0;
        cursor: pointer;
        outline: none;

        .ibexa-icon {
            transition: fill 0.3s $ibexa-admin-transition;
        }

        &:hover,
        &:focus {
            .ibexa-icon {
                fill: $ibexa-color-base-dark;
            }
        }
    }
}
