@import 'custom';

.ez-table-header {
    display: flex;
    justify-content: space-between;
    background-color: $ez-ground-primary;
    align-items: center;
    padding: 0 1.25rem;
    min-height: 50px;
    border-radius: .25rem .25rem 0 0;

    &__headline {
        font-size: 1.0625rem;
        margin-bottom: 0;
        font-weight: bold;
        color: $ez-black;
    }
}

.ez-table-header.ground-base {
    background-color: $ez-color-base-pale;
}

.table {
    margin-bottom: 3rem;
    
    th, td {
        padding: .7rem 1.4rem;
        line-height: 20px;
    }

    thead th {
        font-size: .9375rem;
        vertical-align: top;
    }

    td {
        font-size: .875rem;
        vertical-align: middle;

        .checkbox label {
            margin-bottom: 0;
        }
    }
}

.ez-dashboard {
    .table {
        margin-bottom: 0;

        thead {
            background-color: $ez-ground-primary;
            color: $ez-black;

            th {
                border-bottom: none;
            }
        }
    }
}

.ez-table-no-content {
    margin-bottom: 3rem;
    padding: 0.75rem 1rem;
    background-color: $ez-white;
    font-style: italic;
    font-size: .875rem;
    color: $ez-color-base-dark;
}

.ez-info-view, .ez-link-manager-view {
    .ez-table {
        &--list {
            background: none;
            margin-bottom: 3rem;

            th, td {
                border: none;
            }

            th {
                color: $ez-color-secondary-hover;
                background: $ez-color-base-pale;
                border-radius: .3rem .3rem 0 0;
            }

            td {
                font-size: .9375rem;

                &:first-child {
                    font-weight: bold;
                    background: $ez-ground-base-medium;
                    width: 33.33%;
                }

                &:last-child {
                    font-weight: normal;
                    background: $ez-white;
                    width: 66.67%;
                }
            }

            tr:last-child td:first-child {
                border-radius: 0 0 0 .3rem;
            }

            tr:last-child td:last-child {
                border-radius: 0 0 .3rem 0;
            }
        }
    }
}

.ez-checkbox-cell {
    width: 5%;
}

.ez-limitation-cell {
    width: 70%;
}
