.nav-tabs {
    border-bottom: calculateRem(1px) solid transparent;
    background-color: $ez-white;

    .nav-item {
        margin-bottom: 0;
    }

    .nav-link {
        margin-left: calculateRem(16px);
        padding: calculateRem(16px) calculateRem(8px);
        color: $ez-black;
        border-radius: 0;
        
        &:hover {
            @include nav-item-active-hover;
            color: $ez-color-primary;
        }

        &.active {
            @include nav-item-active-hover;
            color: $ez-black;
        }
    }
}

.ez-dashboard {
    .nav-tabs {
        border-bottom: calculateRem(2px) solid $ez-ground-primary-inverted;
        background-color: $ez-white;
        margin-bottom: calculateRem(16px);

        .nav-link {
            &.active {
                border-color: $ez-ground-primary-inverted;
                color: $ez-white;
            }
        }
    }
}

.ez-content-view {
    .ez-header .container {
        overflow: initial;
    }

    .nav-tabs {
        border-bottom: calculateRem(1px) solid $ez-ground-base-dark;

        &.ez-tabs {
            .nav-item {
                margin-bottom: calculateRem(-1px);
            }
        }

        .ez-tabs {
            &__tab {
                &--hidden {
                    display: none;
                }

                &--more {
                    cursor: pointer;

                    > .nav-link {
                        position: relative;
                        height: 100%;
                        padding-right: calculateRem(32px);

                        &:before,
                        &:after {
                            content: '';
                            height: calculateRem(10px);
                            width: calculateRem(2px);
                            position: absolute;
                            top: 50%;
                            right: calculateRem(16px);
                            background-color: $ez-black;
                        }

                        &:before {
                            transform: translate(3px, -50%) rotate(-135deg);
                        }

                        &:after {
                            transform: translate(-3px, -50%) rotate(135deg);
                        }
                    }
                }

                &--expanded {
                    .nav-link {
                        background-color: $ez-color-base-pale;
                        border-color: $ez-color-base-pale;
                        color: $ez-black;
                    }
                }

                &--highlighted {
                    .nav-link {
                        background-color: $ez-ground-base-light;
                        border-color: $ez-ground-base-light;
                        color: $ez-black;
                    }
                }
            }

            &--hidden {
                display: none;
            }

            &--secondary {
                flex-direction: column;
                position: absolute;

                &.nav-tabs {
                    z-index: 100;
                    box-shadow: 0 calculateRem(6px) calculateRem(16px) 0 rgba(51, 51, 51, 0.3);

                    .nav-item {
                    }

                    .nav-link {
                        border-radius: 0;
                        border: 0;

                        &.active {
                            background-color: $ez-ground-base-dark;
                        }

                        &:hover {
                            background-color: $ez-color-base-pale;
                        }
                    }
                }
            }
        }
    }
}

.nav-tabs-systeminfo,
.ez-nav-tabs--content-type,
.ez-tabs--url-management {
    border-bottom: none;
}

.ez-nav-tabs {
    &--role {
        border-bottom: none;
    }

    &--content-edit {
        border-bottom: none;
        background-color: $ez-ground-base-pale;

        .nav-item {
            position: relative;
        }
    }
}
