.ez-tag {
    border-radius: calculateRem(4px);
    background: $ez-color-base-pale;
    padding: calculateRem(8px) calculateRem(48px) calculateRem(8px) calculateRem(8px);
    display: inline-block;
    position: relative;

    &__content {
        line-height: calculateRem(22px);
    }

    &__spinner {
        height: calculateRem(22px);
    }

    &__remove-btn {
        display: block;
        position: absolute;
        top: calculateRem(7px);
        right: calculateRem(6px);
        cursor: pointer;
    }
}
