.ez-trash-search-form {
    margin: calculateRem(16px) 0;

    &__inputs-group {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
    }

    &__item {
        display: inline-block;
        width: calculateRem(258px);

        & + & {
            margin-left: calculateRem(16px);
        }

        &--creator {
            position: relative;

            .ez-trash-search-form {
                &__input-wrapper {
                    position: relative;
                }

                &__input {
                    + .ibexa-icon {
                        display: none;
                    }

                    &:disabled {
                        cursor: auto;
                        background-color: $ibexa-white;
                        color: $ibexa-black;
                        padding-right: calculateRem(32px);
                        text-overflow: ellipsis;

                        & + .ibexa-icon {
                            display: block;
                            position: absolute;
                            bottom: calculateRem(7px);
                            right: calculateRem(6px);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    &__user-list {
        padding: 0;
        list-style: none;
        position: absolute;
        right: 0;
        min-width: 100%;
        border-radius: calculateRem(5px);
        margin-bottom: 0;
        background-color: $ibexa-color-base-light;
        max-height: calculateRem(300px);
        overflow: auto;
        transform: scaleY(1);
        transform-origin: top center;
        transition: transform 0.2s $ibexa-admin-transition;

        &--hidden {
            transform: scaleY(0);
        }
    }

    &__user-item {
        padding: calculateRem(8px) calculateRem(16px);
        cursor: pointer;
    }

    &__input {
        &:disabled + .ibexa-btn--reset-creator {
            display: block;
        }
    }

    .ibexa-btn--reset-creator {
        display: none;
        position: absolute;
        right: calculateRem(5px);
        bottom: calculateRem(9px);
    }

    &__range-wrapper {
        height: 0;
        opacity: 0;
        margin-top: calculateRem(8px);
        background: $ibexa-white;
        border: calculateRem(1px) solid $ibexa-white;
        border-radius: calculateRem(4px);
        transition: all 0.2s ease-in;
        pointer-events: none;

        &--visible {
            height: calculateRem(40px);
            opacity: 1;
            pointer-events: auto;
        }
    }

    &__range-select {
        border: none;
        outline: none;
    }
}
