.ez-content-edit {
    h2 {
        &.text-muted {
            font-size: 1.125rem;
            color: $ibexa-color-base-dark;
        }
    }
}

.ez-adminsection-edit {
    padding: 0 calculateRem(8px);

    .card-header {
        border: none;
        background-color: $ibexa-white;

        h2 {
            font-size: calculateRem(16px);
            font-weight: normal;
            color: $ibexa-color-primary;
        }
    }

    .card-body {
        h3 {
            font-size: calculateRem(16px);
        }
    }
}
