.ez-dashboard-row {
    h1 {
        margin-bottom: 0;
        font-size: 1.5rem;
        font-weight: 400;
    }

    h2 {
        font-size: 1.25rem;
    }
}

.ez-content-edit {
    h2 {
        &.text-muted {
            font-size: 1.125rem;
            color: $ez-color-base-light;
        }
    }
}

.ez-adminsection-edit {
    .card-header {
        background-color: $ibexa-white;

        h2 {
            margin-bottom: 0;
            font-size: 1.125rem;
            font-weight: 400;
            color: $ez-color-secondary;
        }
    }

    .card-body {
        h3 {
            font-size: 1.0625rem;
        }
    }
}
