.ez-user-menu {
    position: relative;
    cursor: pointer;

    &__name-wrapper {
        padding: .5rem 2rem .5rem 0;

        .ez-user-menu__name {
            font-size: 0.75rem;
            font-weight: 700;
        }

        &:before,
        &:after {
            content: "";
            height: 10px;
            width: 2px;
            position: absolute;
            top: 50%;
            right: 1rem;
            background-color: $ez-black;
        }

        &:before {
            transform: translate(3px, -50%)  rotate(-135deg);
        }

        &:after {
            transform: translate(-3px, -50%)  rotate(135deg);
        }
    }

    &__avatar {
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

    &__items {
        position: absolute;
        top: 100%;
        right: 0;
        min-width: 100%;
        background-color: $ez-white;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
        z-index: 1050;
        height: auto;
        transform-origin: top center;
        transition: all .2s $ez-admin-transition;

        &--hidden {
            height: 0;
            overflow: hidden;
            z-index: initial;
        }
    }

    &__item {
        width: 100%;
        cursor: pointer;
        padding-left: 1.5rem;

        &:not(:last-child) {
            border-bottom: 1px solid $ez-ground-base-dark;
        }
    }
}
