.ez-main-nav {
    .ez-user-menu {
        position: relative;
        cursor: pointer;
        z-index: 1050;

        &__name-wrapper {
            display: flex;
            height: calculateRem(58px);
            width: calculateRem(180px);
            padding: calculateRem(8px) calculateRem(24px) calculateRem(8px) calculateRem(8px);
            user-select: none;
            justify-content: flex-end;

            &:before,
            &:after {
                content: '';
                height: calculateRem(6px);
                width: calculateRem(2px);
                position: absolute;
                top: 50%;
                right: calculateRem(11px);
                background-color: $ez-black;
            }

            &:before {
                transform: translate(3px, -50%) rotate(-135deg);
            }

            &:after {
                transform: translate(-3px, -50%) rotate(135deg);
            }

            &--active {
                background-color: $ez-white;
            }

            transition: background-color 0.3s $ez-admin-transition;
        }

        &__name {
            display: flex;
            align-items: center;
            text-align: right;
            font-size: calculateRem(12px);
        }

        &__items {
            width: 100%;
            display: block;
            position: absolute;
            padding-top: calculateRem(6px);
            right: 0;
            background-color: $ez-white;
            box-shadow: 0 calculateRem(2px) calculateRem(6px) rgba(0, 0, 0, 0.15);
            transform-origin: top center;
            white-space: nowrap;

            &--hidden {
                padding-top: 0;
                height: 0;
                overflow: hidden;
            }
        }

        &__item {
            width: 100%;
            padding-left: calculateRem(28px);
            cursor: pointer;
            font-size: calculateRem(13px);
            color: $ibexa-color-font;

            &--dark {
                .nav-link {
                    color: $ibexa-color-font;
                    text-decoration: none;
                }
            }

            &:last-child {
                margin: calculateRem(24px) auto calculateRem(16px) 0;
            }

            &:hover {
                .nav-link {
                    color: $ibexa-color-primary;
                }
            }
        }

        &__item-label {
            grid-area: label;
            white-space: normal;
            word-break: break-word;
        }
    }
}
