.ez-content-view {
    .ez-content-container {
        display: flex;
        min-width: 0;
    }

    .ez-content-tree-container {
        display: none;
        flex: 0 0 auto;
        max-width: 0;
        position: relative;
        background: $ez-white;
        color: inherit;
        transition: max-width 0.2s $ez-admin-transition;
        margin-bottom: calculateRem(-24px);

        &--expanded {
            display: initial;
            min-width: calculateRem(250px);
            max-width: 33vw;
        }

        &__wrapper {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
        }
    }

    .ez-location-view-container {
        flex: 1 1 auto;
        min-width: 0;
    }
}

.ez-is-tree-resizing {
    user-select: none;
}
