.ibexa-tabs {
    &__tab {
        .ez-warning-icon {
            position: absolute;
            top: 0;
            right: 0;
            left: auto;
            background: $ibexa-color-danger;
            border-radius: 50%;
            width: 1.25rem;
            height: 1.25rem;
            align-items: center;
            justify-content: center;
            display: none;

            .ibexa-icon.ibexa-icon--warning {
                height: calculateRem(12px);
                width: calculateRem(12px);
                margin: calculateRem(-10px) calculateRem(4px) 0;
            }
        }

        &--invalid {
            .ez-warning-icon {
                display: block;
            }
        }
    }
}
