.ez-tabs {
    .ez-warning-icon {
        position: absolute;
        right: -0.5rem;
        left: auto;
        background: #d92d42;
        border-radius: 50%;
        width: 1.25rem;
        height: 1.25rem;
        top: -0.5rem;
        align-items: center;
        justify-content: center;
        display: none;
        
        .ez-icon {
            height: 12px;
            width: 12px;
            margin: -10px 4px 0;
            fill: #fff;
        }
    }
}
