<div class="modal" tabindex="-1" role="dialog" data-workflow-popup="{{ contentId }}-{{ versionNo }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include '@ezdesign/workflow/workflow.chart.html.twig' %}
            </div>
        </div>
    ą</div>
</div>
