<div id="timeline">
    <div class="timeline-item">
        <div class="timeline-icon">
            <svg class="ez-icon ez-icon-edit">
                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#comment"></use>
            </svg>

        </div>
        <div class="timeline-content">
            <h2>LOREM IPSUM DOLOR</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.
            </p>
            <a href="#" class="btn">button</a>
        </div>
    </div>

    <div class="timeline-item">
        <div class="timeline-icon">
            <svg class="ez-icon ez-icon-edit">
                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#comment"></use>
            </svg>

        </div>
        <div class="timeline-content right">
            <h2>LOREM IPSUM DOLOR</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
            </p>
            <a href="#" class="btn">button</a>
        </div>
    </div>

    <div class="timeline-item">
        <div class="timeline-icon">
            <svg class="ez-icon ez-icon-edit">
                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#comment"></use>
            </svg>

        </div>
        <div class="timeline-content">
            <h2>LOREM IPSUM DOLOR</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
            </p>
            <a href="#" class="btn">button</a>
        </div>
    </div>
</div>
