.ez-field-preview--ezimageasset {
    display: flex;

    .ez-field-preview {
        &__image-wrapper {
            flex-basis: 50%;
            margin-right: 2rem;
        }

        &__image-meta {
            flex-basis: 43%;
            max-width: 43%;
        }

        &__actions-wrapper {
            flex-basis: 7%;
        }

        &__action {
            &--preview {
                border: none;
                border-radius: 50%;
                height: 40px;
                width: 40px;
                line-height: 40px;
                cursor: pointer;
                transition: background 0.3s $ez-admin-transition;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 0;
                background: $ez-color-base-medium;

                &:hover,
                &:focus {
                    background: darken($ez-color-base-medium, 15%);
                }
            }
        }
    }
}
