.ez-field-preview--ezimage {
    display: flex;

    .ez-image__wrapper {
        flex-basis: 50%;
        margin-right: 2rem;
    }

    .ez-field-preview {
        &__image-meta {
            flex-basis: 43%
        }

        &__actions-wrapper {
            flex-basis: 7%
        }

        &__action {
            .ez-icon {
                transform: translate(-50%, 6px);
            }

            &--preview {
                padding: 0 1.25rem;
                border: 0 none;
                border-radius: 50%;
                height: 40px;
                width: 40px;
                line-height: 40px;
                cursor: pointer;
                transition: background .3s $ez-admin-transition;
                text-align: center;
                display: block;
                margin-top: 0;
                flex-wrap: nowrap;
                background: $ez-color-base-medium;
                &:hover,
                &:focus {
                    background: darken($ez-color-base-medium, 15%);
                }
            }
        }
    }
}
