.ez-field-preview--ezselection-multiple {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .ez-selection__item {
        display: inline-block;
        padding: calculateRem(8px) calculateRem(16px);
        background: $ibexa-white;
        border-radius: calculateRem(4px);
        margin: calculateRem(4px);
        min-height: calculateRem(40px);
    }
}

.ez-field-preview--ezselection-single {
    display: inline-block;
    padding: calculateRem(8px) calculateRem(16px);
    background: $ibexa-white;
    border-radius: calculateRem(4px);
    margin: calculateRem(4px);
}
