.ez-field-preview--ezselection-multiple {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .ez-selection__item {
        display: inline-block;
        padding: .5rem 1rem;
        background: $ez-ground-primary;
        border-radius: 5px;
        margin: .25rem;
        min-height: 40px;
    }
}

.ez-field-preview--ezselection-single {
    display: inline-block;
    padding: .5rem 1rem;
    background: $ez-ground-primary;
    border-radius: 5px;
    margin: .25rem;
}
