<div class="alert alert-{{ label }} alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" title="{{ 'alert.close'|trans|desc('Close') }}">
        <svg class="ez-icon ez-icon--light ez-icon-small">
            <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#circle-close"></use>
        </svg>
    </button>
    {{ message }}
</div>
