@mixin drag-items-container() {
    display: flex;
    flex-direction: column;
    max-width: calculateRem(340px);
    max-height: calculateRem(700px);
    margin-left: calculateRem(24px);
    padding-top: calculateRem(16px);
    overflow: hidden;
    border: calculateRem(1px) solid $ibexa-color-light;
    border-radius: $ibexa-border-radius;
    background-color: $ibexa-color-light-400;
    box-shadow: calculateRem(-4px) calculateRem(22px) calculateRem(47px) 0 rgba($ibexa-color-info, 0.05);
    transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
}

@mixin drag-items-action-header() {
    display: flex;
    justify-content: space-between;
    height: calculateRem(16px);
    background-color: $ibexa-color-light-400;
}

@mixin drag-items-header() {
    margin: 0;
    padding: calculateRem(12px) calculateRem(24px);
    background: $ibexa-color-white;
    border-bottom: calculateRem(1px) solid $ibexa-color-light;
}

@mixin drag-items-list {
    background: $ibexa-color-white;
    overflow: auto;
    padding: 0 calculateRem(24px) calculateRem(24px);
}

@mixin drag-item {
    display: flex;
    align-items: center;
    margin-bottom: calculateRem(8px);
    height: calculateRem(48px);
    border: calculateRem(1px) solid $ibexa-color-light;
    border-radius: $ibexa-border-radius;
    background: $ibexa-color-white;
    box-shadow: $ibexa-content-type-edit-field-shadow;
    transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
    cursor: grab;

    &:first-child {
        margin-top: 0;
    }

    &--hidden {
        height: 0;
        opacity: 0;
        margin: 0;
        border: none;
    }

    &--is-dragged-out {
        background: $ibexa-color-light-400;
        opacity: 0.5;
    }

    &--no-drag {
        cursor: unset;
    }

    .ibexa-icon {
        &--drag-icon {
            flex-shrink: 0;
            fill: $ibexa-color-dark-200;
            margin: 0 calculateRem(16px);
        }
    }
}

@mixin drag-item-btns-wrapper {
    display: flex;
    margin-left: auto;
}

@mixin drag-item-label {
    @include ibexa-font-sans-serif();

    font-size: $ibexa-text-font-size-medium;
    font-weight: 600;
}

@mixin drag-item-placeholder {
    display: flex;
    align-items: center;
    height: calculateRem(48px);
    margin: 0 0 calculateRem(8px) 0;
    padding: 0 calculateRem(14px);
    border-radius: $ibexa-border-radius;
    border: calculateRem(1px) dashed $ibexa-color-light;

    &__item-wrapper {
        flex-grow: 1;

        &:not(:first-child) {
            margin-left: calculateRem(8px);
        }

        &--short {
            flex-grow: 0;
            flex-shrink: 0;
        }
    }

    &__item {
        @include ibexa-font-sans-serif();

        display: flex;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        padding: 0 calculateRem(16px);
        border-radius: $ibexa-border-radius;
        background-color: $ibexa-color-light-300;
        color: $ibexa-color-dark-400;
        font-size: $ibexa-text-font-size-medium;
        height: calculateRem(24px);
        width: 75%;

        &--short {
            width: calculateRem(24px);
            padding: 0;
        }
    }

    &--hidden {
        display: none;
    }
}
