@mixin input-active {
    border-color: $ibexa-color-primary;
    box-shadow: 0 0 calculateRem(2px) 0 rgba($ibexa-color-primary, 0.75);
}

@mixin input-invalid {
    color: $ibexa-color-danger;
    background-image: none;
    border-color: $ibexa-color-danger;
    background-color: $ibexa-color-danger-100;
}

@mixin area-invalid {
    color: $ibexa-color-danger;
    border-color: $ibexa-color-danger;
    background-color: $ibexa-color-danger-100;

    .ibexa-btn {
        background-color: $ibexa-color-danger-100;
    }
}

@mixin error-input {
    display: flex;
    font-size: calculateRem(14px);
    font-style: normal;
    color: $ibexa-color-danger;
    align-items: center;
    box-sizing: border-box;

    &:before {
        content: '!';
        font-size: calculateRem(12px);
        display: flex;
        width: calculateRem(14px);
        height: calculateRem(14px);
        color: $ibexa-white;
        background: $ibexa-color-danger;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin-right: calculateRem(5px);
    }
}

@mixin error-under-input {
    @include error-input();

    margin: calculateRem(-7px) 0 0 calculateRem(2px);
}

@mixin error-under-label {
    @include error-input();

    flex-basis: 100%;
    margin: 0 0 calculateRem(10px) calculateRem(2px);
}
