@mixin input-active {
    border-color: $ibexa-color-primary;
    box-shadow: 0 0 calculateRem(2px) 0 rgba($ibexa-color-primary, 0.75);
}

@mixin input-invalid {
    background: $ibexa-white;
    border-width: calculateRem(1px) calculateRem(1px) calculateRem(1px) calculateRem(3px);
    border-color: $ibexa-color-base-dark $ibexa-color-base-dark $ibexa-color-base-dark $ibexa-color-primary;
}

@mixin area-invalid {
    border-left: calculateRem(3px) solid $ibexa-color-primary;
}

@mixin error-under-input {
    margin: calculateRem(-7px) 0 0 calculateRem(2px);
}

@mixin error-under-label {
    margin: 0 0 calculateRem(10px) calculateRem(2px);
}