@mixin pagination-main-container {
    display: flex;
    background: $ibexa-white;
}

@mixin pagination-info {
    color: $ibexa-color-dark;
    font-size: $ibexa-text-font-size-medium;
    margin-right: calculateRem(24px);
}

@mixin pagination-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calculateRem(44px);
    height: calculateRem(44px);
    border-radius: $ibexa-border-radius;
    font-size: $ibexa-text-font-size-medium;
}

@mixin pagination-item {
    padding: calculateRem(1px);
    border: calculateRem(1px) solid transparent;

    &.active {
        font-weight: 600;
    }

    &.prev {
        .page-link:before {
            content: '';
            margin-left: calculateRem(7px);
            display: block;
            border-right: calculateRem(1px) solid $ibexa-color-dark;
            border-bottom: calculateRem(1px) solid $ibexa-color-dark;
            width: calculateRem(16px);
            height: calculateRem(16px);
            transform: rotate(135deg);
        }
    }

    &.next {
        .page-link:after {
            content: '';
            display: block;
            margin-right: calculateRem(7px);
            border-right: calculateRem(1px) solid $ibexa-color-dark;
            border-bottom: calculateRem(1px) solid $ibexa-color-dark;
            width: calculateRem(16px);
            height: calculateRem(16px);
            transform: rotate(-45deg);
        }
    }

    &.disabled {
        .page-link:before,
        .page-link:after {
            border-right-color: $ibexa-color-dark-200;
            border-bottom-color: $ibexa-color-dark-200;
        }
    }

    .page-link:focus {
        border: calculateRem(1px) solid $ibexa-color-primary;
    }
}
