services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    EzSystems\EzPlatformAdminUiBundle\Templating\Twig\UiConfigExtension:
        public: true

    EzSystems\EzPlatformAdminUi\UI\Config\Aggregator:
        lazy: true
        public: true

    EzSystems\EzPlatformAdminUi\UI\Config\Provider\ContentTypeMappings:
        arguments:
            $locationMappings: '%ezplatform.multifile_upload.location.mappings%'
            $defaultMappings: '%ezplatform.multifile_upload.location.default_mappings%'
            $fallbackContentType: '%ezplatform.multifile_upload.fallback_content_type%'
            $maxFileSize: '%ez_systems.multifile_upload.max_file_size%'
        tags:
            - { name: ezplatform.admin_ui.config_provider, key: 'multiFileUpload' }

    EzSystems\EzPlatformAdminUi\UI\Config\Provider\SortFieldMappings:
        tags:
            - { name: ezplatform.admin_ui.config_provider, key: 'sortFieldMappings' }

    EzSystems\EzPlatformAdminUi\UI\Config\Provider\SortOrderMappings:
        tags:
            - { name: ezplatform.admin_ui.config_provider, key: 'sortOrderMappings' }

    ezsystems.ezplatform_admin_ui.ui.config.provider.image_variations:
        class: EzSystems\EzPlatformAdminUi\UI\Config\Provider\Value
        lazy: true
        arguments:
            $value: '$image_variations$'
        tags:
            - { name: ezplatform.admin_ui.config_provider, key: 'imageVariations' }

    ezsystems.ezplatform_admin_ui.ui.config.provider.content_edit_form_templates:
        class: EzSystems\EzPlatformAdminUi\UI\Config\Provider\Value
        lazy: true
        arguments:
            $value: '$admin_ui_forms.content_edit_form_templates$'
        tags:
            - { name: ezplatform.admin_ui.config_provider, key: 'contentEditFormTemplates' }

    EzSystems\EzPlatformAdminUi\UI\Config\Provider\User:
        tags:
            - { name: ezplatform.admin_ui.config_provider, key: 'user' }

    EzSystems\EzPlatformAdminUi\UI\Config\Provider\Languages:
        arguments:
            $siteAccesses: '%ezpublish.siteaccess.list%'
        tags:
            - { name: ezplatform.admin_ui.config_provider, key: 'languages' }

    EzSystems\EzPlatformAdminUi\UI\Config\Provider\ContentTypes:
        tags:
            - { name: ezplatform.admin_ui.config_provider, key: 'contentTypes' }

    EzSystems\EzPlatformAdminUi\UI\Config\Provider\Module\UniversalDiscoveryWidget:
        tags:
            - { name: ezplatform.admin_ui.config_provider, key: 'universalDiscoveryWidget' }

    EzSystems\EzPlatformAdminUi\UI\Config\Provider\Module\SubItemsList:
        tags:
            - { name: ezplatform.admin_ui.config_provider, key: 'subItems' }

    EzSystems\EzPlatformAdminUi\UI\Config\Provider\FieldType\ImageAsset\Mapping:
        tags:
            - { name: ezplatform.admin_ui.config_provider, key: 'imageAssetMapping' }

    # Notifications
    EzSystems\EzPlatformAdminUi\UI\Config\Provider\Notifications:
        tags:
            - { name: ezplatform.admin_ui.config_provider, key: 'notifications' }

    # Date related configuration
    EzSystems\EzPlatformAdminUi\UI\Config\Provider\Timezone:
        class: EzSystems\EzPlatformAdminUi\UI\Config\Provider\Timezone
        tags:
            - { name: ezplatform.admin_ui.config_provider, key: 'timezone' }

    EzSystems\EzPlatformAdminUi\UI\Config\Provider\DateFormat:
        tags:
            - { name: ezplatform.admin_ui.config_provider, key: 'dateFormat' }

    EzSystems\EzPlatformAdminUiBundle\Templating\Twig\PathStringExtension: ~

    EzSystems\EzPlatformAdminUiBundle\Templating\Twig\ContentTypeIconExtension: ~

    EzSystems\EzPlatformAdminUi\UI\Config\Provider\UserContentTypes:
        tags:
            - { name: ezplatform.admin_ui.config_provider, key: 'userContentTypes' }

    EzSystems\EzPlatformAdminUi\UI\Config\Provider\Sections:
        tags:
            - { name: ezplatform.admin_ui.config_provider, key: 'sections' }
