{% trans_default_domain 'locationview' %}

<section>
    {{ include('@ezdesign/content/tab/relations/table_relations.html.twig', {
        relations: relations,
        content: content,
    }) }}

    {% if reverse_relation_pager is defined %}
        {{ include('@ezdesign/content/tab/relations/table_relations_reverse.html.twig', {
            relations: reverse_relation_pager.currentPageResults,
            content: content,
        }) }}
        {% if reverse_relation_pager.haveToPaginate %}
            {% include '@ezdesign/ui/pagination.html.twig' with {
                'pager': reverse_relation_pager,
                'paginaton_params': {
                    'routeName': reverse_relation_pagination_params.route_name,
                    'routeParams': reverse_relation_pagination_params.route_params|merge({
                        '_fragment': constant('EzSystems\\EzPlatformAdminUi\\Tab\\LocationView\\RelationsTab::URI_FRAGMENT'),
                    }),
                    'pageParameter': '[page][reverse_relation]'
                }
            } %}
        {% endif %}
    {% endif %}
</section>
