<tr class="ibexa-table__row">
    <td class="ibexa-table__empty-table-cell" colspan="{{ colspan|default(9999) }}">
        <img src="/bundles/ezplatformadminui/img/ibexa-empty-table.svg" alt="You have no items yet" />
        <div class="ibexa-table__empty-table-text">
            You have no items yet<br>
            <strong>Add new one<strong>
        </div>
    </td>
</tr>