<div class="ibexa-table-header">
    <div class="ibexa-table-header__headline" title="{{ headline_title|default(headline) }}">
        {% block headline %}
            {{ headline }}
        {% endblock %}
    </div>
    <div class="ibexa-table-header__tools">
        {% block actions %}{% endblock %}
    </div>
</div>