{% block header %}
    {% include '@ezdesign/ui/component/table/table_header.html.twig' %}
{% endblock %}

{% block between_header_and_table %}{% endblock %}

{% block table %}
    <table class="ibexa-table table">
        <thead>
            {% block thead %}
                {% include '@ezdesign/ui/component/table/table_head_row.html.twig' %}
            {% endblock %}
        </thead>
        <tbody class="ibexa-table__body">
            {% block tbody %}
                {% if body_rows is empty %}
                    {% include '@ezdesign/ui/component/table/empty_table_body_row.html.twig' with {
                        colspan: head_cols|length,
                    } %}
                {% else %}
                    {% for row in body_rows %}
                        {# TODO: do we need to pass tab explicitely??? #}
                        {% include '@ezdesign/ui/component/table/table_body_row.html.twig' with {
                            row: row,
                        } %}
                    {% endfor %}
                {% endif %}
            {% endblock %}
        </tbody>
    </table>
{% endblock %}
