{% extends '@EzSystemsRepositoryForms/limitation_values.html.twig' %}

{% block ez_limitation_node_value %}
    {% apply spaceless %}
        {% for path in values %}
            {% for value in path %}
                <a href="{{ path('_ezpublishLocation', {'locationId': value.mainLocationId}) }}" >{{ value.name }}</a>
                {% if not loop.last %} / {% endif %}
            {% endfor %}
            {% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endapply %}
{% endblock %}

{% block ez_limitation_subtree_value %}
    {% apply spaceless %}
        {% for path in values %}
            {% for value in path %}
                <a href="{{ path('_ezpublishLocation', {'locationId': value.mainLocationId}) }}" >{{ value.name }}</a>
                {% if not loop.last %} / {% endif %}
            {% endfor %}
            {% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endapply %}
{% endblock %}
