{% block ezplatform_fieldtype_ezdatetime_widget %}
    <div class="ez-data-source__input-wrapper">
        <input type="text" class="flatpickr flatpickr-input ez-data-source__input form-control" readonly="readonly">
        <button type="button" class="ez-data-source__btn--clear-input">
            <svg class="ez-icon">
                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#circle-close"></use>
            </svg>
        </button>
    </div>
    {% set attr = attr|merge({'class': 'ez-visually-hidden ez-data-source__input'}) %}
    {{ block('form_widget') }}
{% endblock %}
