.c-list-item {
    line-height: calculateRem(21px);
    min-height: calculateRem(21px);
    margin: calculateRem(2px);
    position: relative;

    &:not(&--is-root-item) {
        &:after {
            content: ' ';
            display: block;
            position: absolute;
            z-index: 2;
            background: repeating-linear-gradient(
                90deg,
                $ibexa-color-dark-300,
                $ibexa-color-dark-300 calculateRem(2px),
                transparent calculateRem(2px),
                transparent calculateRem(4px)
            );
            width: calculateRem(12px);
            height: calculateRem(1px);
            left: calculateRem(-3px);
            top: calculateRem(16px);
        }
    }

    &__row {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 calculateRem(8px) 0 calculateRem(16px);
        border-radius: $ibexa-border-radius;
        border: calculateRem(1px) solid transparent;

        &:hover,
        &:focus {
            border-color: $ibexa-color-light;
            box-shadow: calculateRem(4px) calculateRem(22px) calculateRem(47px) 0 rgba($ibexa-color-info, 0.05);

            .c-list-item {
                &__actions {
                    opacity: 1;
                }
            }
        }
    }

    &__prefix-actions-item {
        position: relative;
    }

    &__prefix-actions-item-empty {
        &:after {
            content: ' ';
            display: block;
            position: absolute;
            z-index: 2;
            background: repeating-linear-gradient(
                90deg,
                $ibexa-color-dark-300,
                $ibexa-color-dark-300 calculateRem(2px),
                transparent calculateRem(2px),
                transparent calculateRem(4px)
            );
            width: calculateRem(20px);
            height: calculateRem(1px);
            left: calculateRem(-6.5px);
            top: calculateRem(10px);
        }
    }

    &__label {
        display: flex;
        align-items: center;
        flex: 1;
        white-space: nowrap;
        position: relative;
        font-size: calculateRem(14px);
        line-height: calculateRem(21px);
        min-height: calculateRem(21px);
        padding: calculateRem(5px) calculateRem(14px) calculateRem(5px) 0;
        overflow: hidden;
        color: $ibexa-color-dark;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: none;
            color: inherit;
        }
    }

    &__label-content {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__icon {
        height: calculateRem(20px);
        display: inline-flex;
        align-items: center;
        margin-right: calculateRem(4px);
    }

    &__toggler {
        position: relative;
        height: 100%;
        width: calculateRem(16px);

        &:before {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: calculateRem(4px) 0 calculateRem(4px) calculateRem(8px);
            border-color: transparent transparent transparent $ibexa-black;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            transform-origin: center center;
        }

        &:focus {
            border: none;
            outline: none;
        }
    }

    &__actions {
        display: flex;
        opacity: 0;
    }

    &__actions-item {
        display: flex;
        padding-left: calculateRem(4px);
    }

    &__load-more-btn {
        display: flex;
        align-items: center;
        padding: 0 calculateRem(4px);
        background: $ibexa-white;
        color: $ibexa-black;
        border: calculateRem(1px) solid $ibexa-black;
        margin-left: calculateRem(26px);
        transition: background 0.3s $ibexa-admin-transition, color 0.3s $ibexa-admin-transition;
        font-size: calculateRem(12px);

        &:focus {
            box-shadow: 0 0 0 calculateRem(3px) rgba($ibexa-black, 0.25);
        }

        &:hover {
            color: $ibexa-white;
            background: $ibexa-black;

            .ibexa-icon {
                fill: $ibexa-white;
            }
        }

        .ibexa-icon {
            fill: $ibexa-black;
        }
    }

    &__load-more-btn-spinner {
        margin-right: calculateRem(4px);
    }

    &__load-more-limit-info {
        margin-left: calculateRem(26px);
        color: $ibexa-color-primary;
        font-size: calculateRem(14px);
        font-style: italic;
    }

    .c-list {
        opacity: 0;
        list-style: none;
        max-height: 0;
        max-width: 0;
        overflow: hidden;
    }

    &--has-sub-items {
        > .c-list-item__row {
            .c-list-item__toggler {
                cursor: pointer;

                &:before {
                    content: '';
                }
            }
        }
    }

    &--is-expanded {
        max-height: initial;

        &:before {
            content: ' ';
            display: block;
            position: absolute;
            z-index: 2;
            background: repeating-linear-gradient(
                $ibexa-color-dark-300,
                $ibexa-color-dark-300 calculateRem(2px),
                transparent calculateRem(2px),
                transparent calculateRem(4px)
            );
            width: calculateRem(1px);
            left: calculateRem(8px);
            top: calculateRem(16px);
            bottom: calculateRem(16px);
        }

        > .c-list {
            opacity: 1;
            max-height: calculateRem(20000px);
            max-width: initial;
            overflow: initial;
        }

        > .c-list-item {
            &__row {
                .c-list-item__toggler {
                    &:before {
                        border-width: calculateRem(8px) calculateRem(4px) 0 calculateRem(4px);
                        border-color: $ibexa-black transparent transparent transparent;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }

    &--is-hidden {
        > .c-list-item {
            &__row {
                opacity: 0.3;
            }
        }
    }

    &--is-selected {
        > .c-list-item {
            &__row {
                border-color: $ibexa-color-light-300;
                background-color: $ibexa-color-light-300;

                &:hover,
                &:focus {
                    border-color: $ibexa-color-light;
                }
            }
        }
    }
}
