.c-list {
    margin: 0;
    padding: 0 0 0 calculateRem(12px);
    list-style: none;
}

.m-tree__scrollable-wrapper {
    > .c-list {
        display: table;
        width: 100%;
        padding: 0 0 0 calculateRem(3px);
    }
}
