.m-tree {
    padding: calculateRem(8px);
    height: 100%;

    &__resize-handler {
        width: calculateRem(3px);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        background: $ibexa-color-base-light;
        cursor: col-resize;
    }

    &__scrollable-wrapper {
        overflow: auto;
        padding: calculateRem(12px);
    }

    &__loading-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% - #{calculateRem(100px)});
        width: 100%;
    }

    &__collapse-all-btn {
        width: 100%;
        border-top: calculateRem(1px) solid $ibexa-white;
        height: calculateRem(30px);
        padding: calculateRem(7px);
        font-size: calculateRem(11px);
        text-align: right;
        color: $ibexa-color-base-dark;
        cursor: pointer;
    }
}
