{% extends '@ezdesign/ui/layout.html.twig' %}

{% block body_class %}ez-has-no-sidebars{% endblock %}

{% block content %}
<div class="row align-items-stretch ez-main-row">
    <div class="error-page">
        <div class="error-page__image-wrapper">
            <img src="{{ asset('bundles/ezplatformadminui/img/errors/403.png') }}" />
        </div>
        <h2 class="error-page__title">{{ 'error.page.403.title'|trans|desc('You don\'t have permission for this page.') }}</h2>
        <div class="error-page__messages">
            <p class="error-page__message">{{ 'error.page.403.message'|trans|raw|desc('Error 403: you don\'t have permissions to access this page.<br/>Contact your Administrator to request access to this content.') }}</p>
            <p class="error-page__message">{{ 'error.page.403.actions'|trans({ '%dashboard%': path('ezplatform.dashboard'), '%search%': path('ezplatform.search') })|raw|desc('To continue, go back to the <a class="error-page__link" href="%dashboard%">dashboard</a> or <a class="error-page__link" href="%search%">search</a> for another Content item.') }}</p>
        </div>
    </div>
</div>
{% endblock %}
