<td>
    <a href="{{ path('_ezpublishLocation', { 'locationId': locationId } ) }}">{{ content.getName() }}</a>
</td>
<td>
    {{ contentType.getName() }}
</td>
<td>
    {{ content.versionInfo.creationDate|localizeddate( 'short', 'medium' ) }}
</td>
