.c-breadcrumbs {
    display: flex;
    align-items: center;
    padding: calculateRem(12px) calculateRem(16px) calculateRem(14px);

    &__hidden-list-wrapper {
        margin-right: calculateRem(8px);
        position: relative;
    }

    &__hidden-list {
        display: none;

        &--visible {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1;
            margin-bottom: 0;
            padding-left: 0;
            display: block;
            list-style: none;
            background-color: $ibexa-color-white;
            box-shadow: 0 calculateRem(4px) calculateRem(6px) 0 rgba(135, 135, 135, 0.35);
            color: $ibexa-color-primary;
            padding: calculateRem(16px);
        }
    }

    &__hidden-list-item {
        padding: calculateRem(4px) 0;
        white-space: nowrap;
        max-width: calculateRem(500px);
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: pointer;
    }

    &__hidden-list-toggler {
        height: calculateRem(20px);
        width: calculateRem(26px);
        border: calculateRem(1px) solid $ibexa-color-dark-300;
        border-radius: $ibexa-border-radius;
        display: flex;
        padding: 0;
        justify-content: center;
        align-items: center;

        .ibexa-icon {
            transform: rotate(90deg);
            transform-origin: center center;
            fill: $ibexa-color-dark-300;
        }

        &--active {
            background-color: $ibexa-color-dark-300;

            .ibexa-icon {
                fill: $ibexa-color-white;
            }
        }
    }

    &__list-wrapper {
        width: calc(100% - #{calculateRem(34px)});
    }

    &__list {
        display: flex;
        list-style: none;
        padding: 0;
        margin-bottom: 0;
    }

    &__list-item-text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        color: $ibexa-color-dark;
    }

    &__list-item {
        max-width: calc(100% / 3);
        display: flex;
        font-size: $ibexa-text-font-size-small;

        &--last {
            .c-breadcrumbs__list-item-text {
                cursor: not-allowed;
                color: $ibexa-color-dark-300;
                text-decoration: none;

                &:hover {
                    color: $ibexa-color-dark-300;
                }
            }
        }
    }

    &__list-item-text {
        text-decoration: underline;

        &:hover {
            color: $ibexa-color-primary;
        }
    }

    &__list-item-separator {
        margin: 0 calculateRem(8px);
    }
}
