.c-content-meta-preview {
    padding: calculateRem(10px) calculateRem(20px);
    position: relative;
    height: 100%;
    letter-spacing: calculateRem(0.12px);

    &__preview {
        width: calculateRem(453px);
        height: calculateRem(342px);
        background-color: $ibexa-color-light-300;
        border-radius: $ibexa-border-radius-small;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content-name {
        font-size: $ibexa-text-font-size-large;
        line-height: calculateRem(33px);
        font-weight: 600;
    }

    &__content-type-name {
        font-size: $ibexa-text-font-size;
        color: $ibexa-color-dark-400;
        line-height: calculateRem(24px);
    }

    &__details {
        margin-top: calculateRem(16px);
        border-top: calculateRem(1px) solid $ibexa-color-light;
    }

    &__details-item {
        display: flex;
        justify-content: space-between;
        font-size: $ibexa-text-font-size-medium;
        line-height: calculateRem(21px);
        color: $ibexa-color-dark;
        margin-top: calculateRem(16px);
    }

    &__details-item-row {
        width: 50%;
    }

    &__toggle-bookmark-button {
        border: none;
        align-self: flex-start;
    }

    &__translations-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__translation {
        text-align: right;
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        margin-bottom: calculateRem(21px);
        font-size: $ibexa-text-font-size-medium;
        line-height: calculateRem(21px);
        color: $ibexa-color-dark;

        .c-content-edit-button {
            display: inline-block;
        }
    }

    &__action-item {
        display: flex;
        align-items: center;

        &:not(:first-of-type) {
            margin-left: calculateRem(10px);
        }

        .c-content-edit-button__btn {
            width: auto;
        }

        .ibexa-icon {
            margin-right: calculateRem(8px);
        }
    }
}
