.c-content-create-button {
    margin-right: calculateRem(65px);

    &__btn {
        .ibexa-icon {
            fill: $ibexa-color-white;
        }

        &:disabled {
            .ibexa-icon {
                fill: $ibexa-color-dark-400;
            }
        }
    }
}
