.c-content-table {
    &__title {
        display: flex;
        justify-content: space-between;
        background-color: $ibexa-white;
        align-items: center;
        padding: 0 calculateRem(20px);
        min-height: calculateRem(50px);
        border-radius: calculateRem(4px) calculateRem(4px) 0 0;
        font-weight: bold;
    }

    & &__items {
        .table {
            thead {
                background-color: inherit;
            }
        }
    }
}
