.c-content-edit-button {
    margin-right: calculateRem(10px);

    &__btn {
        padding: calculateRem(4px);
        width: calculateRem(34px);
        height: calculateRem(34px);
        display: flex;
    }
}
