.c-content-table-item {
    cursor: pointer;

    &:hover {
        .c-toggle-selection-button {
            opacity: 1;
        }
    }

    &--marked {
        background-color: lighten($ibexa-white, 15%);
    }

    &--not-selectable {
        background-color: $ibexa-color-base-light;
        cursor: not-allowed;
    }

    &__toggle-button-wrapper {
        width: calculateRem(20px);
    }

    .table &__icon-wrapper {
        width: calculateRem(20px);
        padding-right: 0;
    }
}
