.c-content-edit-button {
    &__btn {
        padding: calculateRem(4px);
        width: calculateRem(34px);
        height: calculateRem(34px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
