.c-finder-leaf {
    @mixin hover {
        &:hover {
            .c-finder-leaf__name {
                color: $ibexa-color-primary;

                .ibexa-icon {
                    fill: $ibexa-color-primary;
                }
            }

            &.c-finder-leaf--has-children:after {
                border-left: calculateRem(6px) solid $ibexa-color-primary;
            }
        }
    }

    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: calculateRem(10px) calculateRem(40px) calculateRem(10px) calculateRem(15px);
    border-radius: $ibexa-border-radius;
    position: relative;

    @include hover();

    &--has-children:after {
        content: '';
        width: 0;
        height: 0;
        border-top: calculateRem(4px) solid transparent;
        border-left: calculateRem(6px) solid $ibexa-color-dark;
        border-bottom: calculateRem(4px) solid transparent;
        position: absolute;
        right: calculateRem(15px);
        top: 50%;
        transform: translateY(-50%);
    }

    &--marked {
        font-weight: bold;
        background-color: $ibexa-color-light-300;
        color: $ibexa-color-primary;

        .c-finder-leaf__name {
            color: $ibexa-color-dark;
            font-weight: 600;

            .ibexa-icon {
                fill: $ibexa-color-dark;
            }
        }

        @include hover();
    }

    &__name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: $ibexa-text-font-size-medium;
        line-height: calculateRem(21px);
        color: $ibexa-color-dark;
        margin-left: calculateRem(16px);
        flex: 1;

        .ibexa-icon {
            margin-right: calculateRem(8px);
        }
    }

    &__icon-wrapper {
        position: relative;
        margin-right: calculateRem(20px);
        text-align: center;

        .ibexa-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin-top: calculateRem(-1px);
            fill: $ibexa-color-dark;
        }
    }
}
