.c-finder-branch {
    display: flex;
    position: relative;
    padding: calculateRem(18px) calculateRem(46px) calculateRem(18px) calculateRem(16px);
    letter-spacing: calculateRem(0.12px);

    &:not(:first-child) {
        border-left: calculateRem(1px) solid $ibexa-color-light;
    }

    &--collapsed {
        flex: 0 0 calculateRem(40px);
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: $ibexa-color-light-300;
        padding: calculateRem(10px);
        cursor: pointer;
        display: block;
        border-radius: $ibexa-border-radius;

        .c-finder-branch__name {
            font-size: $ibexa-text-font-size-medium;
            line-height: calculateRem(20px);
            font-weight: 600;
        }

        & + .c-finder-branch {
            border-left: 0;
        }
    }

    &__info-wrapper {
        transform: translate(calculateRem(20px)) rotate(90deg);
        width: calculateRem(500px);
        transform-origin: left top;
        height: calculateRem(21px);
        display: flex;
        align-items: center;
        padding-left: calculateRem(4px);
    }

    &__icon-wrapper {
        position: relative;
        margin-right: calculateRem(16px);

        .ibexa-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__name {
        margin-left: calculateRem(6px);
    }

    &__items-wrapper {
        overflow: auto;
        width: calculateRem(190px);
    }

    &__resize-handler {
        height: 100%;
        width: calculateRem(3px);
        background-color: transparent;
        cursor: col-resize;
        position: absolute;
        top: 0;
        right: 0;
    }

    &__loading-spinner {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: calculateRem(50px);
    }
}
