.c-grid-item {
    position: relative;
    margin-bottom: calculateRem(29px);
    border-radius: calculateRem(4px);
    box-shadow: 0 calculateRem(2px) calculateRem(4px) 0 rgba(51, 51, 51, 0.1);
    margin-right: calculateRem(29px);
    cursor: pointer;
    padding-bottom: calculateRem(6px);

    &:hover {
        .c-toggle-selection-button {
            opacity: 1;
        }
    }

    &__name {
        min-height: calculateRem(30px);
        padding: calculateRem(6px) calculateRem(6px) 0;
        font-size: calculateRem(12px);
        line-height: calculateRem(14px);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        width: calculateRem(165px);
    }

    &__preview {
        width: calculateRem(165px);
        height: calculateRem(165px);
        background-color: $ez-color-base-pale;
        border-top-left-radius: calculateRem(4px);
        border-top-right-radius: calculateRem(4px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .c-toggle-selection-button {
        position: absolute;
        top: calculateRem(5px);
        right: calculateRem(5px);
        background: $ez-white;

        &--selected {
            background-color: $ez-color-positive;
        }
    }

    &--marked {
        border: calculateRem(1px) solid $ez-color-secondary;

        .c-grid-item {
            &__name {
                background-color: $ez-color-secondary;
                color: $ez-white;
            }
        }
    }

    &--not-selectable {
        background-color: $ez-ground-base-dark;
        cursor: not-allowed;
    }
}
