.m-ud {
    background-color: $ibexa-color-white;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    border: calculateRem(1px) solid $ibexa-color-light;
    border-radius: $ibexa-border-radius-small;

    .c-grid {
        &__items-wrapper {
            .c-thumbnail {
                .ibexa-icon {
                    width: calculateRem(80px);
                    height: calculateRem(80px);
                    fill: $ibexa-color-dark-300;
                }
            }
        }

        &--marked {
            .c-thumbnail {
                .ibexa-icon {
                    fill: $ibexa-color-dark;
                }
            }
        }
    }

    .c-selected-locations-item {
        .c-thumbnail {
            .ibexa-icon {
                fill: $ibexa-color-dark-300;
            }
        }
    }
}

.ez-is-branch-resizing {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
