.c-menu-button {
    border: none;
    color: $ez-color-base-medium;
    border-radius: $ibexa-border-radius;
    padding: 0 calculateRem(14px);
    display: flex;

    .ez-icon {
        stroke: $ez-color-base-medium;
    }

    &--selected {
        background-color: $ez-color-base-medium;
        color: $ez-white;

        .ez-icon {
            stroke: $ez-white;
        }
    }
}
