.c-menu-button {
    border: none;
    color: $ibexa-color-base-dark;
    border-radius: $ibexa-border-radius;
    padding: 0 calculateRem(14px);
    display: flex;

    .ibexa-icon {
        fill: $ibexa-color-base-dark;
    }

    &--selected {
        @include toggler-selected-btn();
    }
}
