.c-search {
    padding: calculateRem(16px);

    &__topbar {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding: calculateRem(25px);
        margin-bottom: calculateRem(32px);
        border: calculateRem(1px) solid $ibexa-color-light;
        border-radius: $ibexa-border-radius;
        box-shadow: calculateRem(4px) calculateRem(22px) calculateRem(47px) 0 rgba($ibexa-color-info, 0.05);
    }

    &__main {
        display: flex;
        width: 100%;
    }

    &__sidebar {
        display: flex;
        min-width: calculateRem(300px);
        padding: calculateRem(16px) calculateRem(28px);
        margin-right: calculateRem(44px);
        border: calculateRem(1px) solid $ibexa-color-light;
        border-radius: $ibexa-border-radius;
    }

    &__content {
        display: flex;
        width: 100%;
        flex-shrink: 1;
    }

    &__input-wrapper,
    &__selector-wrapper {
        margin-right: calculateRem(29px);
    }

    &__select-language {
        height: calculateRem(48px);
        border-color: $ibexa-color-dark-200;
    }

    &__search-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calculateRem(48px);
    }

    &__no-results-title {
        display: flex;
        justify-content: space-between;
        background-color: $ibexa-color-white;
        align-items: center;
        padding: 0 calculateRem(20px);
        min-height: calculateRem(50px);
        border-radius: calculateRem(4px) calculateRem(4px) 0 0;
        font-weight: bold;
    }

    .c-content-table {
        width: 100%;
    }
}
