.c-search {
    padding: calculateRem(16px);

    &__tools-wrapper {
        display: flex;
        align-items: center;
    }

    &__input-wrapper {
        display: flex;
        flex-grow: 1;
        align-items: center;
        margin-right: calculateRem(16px);
    }

    &__selector-wrapper {
        display: flex;
        flex-grow: 0.1;
        margin-right: calculateRem(16px);
    }

    &__input {
        background: $ibexa-white;

        &:focus {
            background: $ibexa-white;
        }
    }

    &__search-btn,
    &__toggle-filters-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calculateRem(34px);
    }

    &__search-btn {
        margin-right: calculateRem(16px);
    }

    &__selector-wrapper {
        background: $ibexa-white;
    }

    &__no-results-title {
        display: flex;
        justify-content: space-between;
        background-color: $ibexa-white;
        align-items: center;
        padding: 0 calculateRem(20px);
        min-height: calculateRem(50px);
        border-radius: calculateRem(4px) calculateRem(4px) 0 0;
        font-weight: bold;
    }
}
