.c-sort-switcher {
    border: calculateRem(1px) solid $ibexa-color-font-pale;
    border-radius: $ibexa-border-radius;
    display: flex;
    padding: calculateRem(4px);
    margin-right: calculateRem(10px);
    font-size: calculateRem(14px);
    line-height: 1;

    &--disabled {
        opacity: 0.3;
    }

    .c-menu-button {
        position: relative;
        padding: 0 calculateRem(20px) 0 calculateRem(20px);
        display: flex;
        align-items: center;

        &--selected::after {
            content: '';
            width: 0;
            height: 0;
            margin: calculateRem(6px) 0 0 calculateRem(5px);
            transform: translateY(-50%);
        }

        &--sorted-asc::after {
            border-left: calculateRem(3px) solid transparent;
            border-right: calculateRem(3px) solid transparent;
            border-bottom: calculateRem(5px) solid $ibexa-white;
        }

        &--sorted-desc::after {
            border-top: calculateRem(5px) solid $ibexa-white;
            border-left: calculateRem(3px) solid transparent;
            border-right: calculateRem(3px) solid transparent;
        }
    }
}
