.c-sort-switcher {
    border: calculateRem(2px) solid $ez-color-base-medium;
    border-radius: calculateRem(4px);
    display: flex;
    padding: calculateRem(2px);
    margin-right: calculateRem(10px);
    font-size: calculateRem(14px);
    line-height: 1;

    &--disabled {
        opacity: 0.3;
    }

    .c-menu-button {
        position: relative;
        padding: 0 calculateRem(18px);
        display: flex;
        align-items: center;

        &--selected::after {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            top: 50%;
            right: calculateRem(6px);
            transform: translateY(-50%);
        }

        &--sorted-asc::after {
            border-left: calculateRem(3px) solid transparent;
            border-right: calculateRem(3px) solid transparent;
            border-bottom: calculateRem(5px) solid $ez-white;
        }

        &--sorted-desc::after {
            border-top: calculateRem(5px) solid $ez-white;
            border-left: calculateRem(3px) solid transparent;
            border-right: calculateRem(3px) solid transparent;
        }
    }
}
