.c-udw-tab {
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;

    &__top-bar {
        background-color: $ibexa-color-white;
    }

    &__content {
        display: flex;
        height: 100%;
        flex-shrink: 1;
        border-top: calculateRem(1px) solid $ibexa-color-light;
        box-shadow: calculateRem(4px) calculateRem(2px) calculateRem(17px) 0 rgba($ibexa-color-black, 0.05);
    }

    &__left-sidebar {
        position: relative;
        overflow: hidden;
        margin-top: calculateRem(-1px);
        width: calculateRem(66px);
        background-color: $ibexa-color-white;
        border: calculateRem(1px) solid $ibexa-color-light;
        border-bottom: 0;
        border-top-right-radius: $ibexa-border-radius;
        box-shadow: calculateRem(4px) calculateRem(22px) calculateRem(47px) 0 rgba($ibexa-color-info, 0.05);
    }

    &__main {
        flex: 1;
        background-color: $ibexa-color-white;
        overflow: auto;
    }

    &__right-sidebar {
        width: calculateRem(491px);
        background-color: $ibexa-color-white;
        border-left: calculateRem(1px) solid $ibexa-color-light;
    }

    &__bottom-bar {
        background-color: $ibexa-color-white;
        border-top: calculateRem(1px) solid $ibexa-color-light;
        border-top-right-radius: $ibexa-border-radius-small;
        box-shadow: calculateRem(4px) calculateRem(22px) calculateRem(47px) 0 rgba($ibexa-color-black, 0.05);
    }
}

.m-bookmarks-tab {
    .c-udw-tab__main {
        display: flex;
    }
}
