.c-tab-selector {
    &__item {
        height: calculateRem(48px);
        width: calculateRem(48px);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: $ibexa-border-radius;
        margin: calculateRem(12px) calculateRem(8px) calculateRem(24px);
        position: relative;

        .ibexa-icon {
            fill: $ibexa-color-black;
        }

        &--selected {
            background-color: $ibexa-color-light-400;

            .ibexa-icon {
                fill: $ibexa-color-black;
            }
        }

        &:not(:first-of-type) {
            &:before {
                content: '';
                position: absolute;
                top: calculateRem(-12px);
                left: calculateRem(12px);
                height: calculateRem(1.5px);
                width: calculateRem(24px);
                background-color: $ibexa-color-dark-200;

            }
        }
    }
}
