.c-udw-tab {
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease-in;

    &__top-bar {
        background-color: $ibexa-color-white;
    }

    &__content {
        display: flex;
        height: 100%;
        border-top: calculateRem(1px) solid $ibexa-color-light;
        box-shadow: calculateRem(4px) calculateRem(2px) calculateRem(17px) 0 rgba($ibexa-color-black, 0.05);
    }

    &__left-sidebar {
        position: relative;
        overflow: hidden;
        margin-top: calculateRem(-1px);
        width: calculateRem(66px);
        background-color: $ibexa-color-white;
        border: calculateRem(1px) solid $ibexa-color-light;
        border-bottom: 0;
        border-top-right-radius: calculateRem(10px);
        box-shadow: calculateRem(4px) calculateRem(22px) calculateRem(47px) 0 rgba($ibexa-color-info, 0.05);
    }

    &__main {
        flex: 1;
        background-color: $ibexa-color-white;
        overflow: auto;
    }

    &__right-sidebar {
        width: calculateRem(491px);
        background-color: $ibexa-color-white;
        border-left: calculateRem(1px) solid $ibexa-color-light;
    }

    &__bottom-bar {
        background-color: $ibexa-color-white;
        border-top: calculateRem(1px) solid $ibexa-color-light;
        border-top-right-radius: calculateRem(5px);
        box-shadow: calculateRem(4px) calculateRem(22px) calculateRem(47px) 0 rgba($ibexa-color-black, 0.05);
    }
}

.m-ud--locations-selected {
    .c-udw-tab {
        grid-template-columns: calculateRem(220px) 1fr calculateRem(350px);

        &__right-sidebar {
            position: relative;
            padding-right: calculateRem(60px);
        }
    }
}

.m-bookmarks-tab {
    .c-udw-tab__main {
        display: flex;
    }
}
