.c-toggle-selection-button {
    border: none;
    border-radius: 50%;
    background: $ibexa-color-dark-300;
    height: calculateRem(16px);
    min-width: calculateRem(16px);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    .ibexa-icon {
        fill: $ibexa-color-white;
        width: calculateRem(10px);
        height: calculateRem(10px);
    }

    &--selected {
        background-color: $ibexa-color-primary;
        opacity: 1;
    }
}
