.c-top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calculateRem(72px);
    padding: 0 calculateRem(38px) 0 calculateRem(65px);

    &__cancel-btn-wrapper {
        margin-left: calculateRem(53px);
    }

    &__cancel-btn {
        border: none;
    }

    &__title-wrapper {
        margin: 0 calculateRem(40px) 0 0;
        font-weight: 600;
        color: $ibexa-color-dark;
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__actions-wrapper {
        display: flex;
    }

    .ibexa-input-text-wrapper--search {
        min-width: calculateRem(200px);
        margin-left: calculateRem(40px);
    }
}
