.c-tree {
    width: 100%;
    height: 100%;
    position: relative;

    .m-tree {
        width: initial !important; // TODO: remove when Content Tree refactored
        max-width: initial;
        border-radius: $ibexa-border-radius;
        
        .c-list-item {
            &__label {
                padding-right: calculateRem(8px);

                &:hover {
                    .c-toggle-selection-button {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
