{% trans_default_domain 'dashboard' %}

<div class="card border-light mb-4">
    <div class="card-body">
        <h2 class="mb-3">{{ 'everyone'|trans|desc('Everyone') }}</h2>
        {{ ez_render_component_group('dashboard-all-tab-groups') }}
    </div>
</div>
