{% trans_default_domain 'dashboard' %}

<div class="card border-light ibexa-card ibexa-card--no-padding mb-4">
    <div class="ibexa-card__title">{{ 'everyone'|trans|desc('Common content') }}</div>
    <div class="ibexa-card__body">
        {{ ez_render_component_group('dashboard-all-tab-groups') }}
    </div>
</div>
