{% trans_default_domain 'dashboard' %}

<div class="card border-light ez-card ez-card--no-padding mb-4">
    <div class="ez-card__title">{{ 'everyone'|trans|desc('Common content') }}</div>
    <div class="card-body">
        {{ ez_render_component_group('dashboard-all-tab-groups') }}
    </div>
</div>
