{% trans_default_domain 'dashboard' %}

<div class="card border-light my-4">
    <div class="card-body">
        <h2 class="mb-3">{{ 'me'|trans|desc('Me') }}</h2>
        {{ ez_platform_tabs('dashboard-my', []) }}
    </div>
</div>
