{% trans_default_domain 'dashboard' %}

<div class="card border-light ibexa-card ibexa-card--no-padding my-4">
    <div class="ibexa-card__title">{{ 'me'|trans|desc('My content') }}</div>
    <div class="ibexa-card__body">
        {{ ez_render_component_group('dashboard-my-tab-groups') }}
    </div>
</div>
