<label class="ez-chart__legend-checkbox-label">
    <input 
        type="checkbox" 
        class="ez-input ez-input--checkbox ez-input--legend-checkbox" 
        data-checked-color="{{ checked_color }}"
        data-dataset-index="{{ dataset_index }}"
    />
    {{ label }}
</label>
