{% if items is defined %}
    <ol class="breadcrumb">
        {% for item in items %}
            <li class="breadcrumb-item{% if loop.last %} active{% endif %}">
                {% if not loop.last and item.url is defined %}
                    <a class="breadcrumb-item__link" href="{{ item.url }}">{{ item.value }}</a>
                {% else %}
                    {{ item.value }}
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}
