{% if title is defined %}
    <div class="ez-page-title">
        <div class="ez-page-title__top">
            <h1 class="ez-page-title__title">
                {{ title }}
            </h1>
            {% block top_side %}{% endblock %}
        </div>
        <div class="ez-page-title__bottom">
            {% block bottom %}{% endblock %}
        </div>
    </div>
{% endif %}
