<div class="ez-pagination">
    <div class="ez-pagination__text">
        {{ 'pagination.viewing'|trans({
            '%viewing%': pager.currentPageResults|length,
            '%total%': pager.nbResults}, 'pagination')|desc('Viewing %viewing% out of %total% items')|raw 
        }}
    </div>
    <div class="ez-pagination__navigation">
        {{ pagerfanta(pager, 'ez', paginaton_params|default({})) }}
    </div>
</div>
