<svg 
    class="ibexa-content-type-edit__empty-group-image"
    src="{{ asset('bundles/ezplatformadminui/img/empty-field-definition-group.svg') }}" 
    alt="{{ 'content_type.view.edit.empty_group_content'|trans|desc('Empty group, please drag some field') }}" 
/>
<label>{{ 'content_type.view.edit.empty_group_content'|trans|desc('Empty group, please drag some field') }}</label>
<h2>{{ 'content_type.view.edit.empty_group_content'|trans|desc('Empty group, please drag some field') }}</h2>