{% trans_default_domain 'policy' %}
{% import _self as tab %}
{% include '@ezdesign/ui/table_header.html.twig' with { header_text: 'tab.policies.policies'|trans|desc('Policies') } %}

{% if policies_pager.currentPageResults is not empty %}
    {{  include('@ezdesign/content/tab/policies/table.html.twig', {
            'policies_pager': policies_pager,
    }) }}
{% else %}
    <p class="ez-table-no-content">
        {{ 'tab.policies.no_policies'|trans|desc('This Content item has no Policies.') }}
    </p>
{% endif %}

{% if policies_pager.haveToPaginate %}
    {{  include('@ezdesign/content/tab/pagination.html.twig', {
            'pager': policies_pager,
            'paginaton_params': {
                'routeName': policies_pagination_params.route_name,
                'routeParams': policies_pagination_params.route_params|merge({
                    '_fragment': constant('EzSystems\\EzPlatformAdminUi\\Tab\\LocationView\\PoliciesTab::URI_FRAGMENT'),
                }),
                'pageParameter': '[page][policy]'
            }
    }) }}
{% endif %}
