@import '../custom';

.ez-field-edit {
    .ez-field-edit__label,
    .ez-data-source__label {
        @include label-required();
    }

    &--nontranslatable {
        opacity: .4;
        pointer-events: none;
    }

    &.is-invalid {
        .ez-field-edit__label-wrapper {
            color: $ez-color-danger;
        }

        .ez-field-edit__data {
            position: relative;

            &:before {
                content : '!';
                position: absolute;
                top: 0;
                left: -20px;
                width: 20px;

                background: red;
                color: white;
                text-align: center;
                font-size: 1.5rem;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }
    }

    .ez-field-edit__error {
        display: inline-block;
        margin-left: 8px;
    }
}
