@import '../custom';

.ez-field-edit--ezauthor {
    .ez-data-source__author {
        background-color: $ez-ground-base;
        padding: 1rem;
    }

    .ez-data-source__label-wrapper {
        .ez-data-source__label {
            margin-bottom: 0;
        }
    }

    .ez-data-source__actions {
        display: flex;
        align-items: center;
        padding-top: 1.5rem;

        button {
            margin: 0 .5rem;
        }
    }

    &.is-invalid {
        .ez-data-source__field {
            &.is-invalid {
                color: $ez-color-danger;
            }
        }

        .ez-field-edit__data {
            &:before {
                display: none;
            }
        }

        .ez-data-source__author {
            position: relative;

            &.is-invalid {
                &:before {
                    content : '!';
                    position: absolute;
                    top: 0;
                    left: -20px;
                    width: 20px;
                    background: red;
                    color: white;
                    text-align: center;
                    font-size: 1.5rem;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
            }
        }
    }
}
