@import '../custom';

.ez-field-edit--ezboolean {
    .ez-data-source__label {
        position: relative;
        width: 2rem;
        height: 2.25rem;
        background-color: $ez-ground-base-dark;
        margin-left: 1.125rem;

        input {
            display: none;
        }

        .ez-data-source__indicator {
            width: 2rem;
            height: 2rem;
            display: block;
            background-color: $ez-ground-base-pale;
            border-radius: 50%;
            position: absolute;
            top: 2px;
            left: 0;
            transition: all .3s ease-in-out;
            transform: translateX(-50%);
        }

        &.is-checked {
            background-color: $ez-color-secondary;

            .ez-data-source__indicator {
                transform: translateX(50%);
            }

            &:before {
                background-color: $ez-color-secondary;
            }

            &:after {
                background-color: $ez-color-secondary;
            }
        }

        &:before,
        &:after {
            content: '';
            height: 2.25rem;
            width: 2.25rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            background-color: $ez-ground-base-dark;
            z-index: -1;
        }

        &:before {
            left: 0;
            transform: translate(-50%, -50%);
        }

        &:after {
            right: 0;
            transform: translate(50%, -50%);
        }
    }
}
