{%- block checkbox_widget -%}
    {% if value is defined %}
        {% set attr = attr|merge({'value': value}) %}
    {% endif %}
    {% if checked %}
        {% set attr = attr|merge({'checked': checked}) %}
    {% endif %}
    {% if disabled %}
        {% set attr = attr|merge({'disabled': disabled}) %}
    {% endif %}
    <div class="ez-field-edit--ezboolean">
        <label class="ez-data-source__label{% if checked %} is-checked{% endif %}{% if disabled %} is-disabled{% endif %}">
            <span class="ez-data-source__indicator"></span>
            <input type="checkbox" {{ block('widget_attributes') }} />
        </label>
    </div>
{%- endblock -%}
