{% use '@ezdesign/ui/form_fields/toggle_widget.html.twig' %}

{%- block checkbox_widget -%}
    {% if value is defined %}
        {% set attr = attr|merge({'value': value}) %}
    {% endif %}
    {% if checked %}
        {% set attr = attr|merge({'checked': checked}) %}
    {% endif %}
    {% if disabled %}
        {% set attr = attr|merge({'disabled': disabled}) %}
    {% endif %}
    <div class="ez-field-edit--ezboolean">
        {{ block('toggle_widget') }}
    </div>
{%- endblock -%}
