{% trans_default_domain 'content_url' %}

<div class="ez-scrollable-table-wrapper">
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'tab.urls.url'|trans|desc('URL') }}</th>
            <th>{{ 'tab.urls.language'|trans|desc('Language') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for system_url in system_urls_pager.currentPageResults %}
            <tr>
                <td>{{ system_url.path }}</td>
                <td>
                    {% for language_code in system_url.languageCodes %}{{ ez_ui_config.languages.mappings[language_code].name }}<br>{% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

