{% extends '@ezdesign/ui/layout.html.twig' %}

{% block main_container_class %}ibexa-main-container--edit-content-type ibexa-main-container--with-anchor-menu-items{% endblock %}

{% block header_row %}{% endblock %}

{% block left_sidebar %}   
    {% include '@ezdesign/ui/anchor_navigation_menu.html.twig' with {
        items: [
            'content_type.view.edit.global_properties'|trans|desc('Global properties'),
            'content_type.view.edit.content_field_definitions'|trans|desc('Field definitions')
        ]
    } %}
{% endblock %}

{% block content_column %}
    <div class="ibexa-main-container__content-column">
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}