<div class="ibexa-content-type-edit__field-definition-groups">
    <div class="ibexa-content-type-edit__add-field-definition-group">
        <button type="button" class="ibexa-content-type-edit__add-field-definition-group-button btn ibexa-btn ibexa-btn ibexa-btn--info">
            <svg class="ibexa-icon ibexa-icon--small">
                <use xlink:href="{{ ibexa_icon_path('create') }}"></use>
            </svg>
            {{ 'content_type.view.edit.add'|trans|desc('Add') }}
        </button>
        
        {{ include('@ezdesign/ui/component/popup_menu/popup_menu.html.twig', {
            'items': grouped_fields|keys|map(group => { 'label': group } ),
        }) }}
    </div>

    <div class="ibexa-content-type-edit__field-definition-group-list">
        {% for key, group in grouped_fields %}
            {%- embed "@ezdesign/ui/component/collapse.html.twig" with { 
                'id': key,
                'header_label': key,
                'is_expand': group|length,
                'is_expand': false,
                'container_class': 'ibexa-collapse--field-definitions-group',
                'extra_actions': [
                    { 'icon_name': 'trash', 'button_class':  'ibexa-collapse__extra-action-button--remove-fields-group'}
                ],
                'data_attribute': {
                    'data-empty-group-template': include('@ezdesign/content_type/part/empty_group_content.html.twig')
                }
            } -%}
                {% block body_content %}
                    {{ include('@ezdesign/content_type/part/field_definition_group_content.html.twig', { items: group }) }}
                {% endblock %}
            {%- endembed -%}
        {% endfor %}
    </div>
</div>
