<div class="ibexa-field-definitions-placeholder {{ field_definitions_placeholder_class|default('') }}">
    <div class="ibexa-field-definitions-placeholder__item ibexa-field-definitions-placeholder__item--title"></div>
    <div class="ibexa-field-definitions-placeholder__item ibexa-field-definitions-placeholder__item--remove"></div>
    <div class="ibexa-field-definitions-placeholder__item ibexa-field-definitions-placeholder__item--toggle"></div>
</div>
