<div class="ibexa-field-definitions-placeholder {{ field_definitions_placeholder_class|default('') }}">
    <div class="ibexa-field-definitions-placeholder__item"></div>
    <div class="ibexa-field-definitions-placeholder__item"></div>
    <div class="ibexa-field-definitions-placeholder__item"></div>
</div>
