<div class="ibexa-field-definitions-empty-group {% if field_defintions|length %}ibexa-field-definitions-empty-group--hidden{% endif %}">
    <img
        class="ibexa-field-definitions-empty-group__image"
        src="{{ asset('bundles/ezplatformadminui/img/empty-field-definition-group.svg') }}"
        alt="{{ 'content_type.view.edit.empty_group_content'|trans|desc('Empty group, please drag some field') }}"
    >
    <label class="ibexa-field-definitions-empty-group__label">{{ 'content_type.view.edit.empty_group_label'|trans|desc('Your section is empty') }}</label>
    <h3 class="ibexa-field-definitions-empty-group__title">{{ 'content_type.view.edit.empty_group_title'|trans|desc('Drag and drop field type') }}</h2>
</div>
