imports:
    - { resource: services/components/content/edit.yaml }

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: true

    EzSystems\EzPlatformAdminUi\Component\Registry:
        public: false

    EzSystems\EzPlatformAdminUi\Component\TwigComponent:
        abstract: true
        lazy: true
        arguments:
            $parameters: []

    EzSystems\EzPlatformAdminUi\Component\TabsComponent:
        abstract: true
        lazy: true
        arguments:
            $template: '@@ezdesign/ui/tab/default.html.twig'

    EzSystems\EzPlatformAdminUi\Component\ScriptComponent:
        abstract: true
        lazy: true

    EzSystems\EzPlatformAdminUi\Component\LinkComponent:
        abstract: true
        lazy: true

    EzSystems\EzPlatformAdminUiBundle\Templating\Twig\ComponentExtension:
        tags:
            - { name: twig.extension }

    EzSystems\EzPlatformAdminUi\Component\Renderer\DefaultRenderer:
        public: false

    EzSystems\EzPlatformAdminUi\Component\Renderer\RendererInterface: '@EzSystems\EzPlatformAdminUi\Component\Renderer\DefaultRenderer'
