services:
    _defaults:
        autowire: true
        tags:
            - controller.service_arguments

    EzSystems\EzPlatformAdminUiBundle\Controller\AssetController:
        parent: EzSystems\EzPlatformAdminUiBundle\Controller\Controller
        autowire: true
        tags:
            - controller.service_arguments

    EzSystems\EzPlatformAdminUiBundle\Controller\BookmarkController:
        parent: EzSystems\EzPlatformAdminUiBundle\Controller\Controller
        autowire: true
        arguments:
            $configResolver: '@ezpublish.config.resolver'
        tags:
            - controller.service_arguments

    EzSystems\EzPlatformAdminUiBundle\Controller\BulkOperation\BulkOperationController:
        parent: ezpublish_rest.controller.base
        tags: [ 'controller.service_arguments' ]
        autowire: true

    EzSystems\EzPlatformAdminUiBundle\Controller\Content\ContentTreeController:
        parent: ezpublish_rest.controller.base
        tags: [ 'controller.service_arguments' ]
        autowire: true

    EzSystems\EzPlatformAdminUiBundle\Controller\Content\VersionDraftConflictController: ~

    EzSystems\EzPlatformAdminUiBundle\Controller\ContentController:
        parent: EzSystems\EzPlatformAdminUiBundle\Controller\Controller
        autowire: true
        arguments:
            $siteaccessResolver: '@EzSystems\EzPlatformAdminUi\Siteaccess\NonAdminSiteaccessResolver'
            $translationHelper: '@ezpublish.translation_helper'
            $configResolver: '@ezpublish.config.resolver'
            $siteAccessNameGenerator: '@EzSystems\EzPlatformAdminUi\Siteaccess\SiteAccessNameGenerator'
        tags:
            - controller.service_arguments

    EzSystems\EzPlatformAdminUiBundle\Controller\ContentDraftController:
        parent: EzSystems\EzPlatformAdminUiBundle\Controller\Controller
        autowire: true
        arguments:
            $configResolver: '@ezpublish.config.resolver'
        tags:
            - controller.service_arguments

    EzSystems\EzPlatformAdminUiBundle\Controller\ContentEditController: ~

    EzSystems\EzPlatformAdminUiBundle\Controller\ContentOnTheFlyController:
        parent: EzSystems\EzPlatformAdminUiBundle\Controller\Controller
        autowire: true
        arguments:
            $configResolver: '@ezpublish.config.resolver'
            $contentActionDispatcher: '@ezplatform.content_forms.action_dispatcher.content'
        tags:
            - controller.service_arguments

    EzSystems\EzPlatformAdminUiBundle\Controller\ContentTypeController:
        parent: EzSystems\EzPlatformAdminUiBundle\Controller\Controller
        autowire: true
        arguments:
            $contentTypeActionDispatcher: '@EzSystems\EzPlatformAdminUi\Form\ActionDispatcher\ContentTypeDispatcher'
            $configResolver: '@ezpublish.config.resolver'
        tags:
            - controller.service_arguments

    EzSystems\EzPlatformAdminUiBundle\Controller\ContentTypeGroupController:
        parent: EzSystems\EzPlatformAdminUiBundle\Controller\Controller
        autowire: true
        arguments:
            $configResolver: '@ezpublish.config.resolver'
        tags:
            - controller.service_arguments

    EzSystems\EzPlatformAdminUiBundle\Controller\ContentViewController: ~

    EzSystems\EzPlatformAdminUiBundle\Controller\DashboardController: ~

    EzSystems\EzPlatformAdminUiBundle\Controller\LanguageController:
        parent: EzSystems\EzPlatformAdminUiBundle\Controller\Controller
        autowire: true
        arguments:
            $configResolver: '@ezpublish.config.resolver'
        tags:
            - controller.service_arguments

    EzSystems\EzPlatformAdminUiBundle\Controller\LinkManagerController: ~

    EzSystems\EzPlatformAdminUiBundle\Controller\LocationController:
        parent: EzSystems\EzPlatformAdminUiBundle\Controller\Controller
        arguments:
            $translationHelper: '@ezpublish.translation_helper'

    EzSystems\EzPlatformAdminUiBundle\Controller\NotificationController:
        parent: EzSystems\EzPlatformAdminUiBundle\Controller\Controller
        autowire: true
        arguments:
            $configResolver: '@ezpublish.config.resolver'
        tags:
            - controller.service_arguments

    EzSystems\EzPlatformAdminUiBundle\Controller\ObjectStateController:
        parent: EzSystems\EzPlatformAdminUiBundle\Controller\Controller
        autowire: true
        arguments:
            $configResolver: '@ezpublish.config.resolver'
        tags:
            - controller.service_arguments

    EzSystems\EzPlatformAdminUiBundle\Controller\ObjectStateGroupController:
        parent: EzSystems\EzPlatformAdminUiBundle\Controller\Controller
        autowire: true
        arguments:
            $configResolver: '@ezpublish.config.resolver'
        tags:
            - controller.service_arguments

    EzSystems\EzPlatformAdminUiBundle\Controller\PolicyController:
        parent: EzSystems\EzPlatformAdminUiBundle\Controller\Controller
        autowire: true
        arguments:
            $configResolver: '@ezpublish.config.resolver'
        tags:
            - controller.service_arguments

    EzSystems\EzPlatformAdminUiBundle\Controller\RoleAssignmentController:
        parent: EzSystems\EzPlatformAdminUiBundle\Controller\Controller
        autowire: true
        arguments:
            $configResolver: '@ezpublish.config.resolver'
        tags:
            - controller.service_arguments

    EzSystems\EzPlatformAdminUiBundle\Controller\RoleController:
        parent: EzSystems\EzPlatformAdminUiBundle\Controller\Controller
        autowire: true
        arguments:
            $configResolver: '@ezpublish.config.resolver'
        tags:
            - controller.service_arguments

    EzSystems\EzPlatformAdminUiBundle\Controller\SectionController:
        parent: EzSystems\EzPlatformAdminUiBundle\Controller\Controller
        autowire: true
        arguments:
            $configResolver: '@ezpublish.config.resolver'
        tags:
            - controller.service_arguments

    EzSystems\EzPlatformAdminUiBundle\Controller\TranslationController:
        parent: EzSystems\EzPlatformAdminUiBundle\Controller\Controller
        arguments:
            $translationHelper: '@ezpublish.translation_helper'

    EzSystems\EzPlatformAdminUiBundle\Controller\TrashController:
        parent: EzSystems\EzPlatformAdminUiBundle\Controller\Controller
        autowire: true
        arguments:
            $configResolver: '@ezpublish.config.resolver'
        tags:
            - controller.service_arguments

    EzSystems\EzPlatformAdminUiBundle\Controller\URLManagementController:
        parent: EzSystems\EzPlatformAdminUiBundle\Controller\Controller
        autowire: true
        tags:
            - controller.service_arguments

    EzSystems\EzPlatformAdminUiBundle\Controller\URLWildcardController:
        parent: EzSystems\EzPlatformAdminUiBundle\Controller\Controller
        autowire: true
        tags:
            - controller.service_arguments

    EzSystems\EzPlatformAdminUiBundle\Controller\UniversalDiscoveryController:
        parent: EzSystems\EzPlatformAdminUiBundle\Controller\Controller
        autowire: true
        tags:
            - controller.service_arguments

    EzSystems\EzPlatformAdminUiBundle\Controller\UrlAliasController: ~

    EzSystems\EzPlatformAdminUiBundle\Controller\User\UserDeleteController:
        parent: EzSystems\EzPlatformAdminUiBundle\Controller\Controller
        autowire: true
        tags:
            - controller.service_arguments

    EzSystems\EzPlatformAdminUiBundle\Controller\UserOnTheFlyController:
        parent: EzSystems\EzPlatformAdminUiBundle\Controller\Controller
        autowire: true
        tags:
            - controller.service_arguments

    EzSystems\EzPlatformAdminUiBundle\Controller\Version\VersionConflictController: ~

    EzSystems\EzPlatformAdminUiBundle\Controller\VersionController:
        parent: EzSystems\EzPlatformAdminUiBundle\Controller\Controller
        arguments:
            $translationHelper: '@ezpublish.translation_helper'

    EzSystems\EzPlatformAdminUiBundle\Controller\Controller: ~

    Ibexa\Bundle\AdminUi\Controller\FieldDefinitionController:
        parent: ezpublish_rest.controller.base
        tags: ['controller.service_arguments']
        autowire: true
