parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    EzSystems\EzPlatformAdminUi\RepositoryForms\Form\Processor\:
        resource: "../../../lib/RepositoryForms/Form/Processor/*"
        public: true
        tags:
            - { name: kernel.event_subscriber }

    EzSystems\EzPlatformAdminUi\RepositoryForms\Form\Processor\ContentEditNotificationFormProcessor:
        public: true
        arguments:
            $siteAccessGroups: '%ezpublish.siteaccess.groups%'
