services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    EzSystems\EzPlatformAdminUi\QueryType\LocationPathQueryType: ~

    EzSystems\EzPlatformAdminUi\QueryType\ContentSubtreeQueryType: ~

    EzSystems\EzPlatformAdminUi\QueryType\MediaSubtreeQueryType: ~

    EzSystems\EzPlatformAdminUi\QueryType\SearchQueryType:
        arguments:
            $searchService: '@ezpublish.api.service.search'
