.ez-field-edit {
    &__label {
        @include label-required();
    }

    &__label-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__icon-wrapper {
        width: calculateRem(16px);
        height: calculateRem(16px);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-left: calculateRem(4px);

        .ez-icon {
            fill: $ibexa-color-base-dark;
        }
    }

    &__data,
    &__preview {
        padding-top: calculateRem(8px);
    }

    .ez-data-description {
        margin-bottom: calculateRem(16px);
        color: $ibexa-color-base-dark;
    }

    .ez-data-source__label {
        &:after {
            content: ': ';
        }
    }

    &--nontranslatable,
    &--disabled {
        opacity: 0.4;
        pointer-events: none;
    }

    &__error {
        @include error-under-input();
    }

    .ez-data-source__input {
        &.is-invalid {
            @include input-invalid;
        }
    }
}

.ez-content-edit {
    .ez-field-edit {
        padding: calculateRem(24px) 0;
        border-bottom: calculateRem(1px) solid $ibexa-color-base;

        &__label-wrapper {
            flex: 0 0 calculateRem(200px);

            .ez-field-edit__label {
                margin: 0;
                font-size: calculateRem(16px);
                font-weight: normal;
                color: $ibexa-color-font-pale;
            }
        }

        .ez-data-source__label {
            margin-bottom: calculateRem(10px);
            color: $ibexa-color-font-pale;
        }

        &__data {
            flex: 0 0 calc(100% - #{calculateRem(200px)});
        }
    }
}
