.ez-field-edit--with-preview {
    &,
    *,
    *:after,
    *:before {
        box-sizing: border-box;
    }

    .form-control-file,
    .custom-file-input {
        opacity: 0;
        height: calculateRem(1px);
    }

    .custom-file {
        display: none;
    }

    .ez-field-edit__data {
        position: relative;

        .ez-data-source__message {
            &--main {
                box-sizing: border-box;
                cursor: auto;
                margin-bottom: calculateRem(32px);
            }

            &--filesize {
                color: $ibexa-color-base-dark;
                margin-top: calculateRem(24px);
                font-size: calculateRem(14px);
            }
        }
    }

    .ez-field-edit-preview {
        display: flex;
        flex-wrap: nowrap;
        padding: 0 calculateRem(16px);
        background: $ibexa-white;

        &__actions {
            .btn {
                margin: 0 calculateRem(5px);
            }
        }

        &__visual {
            flex: 1 1 auto;
        }
    }
}
