.ez-field-edit {
    .ez-field-edit__label {
        @include label-required();
    }
    .ez-data-source__label {
        &:after {
            content: ': ';
        }
    }

    &--nontranslatable {
        opacity: 0.4;
        pointer-events: none;
    }

    &.is-invalid {
        .ez-field-edit__label-wrapper,
        .ez-field-edit__label {
            color: $ez-color-warning-dark;
        }

        .ez-field-edit__data {
            @include exclamation-mark-error();
        }
    }

    &__error {
        display: inline-block;
        margin-left: calculateRem(8px);
        color: $ez-color-warning-dark;
    }

    .ez-data-source__input {
        &.is-invalid {
            border-color: $ez-color-danger;
            background: $ez-color-warning-pale;
        }
    }

    .ez-data-source__label {
        &.is-invalid {
            color: $ez-color-danger;
        }
    }
}

.ez-field-edit--disabled {
    opacity: 0.5;
}

.ez-content-edit {
    .ez-field-edit {
        &__label-wrapper {
            .ez-field-edit__label {
                font-size: calculateRem(16px);
                font-weight: 700;
                color: $ez-black;
            }
        }

        .ez-data-source__label {
            margin-bottom: 0;
            font-size: calculateRem(14px);
            font-weight: 700;
            color: $ez-black;
        }
    }
}
