.ez-field-edit {
    .ez-field-edit__label {
        @include label-required();
    }
    .ez-data-source__label {
        &:after {
            content: ': ';
        }
    }

    &--nontranslatable {
        opacity: .4;
        pointer-events: none;
    }

    &.is-invalid {
        .ez-field-edit__label-wrapper,
        .ez-field-edit__label {
            color: $ez-color-warning-dark;
        }

        .ez-field-edit__data {
            position: relative;

            &:before {
                content : '!';
                position: absolute;
                top: 0;
                left: -20px;
                width: 20px;

                background: red;
                color: white;
                text-align: center;
                font-size: 1.5rem;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }
    }

    &__error {
        display: inline-block;
        margin-left: 8px;
        color: $ez-color-warning-dark;
    }

    .ez-data-source__input {
        &.is-invalid {
            border-color: $ez-color-danger;
            background: $ez-color-warning-pale;
        }
    }

    .ez-data-source__label {
        &.is-invalid {
            color: $ez-color-danger;
        }
    }
}
