.ez-field-edit {
    &__label-wrapper {
        padding-top: calculateRem(8px);
    }

    &__label {
        @include label-required();
    }

    &__data,
    &__preview {
        padding-top: calculateRem(8px);
    }

    .ez-data-description {
        margin-bottom: calculateRem(16px);
        color: $ibexa-color-base-dark;
    }

    .ez-data-source__label {
        &:after {
            content: ': ';
        }
    }

    &--nontranslatable,
    &--disabled {
        opacity: 0.4;
        pointer-events: none;
    }

    &.is-invalid {
        .ez-field-edit__label-wrapper,
        .ez-field-edit__label {
            color: $ibexa-color-warning-dark;
        }

        .ez-field-edit__data {
            @include exclamation-mark-error();
        }
    }

    &__error {
        display: inline-block;
        font-size: calculateRem(14px);
        font-style: normal;
        margin-left: calculateRem(8px);
        color: $ibexa-color-warning-dark;
    }

    .ez-data-source__input {
        &.is-invalid {
            border-color: $ibexa-color-danger;
            background: $ibexa-color-warning-pale;
        }
    }

    .ez-data-source__label {
        &.is-invalid {
            color: $ibexa-color-danger;
        }
    }
}

.ez-content-edit {
    .ez-field-edit {
        display: flex;
        padding: calculateRem(24px) 0;
        border-bottom: calculateRem(1px) solid $ibexa-color-base;

        &__label-wrapper {
            flex: 0 0 calculateRem(200px);

            .ez-field-edit__label {
                margin: 0;
                font-size: calculateRem(16px);
                font-weight: normal;
                color: $ibexa-color-font-pale;
            }
        }

        .ez-data-source__label {
            margin-bottom: calculateRem(10px);
            color: $ibexa-color-font-pale;
        }

        &__data {
            flex: 0 0 calc(100% - #{calculateRem(200px)});
        }
    }        
}
