.ez-field-edit--ezauthor {
    .ez-data-source__author {
        background-color: $ez-ground-base-medium;
        padding: calculateRem(16px) calculateRem(16px) calculateRem(20px) calculateRem(16px);

        &.form-row {
            align-items: flex-end;
        }
    }

    .ez-data-source__input-wrapper {
        .form-control {
            margin-bottom: 0;
        }
    }

    .ez-data-source__actions {
        display: flex;
        align-items: center;

        button {
            margin: 0 calculateRem(6px);
            height: calculateRem(40px);
            width: calculateRem(40px);
            display: flex;
            align-items: center;
            justify-content: center;

            .ez-icon {
                width: calculateRem(24px);
                height: calculateRem(24px);
            }
        }
    }

    &.is-invalid {
        .ez-data-source__field {
            &.is-invalid {
                color: $ez-color-warning-dark;
            }
        }

        .ez-field-edit__data {
            &:before {
                display: none;
            }
        }

        .ez-data-source__author {
            position: relative;

            &.is-invalid {
                &:before {
                    content: '!';
                    position: absolute;
                    top: 0;
                    left: calculateRem(-20px);
                    width: calculateRem(20px);
                    background: $ez-color-warning-dark;
                    color: $ez-white;
                    text-align: center;
                    font-size: calculateRem(24px);
                    border-top-left-radius: calculateRem(5px);
                    border-bottom-left-radius: calculateRem(5px);
                }
            }
        }
    }
}
