.ez-field-edit--ezauthor {
    .ez-data-source__author {
        padding: calculateRem(16px) calculateRem(16px) calculateRem(20px) calculateRem(16px);

        &.form-row {
            align-items: flex-end;
        }
    }

    .ez-data-source__input-wrapper {
        .form-control {
            margin-bottom: 0;
        }
    }

    .ez-data-source__actions {
        display: flex;
        align-items: center;

        button {
            margin: 0 calculateRem(6px);
            height: calculateRem(40px);
            width: calculateRem(40px);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &.is-invalid {
        .ez-data-source__field {
            &.is-invalid {
                color: $ibexa-color-warning-dark;
            }
        }

        .ez-field-edit__data {
            &:before {
                display: none;
            }
        }

        .ez-data-source__author {
            position: relative;

            &.is-invalid {
                &:before {
                    content: '!';
                    position: absolute;
                    top: calculateRem(-5px);
                    left: calculateRem(-10px);
                    width: calculateRem(10px);
                    color: $ibexa-color-danger;
                    text-align: center;
                    font-size: calculateRem(24px);
                }
            }
        }
    }
}

.ez-content-edit {
    .ez-field-edit--ezauthor {
        .ez-data-source__author {
            padding: 0;
        }
    }
}
