.ibexa-field-edit--ezauthor {
    .ibexa-data-source__author {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .ibexa-data-source__main-actions {
        display: flex;
        justify-content: flex-end;
        padding: calculateRem(24px) 0 calculateRem(16px);
        border-bottom: calculateRem(1px) solid $ibexa-color-light;
    }

    .ibexa-data-source__labels {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 calculateRem(30px) 0 calculateRem(52px);

        .ibexa-label {
            flex-basis: 50%;
        }
    }

    .ibexa-data-source__field {
        flex: 0 0 40%;
    }

    .ibexa-data-source__checkbox {
        padding: calculateRem(4px);
    }

    .ibexa-data-source__actions {
        display: flex;

        .ibexa-btn {
            padding: calculateRem(6px);
        }
    }
}
