.ez-field-edit--ezbinaryfile {
    &.ez-field-edit--with-preview {
        .ez-field-edit-preview {
            width: 500px;
            height: 80px;
            line-height: 80px;

            &__visual {
                display: flex;
            }

            &__actions {
                flex: 0 0 100px;
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: space-between;
            }

            &__action--preview {
                margin-top: 0;
            }

            &__file-icon {
                flex: 0 0 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &__file-name,
            &__file-size {
                flex: 1 1 auto;
                font-size: .75rem;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                display: flex;
                align-items: center;
            }

            &__file-name {
                max-width: 240px;
                padding-left: 1.25rem;
            }

            &__file-size {
                max-width: 100px;
                padding: 0 1.25rem;
            }
        }
    }
}
