.ez-field-edit--ezgmaplocation {
    .ez-field-edit__data {
        padding: 16px 16px 20px 16px;
        background: $ez-ground-base-medium;
    }

    .ez-data-source {
        display: grid;
        grid-template-columns: 1fr 16px 200px;
        grid-template-rows: repeat(4, minmax(50, auto));
        grid-template-areas:
            'addr . .'
            'map . side1'
            'map . side2'
            'map . side3';

        &__map {
            grid-area: map;
        }

        &__field--address {
            grid-area: addr;

            .ez-data-source__label {
                margin-top: 0;
            }

            .ez-data-source__input-wrapper {
                padding-bottom: 8px;
                display: flex;
            }

            .ez-data-source__input {
                border-radius: 0.25rem 0 0 0.25rem;
                margin-bottom: 0;
            }
        }

        &__locate-me {
            grid-area: side1;

            .form-control-label {
                font-size: calculateRem(14px);
                font-weight: 700;
                color: $ez-black;

                &:after {
                    content: ': ';
                }
            }
        }

        &__field--latitude {
            grid-area: side2;
            @include map-invalid-input();
            margin-top: 0.75rem;
        }

        &__field--longitude {
            grid-area: side3;
            @include map-invalid-input();
            margin-top: 0;
        }
    }

    .btn--search-by-address {
        border-radius: 0 calculateRem(4px) calculateRem(4px) 0;
        padding: calculateRem(1px) calculateRem(8px);
        height: calculateRem(38px);
        display: flex;
    }
}
