.ibexa-field-edit--ezimage {
    .ibexa-field-edit-preview {
        &__file-name-wrapper,
        &__dimensions-wrapper,
        &__file-size-wrapper {
            .ibexa-label {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        &__dimension--width {
            margin-right: calculateRem(8px);
        }
    }

    &.is-invalid {
        .ibexa-data-source {
            @include area-invalid();
        }
    }

    .ibexa-data-source__field--alternativeText {
        .ibexa-data-source__label {
            @include label-required();
        }
    }
}
