.ibexa-field-edit--ezimageasset {
    &.is-invalid {
        .ibexa-data-source {
            @include area-invalid();
        }
    }

    .ibexa-field-edit-preview {
        &__file-name-wrapper {
            .ibexa-label {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }

    .ibexa-field-edit-spinner {
        width: calculateRem(32px);
        height: calculateRem(32px);
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;

        .ibexa-icon {
            width: calculateRem(32px);
            height: calculateRem(32px);
            fill: $ibexa-black;
        }
    }
}

.ibexa-field-edit--is-preview-loading {
    position: relative;

    .ibexa-field-edit-spinner {
        display: block;
    }

    .ibexa-field-edit__preview {
        visibility: hidden;
    }

    .ibexa-field-edit__data {
        visibility: hidden;
    }
}
