.ez-field-edit--ezimageasset {
    .ez-field-edit-preview {
        padding: calculateRem(20px) 0 calculateRem(12px) calculateRem(20px);

        &__media {
            max-width: 100%;
            width: auto;
            height: auto;
            display: block;
        }

        &__details {
            color: $ez-color-base-light;
            font-size: calculateRem(12px);
            padding-top: calculateRem(8px);
        }

        &__image-alt {
            margin-top: calculateRem(8px);
        }
    }

    &.is-invalid {
        .ez-field-edit-preview {
            position: relative;

            &:before {
                content: '!';
                position: absolute;
                top: 0;
                left: calculateRem(-20px);
                width: calculateRem(20px);
                background: red;
                color: white;
                text-align: center;
                font-size: calculateRem(24px);
                border-top-left-radius: calculateRem(5px);
                border-bottom-left-radius: calculateRem(5px);
            }
        }
    }

    .ez-field-edit-spinner {
        width: calculateRem(32px);
        height: calculateRem(32px);
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;

        .ez-icon {
            width: calculateRem(32px);
            height: calculateRem(32px);
            fill: $ez-black;
        }
    }
}

.ez-field-edit--is-preview-loading {
    position: relative;

    .ez-field-edit-spinner {
        display: block;
    }

    .ez-field-edit__preview {
        visibility: hidden;
    }

    .ez-field-edit__data {
        visibility: hidden;
    }
}
