.ez-field-edit--ezimage {
    .ez-field-edit-preview {
        padding: 1.25rem 0 1.25rem 1.25rem;

        &__media {
            max-width: 100%;
            width: auto;
            height: auto;
            display: block;
        }

        &__details {
            color: $ez-color-base-light;
            font-size: .75rem;
            padding-top: .5rem;
        }
    }

    &.is-invalid {
        .ez-field-edit-preview {
            position: relative;

            &:before {
                content : '!';
                position: absolute;
                top: 0;
                left: -20px;
                width: 20px;
                background: red;
                color: white;
                text-align: center;
                font-size: 1.5rem;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }
    }

    .ez-data-source__field--alternativeText {
        &.is-invalid {
            .ez-data-source__label-wrapper,
            .ez-data-source__label-wrapper .ez-field-edit__label {
                color: $ez-color-danger;
            }

            .ez-field-edit__error {
                margin-left: 8px;
                display: inline-block;
            }

            .ez-data-source__input {
                background: $ez-color-warning-pale;
            }
        }
    }
}
