.ibexa-field-edit--ezkeyword {
    .ibexa-data-source__taggify {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        min-height: calculateRem(38px);
        padding: 0 calculateRem(8px) calculateRem(4px) calculateRem(4px);

        &.ibexa-data-source__taggify--focused {
            border-color: $ibexa-color-primary;
        }

        &.is-invalid {
            @include input-invalid();
        }
    }

    .taggify__wrapper {
        flex: 1 1 auto;
        order: 2;
    }

    .taggify__input {
        display: block;
        width: 100%;
        height: 100%;
        margin-top: calculateRem(3px);
        border: 0 none;
        outline: none;
        background: transparent;
    }

    .taggify__tags {
        order: 1;
        display: flex;
        flex-wrap: wrap;
    }

    .taggify__tag {
        @include tag;
    }

    .taggify__btn--remove {
        position: absolute;
        right: 0;
        color: $ibexa-color-font;
        background: none;
        border: 0 none;
    }
}
