.ez-field-edit--ezkeyword {
    .ez-data-source__taggify {
        display: flex;
        flex-wrap: wrap;
        height: auto;

        &.ez-data-source__taggify--focused {
            border-color: $ez-color-secondary;
        }

        &.is-invalid {
            background: $ez-color-warning-pale;
        }
    }

    .taggify__wrapper {
        flex: 1 1 auto;
        order: 2;
    }

    .taggify__input {
        border: 0 none;
        width: 100%;
        height: 100%;
        display: block;
        outline: none;
        min-width: 100px;
        background: transparent;
    }

    .taggify__tags {
        order: 1;
        display: flex;
        flex-wrap: wrap;
    }

    .taggify__tag {
        background: $ez-color-secondary;
        padding: calculateRem(4px) 0 calculateRem(4px) calculateRem(8px);
        color: $ez-white;
        margin: 0 calculateRem(8px) 0 0;
        border-radius: calculateRem(4px);
    }

    .taggify__btn--remove {
        color: $ez-white;
        background: none;
        border: 0 none;
        margin-left: calculateRem(6px);
    }

    &.is-invalid {
        .ez-data-source__taggify {
            border: calculateRem(1px) solid $ez-color-danger;
            background: $ez-color-warning-pale;
        }
    }
}
