.ibexa-field-edit--eznoneditable {
    padding: calculateRem(24px) 0;
    border-bottom: calculateRem(1px) solid $ibexa-color-base;

    .col-form-label {
        margin: 0;
        font-weight: normal;
    }

    .non-editable {
        margin-bottom: 0;
        color: $ibexa-color-dark-400;
    }
}
