.ez-field-edit--ezobjectrelation,
.ez-field-edit--ezobjectrelationlist {
    .ez-relations {
        &__cta {
            background: $ez-ground-base-dark;
            padding: calculateRem(32px) 0;
            text-align: center;
        }

        &__cta-text {
            width: 100%;
        }

        &__order-input {
            width: 6ch;
            text-align: center;
        }

        &__table {
            margin-bottom: 0;
            word-break: break-all;
        }

        &__table-header {
            background-color: $ez-ground-primary;

            th {
                vertical-align: middle;
                padding: calculateRem(4px) calculateRem(12px);
                font-size: calculateRem(17px);
            }
        }

        &__table-actions {
            width: calculateRem(170px);
            text-align: right;

            .btn {
                line-height: 0.85;
                padding: calculateRem(8px) calculateRem(5px) calculateRem(8px) calculateRem(10px);
                margin-left: calculateRem(2px);
                margin-right: 0;
            }
        }

        &__item-name {
            max-width: 25vw;
        }

        &__hidden-column {
            display: none;
        }
    }

    .btn {
        padding: calculateRem(6px) calculateRem(20px);
        font-weight: bold;

        .ez-icon {
            margin-right: calculateRem(4px);
        }
    }
}
