.ez-field-edit--ezobjectrelation,
.ez-field-edit--ezobjectrelationlist {
    .ez-relations__cta {
        background: $ez-ground-base-dark;
        padding: 2rem 0;
        text-align: center;
    }

    .btn {
        padding: .4rem 1.25rem;
        font-weight: bold;

        .ez-icon {
            margin-top: .1rem;
            margin-right: .25rem;
            width: 1.5rem;
            height: 1.5rem;
        }

        .ez-relations__cta-btn-label {
            display: inline-block;
            vertical-align: 25%;
        }
    }

    .ez-relations__order-input {
        width: 6ch;
        text-align: center;
    }

    .ez-relations__table {
        margin-bottom: 0;
        word-break: break-all;

        &-header {
            background-color: $ez-ground-primary;

            th {
                vertical-align: middle;
                padding: .25rem .75rem;
                font-size: $h5-font-size;
            }
        }

        &-actions {
            width: 170px;
            text-align: right;

            .btn {
                line-height: .85;
                padding: calculateRem(8px) calculateRem(5px) calculateRem(8px) calculateRem(10px);
                margin-left: .15rem;
                margin-right: 0;
            }
        }
    }

    .ez-relations__item-name {
        max-width: 25vw;
    }
}
