.ez-field-edit--ezrichtext {
    .ez-data-source__input {
        display: none;
    }

    .ez-data-source__richtext {
        background-color: $ez-white;
        min-height: 100px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
        display: inline-block;
        width: 100%;
        padding: 0.5rem;

        .is-block-focused,
        .cke_widget_wrapper.cke_widget_focused > .cke_widget_element {
            outline: 2px dashed $ez-ground-base-dark;
            outline-offset: 1px;
        }

        &.is-invalid {
            background: $ez-color-warning-pale;
            border-color: $ez-color-danger;
        }

        blockquote {
            margin: 1rem 2.5rem;
        }
    }

    [data-ezalign='right'] {
        float: right;
    }

    [data-ezalign='left'] {
        float: left;
    }

    [data-ezalign='center'] {
        text-align: center;
    }

    [data-ezelement='ezconfig'] {
        display: none;
    }

    [data-ezelement='ezembed'] {
        background: $ez-ground-base;
        border: 1px solid $ez-ground-base-dark;
        font-size: 1.1rem;
        display: inline-block;
        margin: 0.5rem 0.3rem;
        padding: 0.3rem;
        box-sizing: border-box;
        line-height: 1;
        min-height: auto;

        .ez-embed-content {
            margin-bottom: 0;
        }
    }

    pre {
        padding: 9.5px;
        line-height: 1.4;
        // NOTE: If you see it as an issue that scrollbars hide on MacOs, consider changing to wrapped:
        //white-space: pre-wrap;
        //text-indent: 1.1em hanging each-line;
        tab-width: 4;
        // Set a slightly different style then embed so it's easy to distinguish
        background-color: $ez-ground-base-pale;
        border: 1px solid $ez-ground-base-medium;
    }

    pre:empty:before {
        // On empty pre avoid broken styling
        content: "\00a0";
        // TODO: This does not avoid the wrong location of the toolbar problem..
    }
}
