.ez-field-edit--ezrichtext {
    .ez-field-edit__error {
        @include error-under-label();
    }

    &.is-invalid {
        .ez-data-source {
            &__richtext,
            .ez-richtext-tools {
                border-left: calculateRem(3px) solid $ibexa-color-danger;
            }
        }
    }

    .ez-data-source {
        &__input {
            display: none;
        }

        &__richtext {
            min-height: calculateRem(100px);
            border-radius: $ibexa-border-radius $ibexa-border-radius 0 0;
            border-color: $ibexa-color-base-dark;
            border-width: calculateRem(1px) calculateRem(1px) 0 calculateRem(1px);

            &.is-invalid {
                background: $ibexa-white;
            }
        }

        .ez-richtext-tools {
            display: flex;
            align-items: center;
            height: calculateRem(40px);
            border: calculateRem(1px) solid $ibexa-color-base-dark;
            border-width: 0 calculateRem(1px) calculateRem(1px) calculateRem(1px);
        }

        .ez-elements-path,
        .ez-character-counter {
            font-size: calculateRem(16px);
            font-weight: normal;
        }
    }
}
