.ez-field-edit--ezselection {
    .ez-data-source {
        position: relative;

        .ez-custom-dropdown {
            &__items {
                max-height: calculateRem(300px);
                overflow-y: auto;
            }
        }
    }
}
