.ez-field-edit--ezselection {
    .ez-data-source {
        position: relative;
        color: $ez-color-base-dark;
        font-weight: bold;
        cursor: pointer;

        &__selected {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            width: 50%;
            border: 1px solid $ez-color-base-pale;
            padding: .1rem 2rem .1rem .1rem;
            border-radius: .25rem;
            position: relative;
            min-height: 2.8rem;
            background-color: $ez-white;

            &:after {
                content: '';
                width: 2rem;
                height: 100%;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                background-color: $ez-color-secondary;
                position: absolute;
                right: 0;
                top: 0;
            }

            &:before {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 5px 0 5px;
                border-color: $ez-white transparent transparent transparent;
                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translate(50%, -50%);
                z-index: 1;
            }

            .selected-item {
                background: $ez-color-secondary;
                width: auto;
                display: inline-block;
                padding: .3rem 2.25rem .3rem .5rem;
                margin: .2rem;
                border-radius: .25rem;
                position: relative;
                color: $ez-white;

                .remove-selection {
                    width: 1rem;
                    height: 1rem;
                    display: inherit;
                    position: absolute;
                    top: 50%;
                    right: .5rem;
                    transform: translateY(-50%);

                    &:before,
                    &:after {
                        content: '';
                        width: .1rem;
                        height: 1rem;
                        background-color: $ez-white;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                    }

                    &:before {
                        transform: translate(50%, -50%) rotate(-45deg);
                    }

                    &:after {
                        transform: translate(50%, -50%) rotate(45deg);
                    }
                }
            }

            &.is-invalid {
                background: $ez-color-warning-pale;
                border-color: $ez-color-danger;
            }
        }

        &__options {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            position: absolute;
            top: 100%;
            transform: scaleY(1);
            transform-origin: top center;
            transition: all .2s $ez-admin-transition;
            width: 50%;
            border: 1px solid $ez-ground-primary;
            background-color: $ez-white;
            color: $ez-black;
            z-index: 2;

            &--hidden {
                transform: scaleY(0);
            }

            .option-item {
                padding: .2rem .5rem;
                min-height: 1.875rem;

                &.option-selected {
                    background-color: $ez-ground-primary;
                }
            }
        }
    }
}
