.ibexa-field-edit--ezselection {
    .ibexa-data-source {
        position: relative;

        .ibexa-dropdown {
            &__wrapper {
                max-width: calculateRem(550px);
            }

            &__selection-info {
                width: 100%;
            }

            &__items {
                max-height: calculateRem(300px);
                max-width: calculateRem(550px);
                overflow-y: auto;
                width: 100%;
            }
        }
    }
}
