.ibexa-field-edit--ezurl {
    .ez-field-edit__data {
        background-color: $ibexa-white;
    }

    .ibexa-data-source {
        display: flex;

        &__field {
            &--link {
                margin-right: calculateRem(52px);
            }
        }
    }
}
