.ez-field-edit--ezurl {
    .ez-field-edit__data {
        background-color:  $ez-ground-base;
        padding: 1rem;
    }

    &.is-invalid {
        .ez-data-source__field--link {
            color: $ez-color-danger;
        }
    }
}
