.ez-field-edit--ezuser {
    .ez-field-edit__data {
        background: $ibexa-white;

        .ez-data-source {
            max-width: 30%;
        }
    }

    .ez-field-edit__error {
        margin-bottom: calculateRem(8px);
    }
}
