.ez-field-edit--ezuser {
    .ez-field-edit__data {
        background: $ez-ground-base;
        padding: 10px 16px;

        .ez-data-source {
            max-width: 30%;
        }
    }

    .ez-data-source__input-wrapper {@include checkbox-switcher()}
}
