{% extends "@EzPlatformAdminUi/layout.html.twig" %}

{% trans_default_domain 'systeminfo' %}

{% block breadcrumbs %}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans([], 'messages') },
        { value: 'systeminfo'|trans|desc('System Info') }
    ]} %}
{% endblock %}

{% block pageTitle %}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'systeminfo'|trans|desc('System Info'),
        iconName: 'information'
    } %}
{% endblock %}

{% block content %}
    <section class="container mt-5">
        <div class="card border-light mb-3">
            <div class="card-body">
                {{ ez_platform_tabs('systeminfo') }}
            </div>
        </div>
    </section>
{% endblock %}

{% block title %}{{ 'systeminfo.title'|trans }}{% endblock %}
