{% import '@ezdesign/ui/component/macros.html.twig' as macros %}

<li class="ibexa-popup-menu__item {{ class|default('') }}">
	<button type="button" class="ibexa-popup-menu__item-content {{ content_class|default('') }}" {{ macros.attributes(action_data_attr|default({})) }}>{{ label }}</button>
</li>
